{% extends 'common/base.html' %}

{% block content %}


 <style>
#modal {
<!--  display:none;-->
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
}

#modal h2 {
  margin:0;
}

#modal input {
  width : 100%;
  border: 0;
  border-bottom: 1px solid #0489B1;
  outline : 0;
}

#modal button {
  display:inline-block;
  width:33%;
  margin-center:calc(100% - 100px - 10px);
  float:left;
  color: blue;
  background-color: rgba(0,0,0,0);
  border: 0;
  outline : 0;

}

#modal .modal_content {
  width:600px;
  margin:100px auto;
  padding:0px 40px;
  background:#fff;
  border:2px solid #666;
}

#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgb(0, 0, 0, 0.5);
  z-index:-1;
}


</style>

<div id="modal">

    <div class="modal_content">
            <h2 style = "font-weight:bold"><U>개발자 등록</U></h2><br>
        <div id = developerEnrollment>
            <span style="color: #0489B1;
                         font-size: 1.0em;
                         padding:20px;">
                <p>사번<br>
                    <input type = "text" id = "emp_no" name = "emp_no" style = "display:none"></p>

                <p>*성명<br>
                    <input type = "text" id = "name" name = "name" placeholder="input text"></p>

                <p>직급<br>
                    <select size ="1" width="50px" id = "rank" name = "rank" class = "col-sm-2">
                        <option>선택</option>
                        <option value = "04">책임</option>
                        <option value = "05">선임</option>
                        <option value = "06">사원</option>
                    </select></p>

                <p>*등급<br>
                    <select size ="1" width="50px" id = "grd" name = "grd" class = "col-sm-2">
                        <option value = "01">초</option>
                        <option value = "02">중</option>
                        <option value = "03">고</option>
                    </select></p>

                <p>*구분<br>
                    <select size ="1" width="50px" id = "divs" name = "divs" class="col-sm-2">
                        <option value = "02">프리</option>
                        <option value = "03">외주</option>
                    </select></p>

                <p>*연락처<br>
                        <input type = "text" id = "tlno1" name = "tlno1" style = "width : 20%" placeholder="000" size="6">
                        - <input type = "text" id = "tlno2" name = "tlno2" style = "width : 20%" placeholder="0000" size="6">
                        - <input type = "text" id = "tlno3" name = "tlno3" style = "width : 20%" placeholder="0000" size="6"></p>

                <p>*소속사<br>
                    <input type = "text" id = "blco" name = "blco" placeholder="input text"></p>

                <p>*생년월일<br>
                    <input type = "date" id = "bday" name = "bday" style = "width : 50%"></p>

                <p>비고<br>
                    <input type = "text" id = "rmks" name = "rmks" placeholder="input text" style="width:500px"></p>


            </span>
            </div>
            <hr>

                    <button type="button" id="modal_close_btn">취소</button>
                    <button type="button" id="modal_save_btn">저장</button>
                    <button type="button" id="modal_delete_btn" style="color:red">삭제</button>
    </div>

<script>
    $(document).ready(function() {
        temp=location.href.split("?");
        data = temp[1].split("=");
        emp_no = data[1];
        $('#emp_no').val(emp_no);

        if(emp_no != null){
            console.log('emp_no is not null');
            retrieveDevInfo();
        } else{
            console.log('emp_no is null')
        }
    });

    function retrieveDevInfo(){
            $('#developerEnrollment').ajaxCall({
                 method : 'GET',
                 url : "{% url 'skil_api:retrieveDevInfo' %}",
                 callbackFn : function(data){
                    $('#name').val(data[0].EMP_NAME);
                    $('#rank').val(data[0].EMP_RANK_CD);
                    $('#grd').val(data[0].DEVP_GRD_CD);
                    var tlno = data[0].DEVP_TEL_NO.split('-');
                    var tlno1 = tlno[0];
                    var tlno2 = tlno[1];
                    var tlno3 = tlno[2];
                    $('#tlno1').val(tlno1);
                    $('#tlno2').val(tlno2);
                    $('#tlno3').val(tlno3);
                    $('#divs').val(data[0].CNTC_DIVS_CD);
                    $('#blco').val(data[0].DEVP_BLCO);
                    $('#bday').val(data[0].DEVP_BDAY);
                    $('#rmks').val(data[0].RMKS);
                 }
            });
    };


    document.getElementById("modal_close_btn").onclick = function() {
        window.history.back();
    }


     $('#modal_save_btn').click(function(){
            console.log('저장');
            confirmMsg('저장 하시겠습니까?', function(){
                    $('#developerEnrollment').ajaxCall({
                    method : 'POST',
                    url : '/skil/devSave/post',
                    callbackFn : function(data){
                       g_toast.push('저장 되었습니다.');
                    }
                });

            });
     });

     $('#modal_delete_btn').click(function(){
            console.log('삭제');
            confirmMsg('삭제 하시겠습니까?', function(){
                    $('#developerEnrollment').ajaxCall({
                    method : 'POST',
                    url : '/skil/devDelete/post',
                    callbackFn : function(data){
                       g_toast.push('삭제 되었습니다.');
                    }
                });

            });
     });

</script>

    <div class="modal_layer"></div>
</div>

{% endblock %}