{% extends 'common/base.html' %}

{% block content %}


 <style>
#modal {
  display:none;
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
}

#modal h2 {
  margin:0;
}

#modal button {
  display:inline-block;
  width:100px;
  margin-left:calc(100% - 100px - 10px);
}

#modal .modal_content {
  width:600px;
  margin:100px auto;
  padding:20px 10px;
  background:#fff;
  border:2px solid #666;
}

#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgb(0, 0, 0, 0.5);
  z-index:-1;
}
</style>




<div id="root">
   
    <button type="button" id="modal_open_btn">개발자 등록</button>
       
</div>

<div id="modal">

    <div class="modal_content">
            <h2 style = "font-weight:bold"><U>개발자 등록</U></h2><br>
        <span style="color: blue;
                     font-size: 1.0em;
                     padding:20px;">
<!--            마리아 DB 연동-->
<!--            <a id="result"></a><br>-->

            <p>성명<br>
                <input type = "text" name = "name" placeholder="input text"></p>

            <p>직급<br>
                <input type = "text" name = "rank" placeholder="input text"></p>

            <p>등급<br>
                <select size ="1" name = "rating">
                    <option value = "초">초</option>
                    <option value = "중">중</option>
                    <option value = "고">고</option>
                </select></p>

            <p>연락처<br>
                <select size ="1" name = "phoneNumber">
                    <option value = "010">010</option>
                    <option value = "011">011</option>
                    <option value = "016">012</option>
                </select>
                - <input type = "text" placeholder="0000" size="6">
                - <input type = "text" placeholder="0000" size="6"></p>

            <p>소속사<br>
                <input type = "text" name = "agency" placeholder="input text"></p>

            <p>생년월일<br>
                <input type = "date" name = "birth"></p>

            <p>비고<br>
                <input type = "text" name = "remark" placeholder="input text" style="width:500px"></p>
        </span>

        <p>구분<br>
            <input type = "radio" name = "division" value = "외주"> 외주
            <input type = "radio" name = "division" value = "프리"> 프리</p><br>

        <div style="float: left; padding: 10px; width: 30%;">
            <button type="button" id="modal_close_btn">취소</button>
        </div>
        <div style="float: left; padding: 10px; width: 30%;">
            <button type="submit" id="modal_save_btn">저장</button>
        </div>
        <div style="float: left; padding: 10px; width: 30%;">
            <button type="button" id="modal_delete_btn">삭제</button>
        </div>
<!--    </form>-->

<!--        <div class="button">-->
<!--            <button type="button" id="modal_close_btn">취소</button>-->
<!--            <button type="button" id="modal_save_btn">저장</button>-->
<!--            <button type="button" id="modal_delete_btn">삭제</button>-->
<!--        </div>-->
     
    </div>

<script>
    document.getElementById("modal_open_btn").onclick = function() {
        document.getElementById("modal").style.display="block";
    }

    document.getElementById("modal_close_btn").onclick = function() {
        document.getElementById("modal").style.display="none";
    }

    $(document).ready(function(){
                console.log('???')
                $.ajaxCall({}, {
                 method : 'get',
                 url : "{% url 'skil_api:getMariaDB' %}",
                 async : false,
                 callbackFn : function(data){
                    console.log('call')
                    data[0]
                    $('#result').text('name : '+data[0].NAME + ' / RMKS : '+data[0].RMKS)


                 }
            });
        });


</script>

   
    <div class="modal_layer"></div>
</div>










{% endblock %}