<!--  ********************************************
grid sample
history
    - 2020.09 김경민 최초작성
*********************************************** -->
{% extends 'common/base.html' %}

{% block content %}
<script type="text/javascript" xmlns:max-width="http://www.w3.org/1999/xhtml">
        $(document).ready(function(){
            var firstGrid = $('[data-ax5grid="first-grid"]');

            getGridList(1);

            function getGridList(page){

                $('#formSearchDiv').ajaxCall({
                    method : 'GET',
                    url : "{% url 'skil_api:devMgmtSearch' %}",
                    callbackFn : function(data){

                    var gridList = data; /* 그리드에 세팅할 데이터는 JSON 배열 형태 */

                    var gridOptions = {
                        columns: [              /* columns : 그리드 헤더 및 매핑 시킬 컬럼 및 컬럼 속성 설정 항목(필수) */
                        { key: "EMP_NAME",   label: "성명",       width: 100,  align: "center"},
                        { key: "DEVP_BLCO",   label: "부서",       width: 80,   align: "center"},
                        { key: "DEVP_GRD_CD",    label: "등급",       width: 80,   align: "center"},
                        { key: "CNTC_DIVS_CD",    label: "구분",         width: 80,   align: "center"},
                        { key: "EMP_NO",     label: "사번",       width: 80,   align: "center", hidden : true}
                        ]
                    };
                    firstGrid = $('[data-ax5grid="first-grid"]');
                    firstGrid = firstGrid.initGrid(gridOptions);
                    firstGrid.setData(gridList);
                    }
                });
            }

            function makePaging(ret){
                $('#paging_navi').makePagingNavi(ret, 'getGridList');

            }


            $('#searchBtn').click(function(){
                getGridList(1);
            });

            /* 개발자추가 선택 */
           $('#devSaveBtn').click(function(){

                if(firstGrid.getList("selected").length == 0){
                    alertMsg("선택된 행이 없습니다.");
                    return false;
                } else{
                    alertMsg("(작성예정)선택된 행 값 넘겨주기");
                    var empNo = firstGrid.getList("selected")[0].EMP_NO;
                    location.href = '/skil/devEnrl?emp_No='+empNo
                }
            });
        });
    </script>

    <style>

    </style>
    <div class="row">
                <div class="col-sm-12">
                    <div id="formSearchDiv">
                        <h3>개발자 목록조회 <a href="http://ax5.io/ax5ui-grid/api/index.html" class="badge badge-info"></a></h3>
                        <div id="formDiv">
                            <div class="form-row" style="padding-bottom:9px">
                                <label class="col-sm-1" style="max-width:50px;">부서</label>
                                <select class="col-sm-2" name="devpBlco">
                                    <option selected></option>
                                    <option value="1">통신</option>
                                    <option value="2">전자</option>
                                </select>
                                <div class="col-sm-1" style="padding-left:760px;">
                                <button class="btn btn-primary" id="searchBtn" style="width:120px">조회</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <label class="col-sm-2" style="max-width:50px;">성명</label>
                                <input class="col-sm-2" type="text" name="empName" maxlength="50" placeholder="이름을 입력하세요." >
                            </div>
                            <div class="form-row" style="padding-top:9px;">
                                <label class="col-sm-1" style="max-width:50px;">구분</label>
                                <select class="col-sm-2" name="devpDivsCd">
                                    <option selected></option>
                                    <option value="1">정규직</option>
                                    <option value="2">프리랜서</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <h3>목록조회<a class="badge badge-info"></a></h3>
                    </div>
                    <div style="position: relative;height:400px;" id="grid-parent">
                        <div data-ax5grid="first-grid" style="height: 100%;"></div>
                        <div id="paging_navi"></div>
                    </div>
                    <div style="float: right; padding-top :10px;">
                        <button class="btn btn-primary" id="devSaveBtn" >작업자추가</button>
                    </div>
                </div>
    </div>
{% endblock %}