<!--  ********************************************
grid sample
history
    - 2020.08 김은희 최초작성
*********************************************** -->
{% extends 'common/base.html' %}

{% block content %}
{% load static %}

<style>
#modal input {
  width : 100%;
  border: 0;
  border-bottom: 1.5px solid #0489B1;
  outline : 0;
}

#skilRegModal {
     width:40%;
     height:80%;
     overflow-y: scroll;
}
</style>
<div class="container">
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}"/>
    <script type="text/javascript">
        var firstGrid;
        $(document).ready(function(){
            firstGrid = $('[data-ax5grid="first-grid"]');

            <!--    공통코드 조회    -->
            retrieveCmmCd('dept', 'SLIN_BZDP');
            retrieveCmmCd('skilKind', 'SKIL_DIVS_CD');
            retrieveCmmCd('division', 'CNTC_DIVS_CD');

            var gridOptions = {
                columns: [              /* columns : 그리드 헤더 및 매핑 시킬 컬럼 및 컬럼 속성 설정 항목(필수) */
                { key: "EMP_NAME",     label: "성명",       width: 100,  align: "center"},
                { key: "DEPT_NM",      label: "부서",       width: 80,   align: "center"},
                { key: "CNTC_DIVS_NM", label: "계약구분",   width: 80,   align: "center"},
                { key: "SKIL_DB",      label: "DB",         width: 120,   align: "center"},
                { key: "SKIL_LANG",    label: "언어",       width: 120,  align: "center"},
                { key: "SKIL_WEB",     label: "WEB",        width: 120,  align: "center"},
                { key: "SKIL_FRAME",   label: "FRAME WORK", width: 120,  align: "center"},
                { key: "SKIL_MID",     label: "MID-WARE",   width: 120,  align: "center"},
                { key: "DEVP_TEL_NO",  label: "연락처",     width: 110,   align: "center"},
                { key: "DEVP_BDAY",    label: "생년월일",   width: 85,   align: "center", /* 숨김처리 hidden : true */},
                { key: "EMP_NO",       label: "사번",       width: 80,   align: "center", hidden : true},
                { key: "CNTC_DIVS_CD", label: "구분코드",   width: 80,   align: "center", hidden : true}
                ]
            };
            firstGrid = $('[data-ax5grid="first-grid"]').initGrid(gridOptions);

            $('#searchBtn').click(function(){
                getGridList(1);
            });

            /* 스킬상세관리 선택 */
            $('#skillDetlMentBtn').click(function(){
                if(firstGrid.getList("selected").length == 0){
                    alertMsg("선택된 행이 없습니다.");
                    return false;
                } else{
                    modal('skilRegModal');
                    $("#skilRegModal2").load("{% url 'skil_api:skilRegPopup' %}");
                }
            });

            getGridList(1);
        });

        function makePaging(ret){
            $('#paging_navi').makePagingNavi(ret, 'getGridList');
        }

        function getGridList(page){
            var options = {
                method : 'get',
                url : "{% url 'skil_api:skilMgmtSearch' %}",
                callbackFn :  function(ret){
                    if(ret.list.length == 0){
                        alertMsg('데이터가 없습니다.');
                        firstGrid.setData([]);
                        return false;
                    }
                    firstGrid.setData(ret.list);
                    firstGrid.select(0);

                    makePaging(ret);
                }
            };

            $.ajaxCall({ page : page,
                         dept : $('[name="dept"]').val(),
                         name : $('[name="name"]').val(),
                         division : $('[name="division"]').val(),
                         skilKind : $('[name="skilKind"]').val(),
                         skil : $('[name="skil"]').val()
                         }, options);
        }

        function retrieveCmmCd(sbx_id, grp_id){
            var param = {
                "sbx_id" : sbx_id,
                "grp_id" : grp_id
            }

             $.ajaxCall( param, {
                     method : 'GET',
                     'url' : '/skil/retrieveCmmCd/',
                     'dataType' : 'json',
                     'data' : JSON.stringify(param),
                     'async' : false,
                     'callbackFn' : function(data){
                        for(var i = 0; i < data.length; i++){
                            var option = $("<option value = "+data[i].CMM_CD+">"+data[i].CMM_CD_NAME+"</option>");
                            $('#'+sbx_id).append(option);
                        }
                     }
                });
         };


    </script>
    <div id="skilRegModal" class="modalUi">
        <div id="skilRegModal2">
        </div>
        <a class="modal_close_btn">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
               <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>
    </div>
    <div class="row">
                <div class="col-sm-12">
                    <div id="formSearchDiv">
                        <h3>스킬 관리 <a href="http://ax5.io/ax5ui-grid/api/index.html" class="badge badge-info"></a></h3>
                        <div id="formDiv">
                            <div class="form-row" style="padding-bottom:9px">
                                <label class="col-sm-1" style="max-width:50px;">부서</label>
                                <select class="col-sm-2" name="dept" id="dept">
                                    <option value = "">선택</option>
                                </select>
                                <div class="col-sm-1" style="padding-left:760px;">
                                <button class="btn btn-primary" id="searchBtn" style="width:120px">조회</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <label class="col-sm-2" style="max-width:50px;">성명</label>
                                <input class="col-sm-2" type="text" name="name" maxlength="50" placeholder="이름을 입력하세요." >
                            </div>
                            <div class="form-row" style="padding-top:9px;">
                                <label class="col-sm-1" style="max-width:50px;">구분</label>
                                <select class="col-sm-2" name="division" id ="division">
                                    <option value = "">선택</option>
                                </select>
                            </div>
                            <div class="form-row" style="padding-top:9px;">
                                <label class="col-sm-1" style="max-width:50px;">스킬</label>
                                <select class="col-sm-2" id="skilKind" name="skilKind">
                                    <option value = "">선택</option>
                                </select>
                                <label style="width:30px"></label>
                                <input style="width:237px" type="text" id="skil" name="skil" maxlength="50" placeholder="내용을 입력해주세요." >
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h3>목록조회<a class="badge badge-info"></a></h3>
                        </div>
                        <div style="position: relative;height:400px;" id="grid-parent">
                            <div data-ax5grid="first-grid" style="height: 100%;"></div>
                            <div id="paging_navi"></div>
                            <button class="btn btn-primary" id="skillDetlMentBtn" style="float: right; padding-top :10px;">스킬상세관리</button>
                        </div>
                    </div>
                </div>
    </div>
</div>
{% endblock %}