<!--  ********************************************
grid sample
history
    - 2020.08 김은희 최초작성
*********************************************** -->
{% extends 'common/base.html' %}

{% block content %}
    <script type="text/javascript" xmlns:max-width="http://www.w3.org/1999/xhtml">
        var firstGrid;
        $(document).ready(function(){
            firstGrid = $('[data-ax5grid="first-grid"]');

            var gridOptions = {
                columns: [              /* columns : 그리드 헤더 및 매핑 시킬 컬럼 및 컬럼 속성 설정 항목(필수) */
                { key: "EMP_NAME",   label: "성명",       width: 100,  align: "center"},
                { key: "EMP_DEPT",   label: "부서",       width: 80,   align: "center"},
                { key: "EMP_GRD",    label: "구분",       width: 80,   align: "center"},
                { key: "SKIL_DB",    label: "DB",         width: 80,   align: "center"},
                { key: "SKIL_LANG",  label: "언어",       width: 120,  align: "center"},
                { key: "SKIL_WEB",   label: "WEB",        width: 120,  align: "center"},
                { key: "SKIL_FRAME", label: "FRAME WORK", width: 120,  align: "center"},
                { key: "SKIL_MID",   label: "MID-WARE",   width: 120,  align: "center"},
                { key: "EMP_PHONE",  label: "연락처",     width: 80,   align: "center"},
                { key: "EMP_BIRTH",  label: "생년월일",   width: 80,   align: "center", /* 숨김처리 hidden : true */},
                { key: "EMP_NO",     label: "사번",       width: 80,   align: "center", hidden : true},
                { key: "DIVS",       label: "구분코드",   width: 80,   align: "center", hidden : true}
                ]
            };
            firstGrid = $('[data-ax5grid="first-grid"]').initGrid(gridOptions);

            $('#searchBtn').click(function(){
                getGridList(1);
            });

            /* 스킬상세관리 선택 */
            $('#skillDetlMentBtn').click(function(){
                if(firstGrid.getList("selected").length == 0){
                    alertMsg("선택된 행이 없습니다.");
                    return false;
                } else{
                    alertMsg("(작성예정)선택된 행 값 넘겨주기");
                    var empNo = firstGrid.getList("selected")[0].EMP_NO;
                    var empGrd = firstGrid.getList("selected")[0].DIVS;
                    location.href = '/skil/skilMgmtDetl?empNo='+empNo+'&empGrd='+empGrd
                }
            });

            getGridList(1);
        });

        function makePaging(ret){
            $('#paging_navi').makePagingNavi(ret, 'getGridList');
        }

        function getGridList(page){
            var options = {
                method : 'get',
                url : "{% url 'skil_api:skilMgmtSearch' %}",
                callbackFn :  function(ret){
                    if(ret.list.length == 0){
                        alertMsg('데이터가 없습니다.');
                        firstGrid.setData([]);
                        return false;
                    }
                    firstGrid.setData(ret.list);
                    firstGrid.select(0);

                    makePaging(ret);
                }
            };

            $.ajaxCall({ page : page,
                         dept : $('[name="dept"]').val(),
                         name : $('[name="name"]').val(),
                         division : $('[name="division"]').val(),
                         skilKind : $('[name="skilKind"]').val(),
                         skil : $('[name="skil"]').val()
                         }, options);
        }



    </script>

    <style>

    </style>
    <div class="row">
                <div class="col-sm-12">
                    <div id="formSearchDiv">
                        <h3>스킬 관리 <a href="http://ax5.io/ax5ui-grid/api/index.html" class="badge badge-info"></a></h3>
                        <div id="formDiv">
                            <div class="form-row" style="padding-bottom:9px">
                                <label class="col-sm-1" style="max-width:50px;">부서</label>
                                <select class="col-sm-2" name="dept">
                                    <option selected></option>
                                    <option value="01">FIC</option>
                                    <option value="02">전자/제조</option>
                                    <option value="03">통신</option>
                                    <option value="04">화학</option>
                                    <option value="05">전략</option>
                                    <option value="06">DX</option>
                                </select>
                                <div class="col-sm-1" style="padding-left:760px;">
                                <button class="btn btn-primary" id="searchBtn" style="width:120px">조회</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <label class="col-sm-2" style="max-width:50px;">성명</label>
                                <input class="col-sm-2" type="text" name="name" maxlength="50" placeholder="이름을 입력하세요." >
                            </div>
                            <div class="form-row" style="padding-top:9px;">
                                <label class="col-sm-1" style="max-width:50px;">구분</label>
                                <select class="col-sm-2" name="division">
                                    <option selected></option>
                                    <option value="1">정규직</option>
                                    <option value="2">프리랜서</option>
                                </select>
                            </div>
                            <div class="form-row" style="padding-top:9px;">
                                <label class="col-sm-1" style="max-width:50px;">스킬</label>
                                <select class="col-sm-2" id="skilKind" name="skilKind">
                                    <option selected></option>
                                    <option value="1">DB</option>
                                    <option value="2">언어</option>
                                    <option value="3">WEB</option>
                                    <option value="4">FRAME WORK</option>
                                    <option value="5">MID-WARE</option>
                                </select>
                                <label style="width:30px"></label>
                                <input style="width:237px" type="text" id="skil" name="skil" maxlength="50" placeholder="내용을 입력해주세요." >
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h3>목록조회<a class="badge badge-info"></a></h3>
                        </div>
                        <div style="position: relative;height:400px;" id="grid-parent">
                            <div data-ax5grid="first-grid" style="height: 100%;"></div>
                            <div id="paging_navi"></div>
                            <button class="btn btn-primary" id="skillDetlMentBtn" style="float: right; padding-top :10px;">스킬상세관리</button>
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}