{% extends 'common/base.html' %}

{% block content %}
    <script type="text/javascript">
        var grpGrid;
        var codeGrid;

        $(document).ready(function(){
            var grpGridOpt = {
                columns: [
                    {
                        key : "grp_cd",
                        label : '코드그룹',
                        editor : {
                            type : 'text',
                            disabled : function(){
                                return !this.item.__created__;
                            }
                        }
                    },
                    {key : "grp_nm", label : '코드그룹명', width : "*", editor : {type : 'text'}},
                    {key : "sort_ord", label : '정렬순서', editor : {type : 'money'}}
                ],
                body : {
                    onClick : function(){
                        if(grpGrid.getList("selected")[0].__created__){
                            codeGrid.setData([]);
                            return false;
                        }
                        if(this.dindex != this.beforeindex) getCodeList();
                    }
                }
            };

            var codeGridOpt = {
                columns: [
                    {
                        key : "cmm_cd",
                        label : '코드',
                        editor : {
                            type : 'text',
                            disabled : function(){
                                return !this.item.__created__;
                            }
                        }
                    },
                    {key : "cmm_nm", label : '코드명', width : "*",editor : {type : 'text'}},
                    {key : "sort_ord", label : '정렬순서', editor : {type : 'money'}},
                    {key : "grp_cd", label : '', width: 0},
                    {key : "id", label : '', width: 0}
                ]
            };

            grpGrid = $('[data-ax5grid="grp-grid"]').initGrid(grpGridOpt);
            codeGrid = $('[data-ax5grid="code-grid"]').initGrid(codeGridOpt);

            $('#grpAddBtn').click(function(){
                grpGrid.addRow({grp_cd: '', grp_nm: '', sort_ord: grpGrid.list.length + 1}, 'last');
            });
            $('#grpSaveBtn').click(function(){
                if(grpGrid.getList("modified").length == 0){
                    alertMsg('수정 및 추가된 행이 없습니다.');
                    return false;
                }

                confirmMsg('저장 하시겠습니까?', function(){
                    var updateList = grpGrid.getList('modified');

                    $.ajaxCall(updateList, {
                        url : '{% url 'cmm_api:saveGrp' %}',
                        method : 'post',
                        callbackFn : function(data){
                            g_toast.push('저장 되었습니다.');
                            getGrpList(1);
                        }
                    });
                });
            });
            $('#grpDelBtn').click(function(){
                if(grpGrid.getList("selected").length == 0){
                    alertMsg('선택된 행이 없습니다.');
                    return false;
                }

                confirmMsg('삭제 하시겠습니까?', function(){
                    if(grpGrid.getList("selected")[0].__created__) grpGrid.removeRow("selected");
                    else{
                        var delList = grpGrid.getList('selected');

                        $.ajaxCall(delList, {
                            url : '{% url 'cmm_api:deleteGrp' %}',
                            method : 'post',
                            callbackFn : function(data){
                                g_toast.push('삭제 되었습니다.');
                                getGrpList(1);
                            }
                        });
                    }
                });
            });

            $('#cdAddBtn').click(function(){
                codeGrid.addRow({cmm_cd: '', cmm_nm: '', sort_ord: codeGrid.list.length + 1, grp_cd: grpGrid.getList('selected')[0].grp_cd}, 'last');
            });
            $('#cdSaveBtn').click(function(){
                if(codeGrid.getList("modified").length == 0){
                    alertMsg('수정 및 추가된 행이 없습니다.');
                    return false;
                }

                confirmMsg('저장 하시겠습니까?', function(){
                    var updateList = codeGrid.getList('modified');

                    $.ajaxCall(updateList, {
                        url : '{% url 'cmm_api:saveCd' %}',
                        method : 'post',
                        callbackFn : function(data){
                            g_toast.push('저장 되었습니다.');
                            getCodeList();
                        }
                    });
                });
            });
            $('#cdDelBtn').click(function(){
                if(codeGrid.getList("selected").length == 0){
                    alertMsg('선택된 행이 없습니다.');
                    return false;
                }

                confirmMsg('삭제 하시겠습니까?', function(){
                    if(codeGrid.getList("selected")[0].__created__) codeGrid.removeRow("selected");
                    else{
                        var delList = codeGrid.getList('selected');

                        $.ajaxCall(delList, {
                            url : '{% url 'cmm_api:deleteCd' %}',
                            method : 'post',
                            callbackFn : function(data){
                                g_toast.push('삭제 되었습니다.');
                                getCodeList();
                            }
                        });
                    }
                });
            });

            getGrpList(1);
        });

        function makePaging(ret){
            $('#paging_navi').makePagingNavi(ret, 'getGrpList');
        }

        function getGrpList(page){
            var options = {
                method : 'get',
                url : "{% url 'cmm_api:getCodeGrps' %}",
                callbackFn :  function(ret){
                    grpGrid.setData(ret.list);
                    grpGrid.select(0);

                    makePaging(ret);
                    getCodeList();
                }
            };

            $.ajaxCall({page : page}, options);
        }

        function getCodeList(){
            var grp = new Array();
            grp.push(grpGrid.getList('selected')[0].grp_cd);
            getCodes(grp, function(data){
                codeGrid.setData(data[grpGrid.getList('selected')[0].grp_cd]);
            });
        }


    </script>
        <div class="row">
            <div class="col-sm-12">
                <blockquote class="blockquote">
                  <p class="h1">Code Management</p>
                  <footer class="blockquote-footer">COMMON Part in <cite title="Source Title">IFG-IMS</cite></footer>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-12" style="text-align:right; margin-bottom:5px;">
                        <button id="grpAddBtn" type="button" class="btn btn-primary">추가</button>
                        <button id="grpSaveBtn" type="button" class="btn btn-primary">저장</button>
                        <button id="grpDelBtn" type="button" class="btn btn-danger">삭제</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div data-ax5grid="grp-grid" style="height: 442px;"></div>
                        <div id="paging_navi"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12" style="text-align:right; margin-bottom:5px;">
                        <button id="cdAddBtn" type="button" class="btn btn-primary">추가</button>
                        <button id="cdSaveBtn" type="button" class="btn btn-primary">저장</button>
                        <button id="cdDelBtn" type="button" class="btn btn-danger">삭제</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div data-ax5grid="code-grid" style="height: 442px;"></div>
                    </div>
                </div>

            </div>
        </div>


{% endblock %}