<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- 모바일 -->
        {% load static %}
        <link href="{% static 'css/bootstrap-4.4.1.min.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <link href="{% static 'css/ax5calendar.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5combobox.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5dialog.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5formatter.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5grid.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5mask.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5modal.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5picker.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5select.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5toast.css' %}" rel="stylesheet"/>

        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-4.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5core.js' %}?{% now 'YmdHis' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5calendar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5combobox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5dialog.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5formatter.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5grid.js' %}?{% now 'YmdHis' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5mask.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5modal.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5picker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5toast.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-util.js' %}?{% now 'YmdHis' %}"></script>

        <script type="text/javascript">
            $(document).ready(function(){

            });

        </script>
        <title>IFG-IMS</title>
    </head>
    <body>
        <div class="d-flex align-items-center px-md-4 border-bottom shadow-sm" style="position: relative; width : 100%; min-width : 1920px; white-space : nowrap; border-bottom:1px solid #D8D8D8;">

            <div style="margin : 0 auto; width : 1800px;">
                <div style="float: left; margin-top: 20px;">
                    <img width="200px" height="50px"  src="{% static 'image/infogen_logo.jpg' %}">
                </div>
                <div style="float: left; margin-left : 120px;">
                    <table cellpadding="10">
                        <tbody>
                        <tr id="mainMenuTrId" style="height : 85px;">
                        </tr>
                        </tbody>
                    </table>
                </div>

<!--
                {% if 'localhost:8000' in request.build_absolute_uri and '/main/sample/' not in request.build_absolute_uri %}
                    <a class="p-2 text-white" style="float: left;" href="{% url 'main:sample' sample='date' %}">Component Sample</a>
                {% endif %}
                {#{% if 'localhost:8000' in request.build_absolute_uri and '/main/sample/' in request.build_absolute_uri %}#}
                    <nav class="my-2 my-md-0 mr-md-3" style="float: left;">
                        <a class="p-2 text-dark" href="{% url 'main:sample' sample='date' %}">Calendar & Datepicker</a>
                        <a class="p-2 text-dark" href="{% url 'main:sample' sample='select' %}">Select & Combobox</a>
                        <a class="p-2 text-dark" href="{% url 'main:sample' sample='popup' %}">Diallog & Modal & Toast</a>
                        <a class="p-2 text-dark" href="{% url 'main:sample' sample='format' %}">Mask & Formatter</a>
                        <a class="p-2 text-dark" href="{% url 'main:sample' sample='grid' %}">Grid</a>
                          <a class="p-2 text-dark" href="{% url 'main:sample' sample='ajax' %}">Ajax</a>
                        <a class="p-2 text-dark" href="https://getbootstrap.com/docs/4.4/getting-started/introduction/">Bootstrap</a>
                      </nav>
                {#{% endif %}#}-->
                <div class="d-flex flex-row-reverse" style="margin-top: 20px;">
                    {% if user.is_authenticated %}
                        <a class="btn btn-outline-secondary btn-lg" style="float: left; margin-left:5px;"  href="{% url 'main:signout' %}">Sign Out</a>
                    {% else %}
                        <a class="btn btn-outline-secondary btn-lg" style="float: left; margin-left:5px"  href="{% url 'main:login_form' %}">Sign In</a>
                    {% endif %}
                    {% if '/main/index' not in request.build_absolute_uri %}
                        <a class="btn btn-outline-secondary btn-lg" style="float: left; margin-right: 20px; margin-left:5px"  href="/">Home <i class="fa fa-home"></i></a>
                    {% endif %}
                </div>

            </div>
        </div>
        <!--<div style="width:100%;height:90px;"></div>-->
        <div style="width : 100%; min-width : 1920px;">
            <div style="margin : 0 auto; width : 1800px; display: flex;">

                <div style="width : 300px; background-color : #ededed; margin-right : 50px">
                    <table style="border: 1px solid #D8D8D8; width : 300px;" border="1">
                        <tr style="height : 80px; background-color : #ffffff; border-bottom : 1px solid red;">
                            <td style="font-size:18px; color:red; font-weight: 600;">근무시간관리</td>
                        </tr>
                        <tr style="height : 80px">
                            <td style="font-size:18px;  font-weight: 600;">직원조회</td>
                        </tr>
                    </table>
                </div>
                <div style="width : 1450px; margin-top : 100px;">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <div style="width : 100%; min-width : 1920px;">
            {% include 'common/footer.html' %}
        </div>
    </body>
</html>