<!--  ********************************************
date picker sample
history
    - 2020.03 이병욱 최초작성
*********************************************** -->
{% extends 'common/base.html' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#basicCal').bindCalendar({
                type : 'basic',     // 기본달력
                name : 'basicdate',
                 value : '2020-04-01'  // 생략시  오늘 날짜. 날짜 형식에 맞지 않으면 오늘 날짜 세팅
            });

            $('#rangeCal').bindCalendar({
                type : 'range',         // 기간달력
                name : 'rangedate',     // 기간달력은 name 앞에 from_, to_ 접두어가 붙음
                value : '2019-04-01', // 생략시 오늘 날짜
                term : 3               // 생략시 0
            });

            console.log($('input[name="from_rangedate"]').val());
            console.log($('input[name="to_rangedate"]').val());

            $('#yearCal').bindCalendar({
                type : 'year',          // 연도달력
                name : 'yeardate',
                value : '2019'          // 생략시 올해
            });

            $('#monthCal').bindCalendar({
                type : 'month',         // 월달력
                name : 'monthdate',
                value : '2019-01'       // 생략시 현재월
            });


            // calendar
            var myCalendar = new ax5.ui.calendar({
                target: document.getElementById("calendar-target"),
                control: {
                    left: '<i class="fa fa-chevron-left"></i>',
                    yearTmpl: '%s',
                    monthTmpl: '%s',
                    right: '<i class="fa fa-chevron-right"></i>',
                    yearFirst: true
                },
                multipleSelect:2,
                displayDate: (new Date()),
                onClick: function () {
                    var dates = this.self.getSelection();
                    if (dates.length > 1) {
                        var minDate = new Date(Math.min(ax5.util.date(dates[0]).getTime(), ax5.util.date(dates[1]).getTime()));
                        var maxDate = new Date(Math.max(ax5.util.date(dates[0]).getTime(), ax5.util.date(dates[1]).getTime()));

                        this.self.setPeriod({
                            range: [
                                {from: minDate, to: maxDate, fromLabel: 'S', toLabel: 'E'}
                            ]
                        });
                    }
                },
                onStateChanged: function () {
                    console.log(this);
                }
            });
        });
    </script>
    <style>
        .row { margin-bottom: 10px; }
        [class|="col"] {
          font-weight: 700;
          padding: 10px;
        }
    </style>

        <div class="row">
            <div class="col-sm-12">
                <h3>Date Picker <a href="http://ax5.io/ax5ui-picker/api/index.html" class="badge badge-info">Info</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div><h5>일자 선택</h5></div>
                <div id="basicCal" class="input-group">

                </div>
            </div>
            <div class="col-sm-6">
                <div><h5>기간 선택</h5></div>
                <div id="rangeCal" class="input-group">

                </div>
            </div>
            <div class="col-sm-2">
                <div><h5>연도 선택</h5></div>
                <div id="yearCal" class="input-group">

                </div>
            </div>
            <div class="col-sm-2">
                <div><h5>월 선택</h5></div>
                <div id="monthCal" class="input-group">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Calendar <a href="http://ax5.io/ax5ui-calendar/api/index.html" class="badge badge-info">Info</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="calendar-target" style="width:600px;border:1px solid #ccc;border-radius: 5px;padding: 5px;overflow: hidden;height:600px;"></div>
            </div>
        </div>


{% endblock %}