<!--  ********************************************
popup sample
history
    - 2020.03 이병욱 최초작성
*********************************************** -->
{% extends 'common/base.html' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){


            $('#alertBtn').click(function () {
                alertMsg('경고!!!');
            });

            $('#confirmBtn').click(function () {
                confirmMsg('확인!!!!', function(){
                    $('#toastBtn').trigger('click');
                });
            });

            $('#promptBtn').click(function () {
                g_dialog.prompt('Prompt message');
            });

            $('#modalBtn').click(function () {
                g_modal.open({}, function () {
                    var btn = jQuery('<button class="btn btn-success" type="button" style="margin-top: 100px;">Modal Close</button>');
                    btn.click(function () {
                        g_modal.close();
                    });
                    this.$["body-frame"].append(btn);
                });
            });

            $('#toastBtn').click(function () {
                g_toast.push('Toast message', function () {
                    alertMsg('경고!!!');
                });
            });
        });
    </script>
    <style>
        .row { margin-bottom: 10px; }
        [class|="col"] {
          font-weight: 700;
          padding: 10px;
        }
    </style>

        <div class="row">
            <div class="col-sm-12">
                <h3>Dialog <a href="http://ax5.io/ax5ui-dialog/api/index.html" class="badge badge-info">Info</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <!--<div><h5>Alert</h5></div>-->
                <button class="btn btn-danger btn-block" type="button" id="alertBtn">Alert Button</button>
            </div>
            <div class="col-sm-4">
                <!--<div><h5>Confirm</h5></div>-->
                <button class="btn btn-warning btn-block" type="button" id="confirmBtn">Confirm Button</button>
            </div>
            <!--<div class="col-sm-4">
                &lt;!&ndash;<div><h5>Prompt</h5></div>&ndash;&gt;
                <button class="btn btn-info btn-block" type="button" id="promptBtn">Prompt Button</button>
            </div>-->

        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Modal <a href="http://ax5.io/ax5ui-modal/api/index.html" class="badge badge-info">Info</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-block" type="button" id="modalBtn">Modal Open Button</button>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>Toast <a href="http://ax5.io/ax5ui-toast/api/index.html" class="badge badge-info">Info</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-outline-primary btn-block" type="button" id="toastBtn">Toast Open Button</button>
            </div>
        </div>


{% endblock %}