{% extends 'common/base.html' %}

{% block content %}
<script type="text/javascript" xmlns:max-width="http://www.w3.org/1999/xhtml">
        $(document).ready(function(){

            var gridList = [        /* 그리드에 세팅할 데이터는 JSON 배열 형태 */
                {"NO":"", "PRJ_NAME":"", "GNR_CTRO":"", "CTRO":"", "PRJ_CNCT_CD":"", "SLIN_BZDP":"", "JOB_DIVS_CD":"", "CNTC_STRT_DAY":"", "CNTC_END_DAY":"", "PGRS_STUS_CD":"", "RMKS":""},
            ];

            var gridOptions = {
                columns: [              /* columns : 그리드 헤더 및 매핑 시킬 컬럼 및 컬럼 속성 설정 항목(필수) */
                {
                    key: "NO",
                    label: "순번",
                    width: 100,
                    align: "center"
                },
                {
                    key: "PRJ_NAME",
                    label: "프로젝트명",
                    width: 80,
                    align: "center"
                },
                {
                    key: "GNR_CTRO",
                    label: "고객사",
                    width: 80,
                    align: "center"
                },
                {
                    key: "CTRO",
                    label: "계약사",
                    width: 80,
                    align: "center"
                },
                {
                    key: "PRJ_CNCT_CD",
                    label: "고객사 계약코드",
                    width: 120,
                    align: "center"
                },
                {
                    key: "SLIN_BZDP",
                    label: "매출 사업부",
                    width: 120,
                    align: "center"
                },
                {
                    key: "JOB_DIVS_CD",
                    label: "업부구분",
                    width: 120,
                    align: "center"
                },
                {
                    key: "CNTC_STRT_DAY",
                    label: "계약시작일",
                    width: 80,
                    align: "center"
                },
                {
                    key: "CNTC_END_DAY",
                    label: "계약종료일",
                    width: 80,
                    align: "center",
                },
                {
                    key: "PGRS_STUS_CD",
                    label: "진행사항",
                    width: 80,
                    align: "center",
                },
                {
                    key: "RMKS",
                    label: "비고",
                    width: 80,
                    align: "center",
                }
                ]
            };

            var firstGrid = $('[data-ax5grid="first-grid"]').initGrid(gridOptions);
            firstGrid.setData(gridList);

            $('#searchBtn').click(function(){
                $('#formSearchDiv').ajaxCall({
                    method : 'GET',
                    url : "{% url 'prj_api:prjListSearch' %}",
                    callbackFn : function(data){
                        var gridList = data; /* 그리드에 세팅할 데이터는 JSON 배열 형태 */

                        firstGrid.setData(gridList);
                    }
                });
            });

            /* 프로젝트 상세 관리 선택 */
            $('#prjDetlMgmtBtn').click(function(){

            });
        });
    </script>

    <style>

    </style>
    <div class="row">
        <div class="col-sm-12">
            <div id="formSearchDiv">
                <h3>프로젝트 관리<a href="http://ax5.io/ax5ui-grid/api/index.html" class="badge badge-info"></a></h3>
                <div id="formDiv">
                    <div class="form-row" style="padding-bottom:9px">
                        <label class="col-sm-1" style="max-width:50px;">부서</label>
                        <div class="col-sm-2">
                            <select class="form-control" name="dept">
                                <option selected></option>
                                <option value="1">통신</option>
                                <option value="2">전자</option>
                            </select>
                        </div>
                        <div class="col-sm-1" style="padding-left:760px;">
                        <button class="btn btn-primary" id="searchBtn" style="width:120px">조회</button>
                        </div>
                    </div>

                    <div class="form-row" style="padding-top:9px;">
                        <label class="col-sm-1" style="max-width:50px;">스킬</label>
                         <div class="col-sm-2">
                            <select class="form-control" id="skilKind" name="skilKind">
                                <option selected></option>
                                <option value="1">DB</option>
                                <option value="2">언어</option>
                                <option value="3">WEB</option>
                                <option value="4">FRAME WORK</option>
                                <option value="5">MID-WARE</option>
                            </select>
                         </div>
                        <label style="width:30px"></label>

                    </div>
                </div>

                <hr>

                <div>
                    <h3>----<a class="badge badge-info"></a></h3>
                </div>
                <div style="position: relative;height:400px;" id="grid-parent">
                    <div data-ax5grid="first-grid" style="height: 100%;"></div>
                </div>
            </div>
            <div style="float: right; padding :5px;">
                <button class="btn btn-primary" id="prjTotUpldBtn" >프로젝트 일괄 업로드</button>
            </div>

            <div style="float: right; padding :5px;">
                <button class="btn btn-primary" id="prjDetlMgmtBtn" >프로젝트 상세 관리</button>
            </div>

            <div style="float: right; padding :5px;">
                <button class="btn btn-primary" id="prjInpuMgmtBtn" >투입 인원 관리</button>
            </div>
        </div>
    </div>
{% endblock %}