{% extends 'common/base.html' %}

{% block content %}

 <style>
#modal {
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
}

#modal h2 {
  margin:0;
}

#modal input {
  width:100%;
  border: 0;
  border-bottom: 1px solid #0489B1;
  outline : 0;
}

#modal button {
  display:inline-block;
  width:33%;
  margin-center:calc(100% - 100px - 10px);
  float:right;
  color: blue;
  background-color: rgba(0,0,0,0);
  border: 0;
  outline : 0;

}

#modal .modal_content {
  width:600px;
  margin:100px auto;
  padding:0px 40px;
  background:#fff;
  border:2px solid #666;
}

#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgb(0, 0, 0, 0.5);
  z-index:-1;
}

tbody>tr {
  counter-increment: aaa;
}
tbody>tr>td:first-child:before {
  content: counter(aaa) " ";
}

</style>


<div id="modal">

    <div class="modal_content">
            <h2 style = "font-weight:bold"><U>프로젝트 등록</U></h2><br>
        <div id = "projectInfo">
            <span style="color: #0489B1;
                         font-size: 1.0em;
                         padding:20px;">

                <p style = "display:none">프로젝트 코드<br>
                    <input type = "text" id = "prj_cd" name = "prj_cd"></p>

                <p>*프로젝트 명<br>
                    <input type = "text" id = "prj_name" name = "prj_name" placeholder="input text"></p>

                <p>*고객사 계약 코드<br>
                    <input type = "text" id = "prj_cnct_cd" name = "prj_cnct_cd" placeholder="input text"></p>

                <p>*원청사<br>
                    <input type = "text" id = "gnr_ctro" name = "gnr_ctro" placeholder="input text"></p>

                <p>*계약사<br>
                    <input type = "text" id = "ctro" name = "ctro" placeholder="input text"></p>

                <p>계약 금액<br>
                    <input type = "text" id = "cnct_amt" name = "cnct_amt" placeholder="input text"></p>

                <p>*매출 사업부<br>
                    <select size ="1" style="width:200px" id = "slin_bzdp" name = "slin_bzdp" class="col-sm-2">
                        <option value = "01">FIC</option>
                        <option value = "02">전자/제조</option>
                        <option value = "03">통신</option>
                        <option value = "04">화학</option>
                        <option value = "05">전략</option>
                        <option value = "06">DX</option>
                    </select>
                </p>

                <p>*업무 구분<br>
                    <select size ="1" style="width:200px" id = "job_divs" name = "job_divs" class="col-sm-2">
                        <option value = "01">SM</option>
                        <option value = "02">SI</option>
                    </select>
                </p>

                <p>*진행 상태<br>
                    <select size ="1" style="width:200px" id = "pgrs_stus" name = "pgrs_stus" class="col-sm-2">
                        <option value = "01">예정</option>
                        <option value = "02">진행 중</option>
                        <option value = "03">종료</option>
                    </select>
                </p>

                <p>비고<br>
                    <input type = "text" id = "rmks" name = "rmks" placeholder="input text"></p>
                <br>
                요구스킬  <button id = "addSkil" name="addSkil" class = "btn btn-primary style="float:right">추가</button>
                <table id="reqSkil" class="table" style="margin-top: 20px;">
                    <colgroup>
                        <col width="20%"/>
                        <col width="30%"/>
                        <col width="35%"/>
                        <col width="15%"/>
                    </colgroup>

                    <thead>
                    <tr style = "float : center">
                        <th>순번</th>
                        <th>구분</th>
                        <th>스킬명</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody id="reqSkilBody" name = "req_skil">
                        <tr name="trSkil">
                            <td id="skil_name"></td>
                            <td><select size="1" class="form-control" id="req_skil_divs1" name="req_skil_divs1" onchange="skil_chg(1)">
                                <option value = "00">선택</option>
                                <option value = "01">DB</option>
                                <option value = "02">LANGUAGE</option>
                                <option value = "03">WEB</option>
                                <option value = "04">MIDWARE</option>
                                <option value = "05">Framework</option>
                            </select></td>
                            <td><select class="form-control" id = "req_skil_name1" name = "req_skil_name1"></select></td>
                        </tr>
                    </tbody>
                </table>

                <p style = "display:none">trCount<br>
                    <input type = "text" id = "trCount" name = "trCount"></p>
            </span>
        </div>

        <hr>
            <button type="button" id="deleteBtn" style="color:red">삭제</button>
            <button type="button" id="saveBtn">저장</button>
            <button type="button" id="closeBtn">취소</button>
        <br>
     
    </div>

    <div class="modal_layer"></div>
</div>

<script>

    $(document).ready(function() {

       var prj_cd = location.href.indexOf('emp_No');
        <!--   프로젝트 정보 수정    -->
        if(prj_cd != -1){
            console.log('prj_cd : '+ prj_cd);
            temp=location.href.split("?");
            data = temp[1].split("=");
            emp_no = data[1];
            $('#prj_cd').val(prj_cd);

            retrieveDevInfo();
        } else{  <!--   프로젝트 최초 등록    -->
            console.log('prj_cd is null')
        }
    });

    function retrievePrjInfo(){
        $('#projectInfo').ajaxCall({
            method : 'GET',
            url : "{% url 'prj_api:retrievePrjInfo' %}",
            callbackFn : function(data){
                $('#prj_name').val(data[0].PRJ_NAME);
                $('#prj_cnct_cd').val(data[0].PRJ_CNCT_CD);
                $('#gnr_ctro').val(data[0].GNR_CTRO);
                $('#ctro').val(data[0].CTRO);
                $('#cnct_amt').val(data[0].CNCT_AMT);
                $('#slin_bzdp').val(data[0].SLIN_BZDP);
                $('#job_divs').val(data[0].JOB_DIVS_CD);
                $('#pgrs_stus').val(data[0].PGRS_STUS_CD);
                $('#rmks').val(data[0].RMKS);

            }
        });
    };

    function retrieveReqSkil(){
        $('#projectInfo').ajaxCall({
            method : 'GET',
            url : "{% url 'prj_api:retrieveReqSkil' %}",
            callbackFn : function(data){
                var length = data.length;
                for(var i=0; i<length; i++){
                    if(i != length-1){
                        $("#addStaff").trigger("click");
                    }
                    $('#req_skil_divs'+(i+1)).val(data[i].SKIL_DIVS).trigger('change');
                    $('#req_skil_name'+(i+1)).val(data[i].SKIL_NAME);
                }
            }
        });

    };

    var count = 1;
    $(document).on("click","button[name=addSkil]",function(){
        console.log('add');
        count += 1;

        var addSkilText =
            '<tr name="trSkil">'+
            '        <td id="skil_name"></td>'+
            '        <td><select size ="1" class="form-control" id = "req_skil_divs'+count+'" name = "req_skil_divs'+count+'" onchange="skil_chg('+count+')">'+
            '                <option>선택</option>'+
            '                <option value = "01">DB</option>'+
            '                <option value = "02">LANGUAGE</option>'+
            '                <option value = "03">WEB</option>'+
            '                <option value = "04">MIDWARE</option>'+
            '                <option value = "05">Framework</option>'+
            '            </select></td>'+
            '        <td><select class="form-control" id = "req_skil_name'+count+'" name = "req_skil_name'+count+'"></select></td>'+
            '        <td><input type="button" style="float:right" id="delSkil" name="delSkil" value="삭제" class = "btn btn-primary"/></td>'+
            '</tr>';

        var trHtml = $( "tr[name=trSkil]:last" );

        trHtml.after(addSkilText);

        console.log($('#reqSkil tbody tr').length);

    });

    $(document).on("click","input[name=delSkil]",function(){
        console.log('del')
        var trHtml = $(this).parent().parent();

        trHtml.remove();
    });

    document.getElementById("closeBtn").onclick = function() {
        window.history.back();
    }

    $('#saveBtn').click(function(){
            $('#trCount').val($('#reqSkil tbody tr').length);

            var prj_name = $('#prj_name').val();
            var prj_cnct_cd = $('#prj_cnct_cd').val();
            var gnr_ctro = $('#gnr_ctro').val();
            var ctro = $('#ctro').val();
            var slin_bzdp = $('#slin_bzdp').val();
            var job_divs = $('#job_divs').val();
            var pgrs_stus = $('#pgrs_stus').val();

            if(prj_name == '' || prj_name == null){
                alertMsg('프로젝트명은(는) 필수 입력 사항입니다.');
                return false;
            } else if(prj_cnct_cd == '' || prj_cnct_cd == null){
               alertMsg('고객사 계약 코드은(는) 필수 입력 사항입니다.');
               return false;
            } else if(gnr_ctro == '' || gnr_ctro == null){
                alertMsg('원청사(는) 필수 입력 사항입니다.');
                return false;
            } else if(ctro == '' || ctro == null){
                alertMsg('계약사은(는) 필수 입력 사항입니다.');
                return false;
            } else if(slin_bzdp == '' || slin_bzdp == null){
                alertMsg('매출 사업부은(는) 필수 입력 사항입니다.');
                return false;
            }  else if(job_divs == '' || job_divs == null){
                alertMsg('업무 구분은(는) 필수 입력 사항입니다.');
                return false;
            }  else if(pgrs_stus == '' || pgrs_stus == null){
                alertMsg('진행 상태은(는) 필수 입력 사항입니다.');
                return false;
            }

            console.log('저장');
                confirmMsg('저장 하시겠습니까?', function(){
                        $('#projectInfo').ajaxCall({
                        method : 'POST',
                        url : '/prj/prjSave/post',
                        callbackFn : function(data){
                            g_toast.push('저장 되었습니다.');
                        }
                });
            });
    });

    $('#deleteBtn').click(function(){
            console.log('삭제');
            confirmMsg('삭제 하시겠습니까?', function(){
                    $('#projectInfo').ajaxCall({
                    method : 'POST',
                    url : '/prj/prjDelete/post',
                    callbackFn : function(data){
                       location.href = '/prj/prjReg'
                       g_toast.push('삭제 되었습니다.');
                    }
                });

            });
     });

    function skil_chg(a){

        var skil_divs_cd = $('#req_skil_divs'+a).val();


        $.ajaxCall( param, {
                 method : 'GET',
                 'url' : '/prj/retrieveSkilName/',
                 'dataType' : 'json',
                 'data' : JSON.stringify(param),
                 'async' : false,
                 'callbackFn' : function(data){
                    for(var i = 0; i < data.length; i++){
                        var option = $("<option>"+data[i]+"</option>");
                        $('#req_skil_name'+a).append(option);
                    }
                 }
         });

<!--        var DB = ["Oracle","MySql","MsSql"];-->
<!--        var Language = ["C","C++","C#","JAVA","Python"];-->
<!--        var WEB = ["HTML","JavaScript","CSS"];-->
<!--        var MIDWARE = ["RPC", "MOM", "ORB"];-->
<!--        var Framework = [".net", "Spring"];-->

<!--        var selectSkill = $("#req_skil_divs"+a).val();-->

<!--        var changeSkill;-->

<!--        if(selectSkill == "01"){-->
<!--          changeSkill = DB;-->
<!--        }-->
<!--        else if(selectSkill == "02"){-->
<!--          changeSkill = Language;-->
<!--        }-->
<!--        else if(selectSkill == "03"){-->
<!--          changeSkill =  WEB;-->
<!--        }-->
<!--        else if(selectSkill == "04"){-->
<!--          changeSkill =  MIDWARE;-->
<!--        }-->
<!--        else if(selectSkill == "05"){-->
<!--          changeSkill =  Framework;-->
<!--        }-->

<!--        $("#req_skil_name"+a).empty();-->

<!--        for(var count = 0; count < changeSkill.length; count++){-->
<!--                        var option = $("<option>"+changeSkill[count]+"</option>");-->
<!--                        $('#req_skil_name'+a).append(option);-->
<!--                    }-->
    };



</script>



{% endblock %}

