<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- 모바일 -->
        {% load static %}
        <link href="{% static 'css/bootstrap-4.4.1.min.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <link href="{% static 'css/ax5calendar.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5combobox.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5dialog.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5formatter.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5grid.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5mask.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5modal.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5picker.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5select.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/ax5toast.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}"/>


        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-4.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5core.js' %}?{% now 'YmdHis' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5calendar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5combobox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5dialog.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5formatter.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5grid.js' %}?{% now 'YmdHis' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5mask.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5modal.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5picker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ax5toast.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-util.js' %}?{% now 'YmdHis' %}"></script>

        <script type="text/javascript">
          $(document).ready(function(){
            //var forms = document.getElementsByClassName('needs-validation');
            var forms = document.getElementById("loginForm")
            var key = getCookie("key");
            $("#username").val(key);

            // Loop over them and prevent submission
            $('#loginForm').submit(function(event){
                    event.preventDefault();
                    var $form = $(this);
                    console.log("ajaxcall")
                    var loginstate;
                    var loginInfo;
                    if(isNullChk("username")){
                        forms.classList.add('was-validated')
                        return false;
                    }
                    if(isNullChk("password")){
                        forms.classList.add('was-validated')
                        return false;
                    }
                    //if(isNullChk("email")){
                    //    forms.classList.add('was-validated')
                    //    return false;
                    //}
                    if (forms.username.value.length < 4 || forms.username.value.length > 12)
                    {
                       alertMsg("아이디는 4~12자 이내로 입력 가능합니다!");

                       forms.username.select();//입력한 문자를 선택 상태로 만듬.
                       return;
                    }

                    if (forms.password.value.length < 4 || forms.password.value.length > 12)
                    {
                         alertMsg("비밀번호는 4~12자 이내로 입력 가능 합니다!");

                         forms.password.select();
                         return;
                    }

                    $.ajax({
                         type: $form.attr('method'),
                         url: $form.attr('action'),
                         dataType: 'json',
                         data: $form.serializeObject(),
                         async: false,
                         success: function(result) {
                              console.log(result);
                              console.log('확인');
                              if(result.status=='400'){
                                alertMsg("로그인에 실패하였습니다.아이디와 비밀번호를 확인하여주세요!");
                              }else if (result.status=='200'){
                                    loginstate = result.status;
                                    loginInfo = result;
                              }
                         }
                    });
                    if( loginstate == '200'){

                        //2020.10.19 --황이성 임시 추가.
                        if (loginInfo.email != null && loginInfo.email != "") {
                            sessionStorage.setItem("email",loginInfo.email);
                        }

                        if (loginInfo.authId != null && loginInfo.authId != "") {
                            sessionStorage.setItem("authId",loginInfo.authId);
                        }

                        if (loginInfo.deptCd != null && loginInfo.deptCd != "") {
                            sessionStorage.setItem("deptCd",loginInfo.deptCd);
                        }

                        reData = {'next': $form.serializeObject().next}
                        window.location.href = $form.serializeObject().next;
                    }
            });
          });
          jQuery.fn.serializeObject = function() {
            var obj = null;
            try {
                if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                    var arr = this.serializeArray();
                    if (arr) {
                        obj = {};
                        jQuery.each(arr, function() {
                            obj[this.name] = this.value;
                        });
                    }//if ( arr ) {
                }
            } catch (e) {
                alert(e.message);
            } finally {
            }

            return obj;
        };
        function setCookie(cookieName, value, exdays){
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
            document.cookie = cookieName + "=" + cookieValue;
        }

        function deleteCookie(cookieName){
            var expireDate = new Date();
            expireDate.setDate(expireDate.getDate() - 1);
            document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
        }
        function getCookie(cookieName) {
            cookieName = cookieName + '=';
            var cookieData = document.cookie;
            var start = cookieData.indexOf(cookieName);
            var cookieValue = '';
            if(start != -1){
                start += cookieName.length;
                var end = cookieData.indexOf(';', start);
                if(end == -1)end = cookieData.length;
                cookieValue = cookieData.substring(start, end);
            }
            return unescape(cookieValue);
        }
        function validation(){

        }
        function isNullChk( objId ) {
            var objVal = document.getElementById( objId ).value;
            if( typeof objVal == "undefined" || objVal == null || objVal == "" ){
                 alertMsg($("label[for="+objId+"]").text()+"을(를) 입력하세요.");
                 document.getElementById( objId ).focus();
                 return true;
            }else{
                return false;
            }
        }
        </script>
        <title>IFG-IMS Login</title>
    </head>
    <body>

        <div style="width : 100%; min-width : 1920px; margin-top : 300px">
            <div style="margin : 0 auto; width : 1800px; display: flex;">
                <div class="text-center" style="margin : 0 auto;">
                    <div style="margin : 0 auto; width : 200px;">
                        <form id = "loginForm" method="POST" class="form-signin needs-validation" action="{% url 'main:signin' %}" novalidate>
                            <div style="margin-bottom : 20px;">
                                <img width="200px" height="50px"  src="{% static 'image/infogen_logo.jpg' %}">
                            </div>
                            {% csrf_token %}
                            {% for field in form %}

                            <label for="{{ field.name }}" class="sr-only">{{ field.label }}</label>
                              {{field}}

                            {% endfor %}
                            <div class="checkbox mb-3"></div>
                            <input type="hidden" name="next" value="{{ next }}">
                            <button type="submit" class="button">로그인</button>
                        </form>
                    </div>
                    <p class="mt-5 mb-3 text-muted">로그인 관련 문의는 경영지원실로 해주시기 바랍니다. (02-2655-9595)</p>
                </div>
            </div>
        </div>

    </body>
</html>