{% extends 'common/base.html' %}
{% block content %}
{% load static %}
        <!--Dili Common JavaScript import -->
        <script type="text/javascript" src="{% static 'diliCommon/diliCommon.js' %}"></script>
        <script type="text/javascript" src="{% static 'common/common.js' %}"></script>
        <!--graph import -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

        <!--Grid UI : datepicker & monthpicker import -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mtz.monthpicker.js' %}"></script>

        <!--modal js/css import -->
        <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}"/>


        <script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
        <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
        <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
        <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>

        <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />

        <!-- If you use the default popups, use this. -->
        <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
        <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />


    <script type="text/javascript">
        $(document).ready(function(){

             if(sessionStorage.getItem("email") == null){

                location.href = "{% url 'main:login_form' %}";
             }
             $('#subMenuDiv').hide();
             var param = {}
             var url = "{% url 'main:getMainMenu' %}";

             submissionCallMap(param,'GET',url,mainMenuDataSubMitDone);
        });

        function mainMenuDataSubMitDone(data){

            var mainMenuTh = '';

            for(var i=0; i < data.length; i++){

                 mainMenuTh += '<th id="'+data[i].MENU_ID+'" style="font-size:20px; color:black;" onclick="mainMenuClickEvt(this)">'+data[i].MENU_NM+'</th>'
            }

            document.getElementById('mainMenuTrId').innerHTML = mainMenuTh;
        }

        function mainMenuClickEvt(mainMenuId) {

            $('#mainImgDiv').hide();
            $('#subMenuDiv').show('');
            $('#subMenuTbl').empty();
            $('#testDiv').empty();
            $('#'+mainMenuId.id).prevAll().css("color","black").css("border-bottom","");
            $('#'+mainMenuId.id).nextAll().css("color","black").css("border-bottom","");
            $('#'+mainMenuId.id).css("color","red").css("border-bottom","1px solid red");

            var param = {

                "menuId"     : mainMenuId.id
            }

            var url = "{% url 'main:getSubMenu' %}";
            submissionCallMap(param,'GET',url,subMenuDataSubMitDone);

        }
        function subMenuDataSubMitDone(data){

            var subMenuTr = '';

            for(var i=0; i < data.length; i++){

                 if(i == 0 && data[i].MENU_URL_ADDR != "N/A"){

                        subMenuTr += '<tr id="'+data[i].MENU_ID+'" name="'+data[i].MENU_URL_ADDR+'" style="height : 80px; background-color : #ffffff; border-bottom : 1px solid red;" onclick="subMenuClickEvt(this)">'
                        subMenuTr += '<td id="'+data[i].MENU_ID+'TD" style="font-size:18px; font-weight: 600; color : red; padding-left:10px;">'+data[i].MENU_NM+'</td>'
                        subMenuTr += '</tr>'

                        $("#testDiv").load(data[i].MENU_URL_ADDR);
                 }else{

                        subMenuTr += '<tr id="'+data[i].MENU_ID+'" name="'+data[i].MENU_URL_ADDR+'" style="height : 80px" onclick="subMenuClickEvt(this)">'
                        subMenuTr += '<td id="'+data[i].MENU_ID+'TD" style="font-size:18px;  font-weight: 600; padding-left:10px;">'+data[i].MENU_NM+'</td>'
                        subMenuTr += '</tr>'
                 }

            }

            document.getElementById('subMenuTbl').innerHTML = subMenuTr;
        }

        function subMenuClickEvt(subMenuId) {

            $('#testDiv').empty();
            $('#'+subMenuId.id).prevAll().css("background-color","").css("border-bottom","");
            $('#'+subMenuId.id).nextAll().css("background-color","").css("border-bottom","");
            $('#'+subMenuId.id).css("background-color","#ffffff").css("border-bottom","1px solid red");
            $('#'+subMenuId.id).prevAll().children().css("color","black");
            $('#'+subMenuId.id).nextAll().children().css("color","black");
            $('#'+subMenuId.id+'TD').css("color","red");
            $("#testDiv").load($('#'+subMenuId.id).attr('name'));
        }
    </script>

    <div id="testDiv"></div>


{% endblock %}