.button {
   color : #fff;
   font-weight : 600;
   background-color : #676767;
   height : 35px;
   padding : 0px 10px;
}

.button:hover {
    background-color: #545454;
}

.cnclButton {
   color : #fff;
   font-weight : 600;
   background-color : #cacaca;
   height : 35px;
   padding : 0px 10px;
}

.cnclButton:hover {
    background-color: #545454;
}

.requiredTag {
    color: #EC1F27;
}

.requiredText {
    color: #8A8C8F;
    font-size: x-small;
    float: right;
}

.requiredTextAlert {
    color: #EC1F27;
    font-size: x-small;
    float: right;
}

.delInptButton {
    background-color: transparent;
    border: none;
    font-weight: 500;
}

.toastui-calendar-popup-overlay {
    height: 1500px;
}

.fixedHeader {
    position: sticky;
    top: 0;
    background: #f7f7f7;
}