<script type="text/javascript">
    $(document).ready(function(){
        // 공통 코드 조회 - '결재 승인 상태 구분'
        retrieveCmmCd('sbx_aprvStusNm', 'APVL_STTS_CD');

        /*********************************************************************
        *   Session Email 값 기준 근무 결재요청 리스트 조회
        *********************************************************************/
        var param = {
            "email" : sessionStorage.getItem("email"),
            "apvlStusDivs" : "01"                       //화면 진입 시 '미승인' 상태 요청 조회
        }

        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getApvlAcptHist' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                debugger;
                // 리턴
                wrkApvlAcptGrd(data);
             }
        });


        /*********************************************************************
        *   근무결재요청 Grid 생성
        *********************************************************************/
        function wrkApvlAcptGrd(data){
            debugger;
            var wrkApvlTable =  '<table class="table table-bordered table-responsive-md text-center"  id="tblWrkApvlAcpt" >';
                wrkApvlTable += '<thead>';
                wrkApvlTable += '<tr>';
                wrkApvlTable += '<th class="text-center">순번</th>';
                wrkApvlTable += '<th class="text-center">결재 요청 일자</th>';
                wrkApvlTable += '<th class="text-center">구분</th>';
                wrkApvlTable += '<th class="text-center">기안자</th>';
                wrkApvlTable += '</tr>';
                wrkApvlTable += '</thead>';
                wrkApvlTable += '<tbody>';

            if(data.length > 0) {
                for(var i = 0; i < data.length; i++){
                /* 임시주석 윤상은 2021-01-17
                    var wrkDtm = "";
                    if(data[i].WRK_DT != "") {
                        if(data[i].WRK_TME != "") {
                            wrkDtm = data[i].WRK_DT + " " + data[i].WRK_TME.substring(0,2) +":"+ data[i].WRK_TME.substring(2,4) +":"+ data[i].WRK_TME.substring(4,6)
                        } else {
                            wrkDtm = data[i].WRK_DT
                        }
                    }
                */

                    wrkApvlTable += '<tr id ="grd_wrkApvlAcpt'+i+'" onclick="onApvlAcptClickEvt(this)">';
                    wrkApvlTable += '<td class="pt-3-half">'+(i+1)+'</td>';
                    wrkApvlTable += '<td class="pt-3-half">'+data[i].APVL_REQ_DT+'</td>';
                    wrkApvlTable += '<td class="pt-3-half">'+data[i].APVL_REQ_NM+'</td>';
                    wrkApvlTable += '<td class="pt-3-half">'+data[i].EMP_NAME+'</td>';
                    wrkApvlTable += '<td class="pt-3-half" style="display: none;">' + data[i].WRK_DT + ";" + data[i].JOB_STRT_TM + ";" + data[i].JOB_END_TM + ";" + data[i].WRK_REQ_RSN + ";" + data[i].EMP_EMAL_ADDR + '</td>';
                    wrkApvlTable += '</tr>';

                }
            }

            wrkApvlTable += '</tbody>';
            wrkApvlTable += '</table>';


            document.getElementById('grd_wrkApvlAcpt').innerHTML = wrkApvlTable;
        }

    });


    /*********************************************************************
    *   근무결재요청 조회 transaction
    *********************************************************************/
    function srchApvlAcptHist() {
        var email = sessionStorage.getItem("email");
        //var apvlStusDivs = $('#sbx_aprvStusNm').val();

        var param = {
            "email" : email,
            "apvlStusDivs" : "01"
        }

        console.log("##srchApvlAcptHist param::", param);

        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getApvlAcptHist' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                debugger;
                // 리턴
                wrkApvlAcptGrd(data);
             }
        });
    }

    function onApvlAcptClickEvt(trId) {
        var table = document.getElementById("tblWrkApvlAcpt");
        var tr = table.getElementsByTagName("tr");

        for(var i=0; i<tr.length; i++){
            tr[i].style.background = "white";
        }
        document.getElementById(trId.id).style.backgroundColor = "lightgrey";

        var arrWrkDt = $('#'+trId.id).children().eq(4).text().split(';')
        $("#ipt_reqAcptWrkDt").val(arrWrkDt[0]);
        $("#ipt_reqAcptJobStrtTm").val(arrWrkDt[1]);
        $("#ipt_reqAcptJobEndTm").val(arrWrkDt[2]);
        $("#txa_reqAcptRsn").val(arrWrkDt[3]);
        $("#ipt_reqAcptEmpEmalAddr").val(arrWrkDt[4]);
/*
        if($('#'+trId.id).children().eq(2).text() == "") {
            $("#sbx_type option[value='00']").attr("selected", true);
        } else if($('#'+trId.id).children().eq(2).text() == "휴일근무") {
            $("#sbx_type option[value='01']").attr("selected", true);
        } else if($('#'+trId.id).children().eq(2).text() == "야간근무") {
            $("#sbx_type option[value='02']").attr("selected", true);
        }
*/
    }


    /*********************************************************************
    *   srchAcptHistBtn 버튼 클릭 이벤트 - 근무결재요청 내역 조회
    *********************************************************************/
    $('#srchAcptHistBtn').click(function() {
        srchApvlAcptHist();
    });

    // 승인, 반려 버튼 클릭 시 로직
    function btnReqEvt(thisId) {
        var apvlAcptStus = '';
        if(thisId == 'btn_acpt') {
            //승인 버튼을 선택할 경우
            apvlAcptStus = '02';
        } else {
            apvlAcptStus = '03';
        }

        cf_dialog.confirm('저장하시겠습니까?', function(){
            if(this.key == 'ok'){
                var param = {
                    "email"         : $("#ipt_reqAcptEmpEmalAddr").val(),   //기안자 아이디
                    "wrkDt"         : $("#ipt_reqAcptWrkDt").val(),         //근무일자
                    "th1AprvStus"   : apvlAcptStus,                         //01: 미승인, 02: 승인, 03: 반려
                    //"th1AprvNm"     : sessionStorage.getItem("email"),    //결재자 : 로그인한 사용자 아이디
                }

                //param["th1AprvStus"] = thisId == 'btn_acpt' ? '02' : '03';
                console.log("###param", param);

                $.ajaxCall( param, {
                     method : 'POST',
                     'url' : '/dili/saveApvlAcpt/post',
                     'dataType' : 'json',
                     'data' : JSON.stringify(param),
                     'async' : false,
                     'callbackFn' : function(data){
                        g_toast.push('저장 되었습니다.');
                        $('#exitApvlAcptModalBtn').click();
                        //$('#srchAcptHistBtn').click();
                     }
                });
            }
        });
    }

</script>

<div class="row">
    <div class="col-sm-12">
        <div class="mb-4" role="alert">
            <h5>
                <b>야간 근무</b>
            </h5>
        </div>

        <div class="accordion mb-4" id="grp_wrkApvlReq">
            <div class="card">
                <div class="card-header p-0" id="head_wrkApvlReq">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_wrkApvlReq" aria-expanded="true" aria-controls="collapseOne">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            근무결재 요청
                        </button>
                    </h2>
                </div>

                <div id="col_wrkApvlReq" class="collapse show" aria-labelledby="head_wrkApvlReq" data-parent="#grp_wrkApvlReq">
                    <div id="apvlAcptDiv" class="card-body flex-height d-flex">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="accordion mb-4" id="grp_wrkApvlAcpt">
                                    <div class="p-0" id="head_wrkApvlAcpt">
                                        <!-- Body -->
                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-center mr-5">
                                                <span>구분&nbsp;</span>
                                            </div>
                                            <div class="align-self-center">
                                                <span class="align-self-start align-self-center mr-5">미승인</span>
                                            </div>
                                            <div class="align-self-end align-self-center">
                                                <button class="button" id="srchAcptHistBtn">조회</button>
                                            </div>
                                        </div>

                                        <div style="position: relative;" id="grid-parent">
                                            <div id="grd_wrkApvlAcpt">grid</div>
                                        </div>

                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3">근무 일자</div>
                                            <div class="align-self-center mr-5">
                                                <!--<input type="text" class="form-control" id="ipt_reqAcptWrkDt" name="ipt_reqAcptWrkDt" placeholder="" maxlength="24" readonly/>-->
                                                <input type="date" class="align-self-start align-self-center mr-1" id="ipt_reqAcptWrkDt"       name="ipt_reqAcptWrkDt" />
                                                <input type="time" class="align-self-start align-self-center"      id="ipt_reqAcptJobStrtTm"   name="ipt_reqAcptJobStrtTm" />
                                                <span              class="align-self-start align-self-center">&nbsp;&nbsp;~&nbsp;&nbsp;</span>
                                                <input type="time" class="align-self-start align-self-center mr-1" id="ipt_reqAcptJobEndTm"    name="ipt_reqAcptJobEndTm" />
                                                <input type="hidden"                                               id="ipt_reqAcptEmpEmalAddr" name="ipt_reqAcptEmpEmalAddr" />
                                            </div>
                                        </div>

                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3">근무 사유</div>
                                            <div class="align-self-center mr-7">
                                                <textarea id="txa_reqAcptRsn" name="txa_reqAcptRsn" maxlength="500" style="resize: none; width:440px;height:70px;" placeholder="사유를 입력해주세요."></textarea>
                                            </div>
                                        </div>


                                        <div class="card-body flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3"></div>
                                            <div class="align-self-center mr-7">
                                                <button class="button" id="btn_acpt" onclick="btnReqEvt(this.id)">승인</button>
                                                <button class="button" id="btn_rjt" onclick="btnReqEvt(this.id)">반려</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>