<script type="text/javascript">
    $(document).ready(function(){
        /*********************************************************************
        *   화면 초기화
        *********************************************************************/
        // 로그인 여부 확인
        if(sessionStorage.getItem("email") == null){
            location.href = "{% url 'main:login_form' %}";
        }

        // 공통 코드 조회 - '결재 승인 상태 구분'
        retrieveCmmCd('sbx_type', 'APVL_STTS_CD');

        // SessionSetting 정보 가져오기
        var param = {
            "email" : sessionStorage.getItem("email"),
            "authId" : sessionStorage.getItem("authId")
        }
        console.log("###########SessionSettingInfo::", param);


        debugger;
        // 사용자조회 이메일 : SessionSetting email로 설정
        $('#ipt_apvlSearchEmailPop').val(param.email)
        retrieveEmpNmByEmail(param.email, function(data) {
            $('#ipt_apvlSearchNamePop').val(data[0].EMP_NAME);
            $('#ipt_searchName').val(data[0].EMP_NAME);
        });


        // 결재승인 버튼 및 직원조회 기능 권한 처리
        if(param.authId != "ADMIN") {
            $('#apvlAcptBtn').css("display", 'none');
            //$('#ipt_apvlSearchNamePop").attr('readonly' true);
            //$("#ipt_apvlSearchNamePop").attr('onclick','').unbind('click');
        }

        $('#apvlAcptBtn').click(function(){
            if(param.authId != "ADMIN") {
                alertMsg('결재 승인 권한이 없습니다.');
                return false;
            }
        });

        $('#ipt_apvlSearchNamePop').change(function() {
            console.log("ipt_apvlSearchNamePop변화 => change 이벤트 안됨 추후 테스트 필요");
            $('#ipt_searchName').val($('#ipt_apvlSearchNamePop').val());
        });

        ////////////////////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////임시//////////////////////////////////////////
        ///////////////////////////////////////임시//////////////////////////////////////////
        ///////////////////////////////////////임시//////////////////////////////////////////
        ///////////////////////////////////////임시//////////////////////////////////////////

        //세팅할 empIdx 지정
        var empIptId;


        ///////////////////////////////////////임시//////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////////

        /*********************************************************************
        *   이벤트 바인딩 및 함수 선언
        *********************************************************************/

        $("#searchBtn").click(function(){
            //결재 상세 테이블 초기화
            $("#thApvlReqDt").text("");
            $("#thAprvNm1").text("");
            $("#thAprvStus1").text("");

            /*********************************************************************
            *   Session Email 값 기준 근무 결재요청 리스트 조회
            *********************************************************************/
            var params = {
                "email" : sessionStorage.getItem("email"),
                "apvlStusDivs" : $("#sbx_type option:selected").val(),      //TB_APVL_REQ_MGMT_M APVL_STUS 값 => 01,02: 승인, 승인반려 NULL: 미승인
            }

            debugger;
            console.log("###########params::", params);
            var url = "{% url 'dili_api:getApvlReqHist' %}";

            submissionCallList( params, 'GET', url, apvlReqHistGrd );

        });

        // 직원조회 권한 처리 및 모달 오픈
        if(param.authId == "ADMIN") {
            $("#ipt_searchName").click(function(){
                var url = "{% url 'dili_api:empMgmtPop' %}" ;

                modal('empModalDiv');

                $('#empModal').load(url);

                $('#empModalDiv').css("width", "40%");
                $('#empModalDiv').css("z-index", 10);
            });
        }
        // 결재등록 모달 오픈
        $("#apvlReqBtn").click(function(){
            var url = "{% url 'dili_api:apvlReqBfrPop' %}" ;


            $('#apvlReqModalDiv').css("width","50%");

            modal('apvlReqModalDiv');

            $('#apvlReqModal').load(url);
        });

        // 결재승인 모달 오픈
        $("#apvlAcptBtn").click(function(){
            var url = "{% url 'dili_api:apvlAcptPop' %}" ; /////////////////////////수정
            //var url = "{% url 'dili_api:wrkApvlReq' %}" ; /////////////////////////수정


            $('#apvlAcptModalDiv').css("width","50%");

            modal('apvlAcptModalDiv');

            $('#apvlAcptModal').load(url);
        });

        /*
        $("#selectBtn").click(function(){
            $('#empModal').hide();
        });
        */
    });

    /*********************************************************************
    *   근무결재요청내역 Grid 생성
    *********************************************************************/
    function apvlReqHistGrd(data){
        var apvlReqHistTable = '<table class="table table-bordered table-responsive-md text-center">';
        apvlReqHistTable += '<thead>';
        apvlReqHistTable += '<tr>';
        apvlReqHistTable += '<th class="text-center">순번</th>';
        apvlReqHistTable += '<th class="text-center">성명</th>';
        apvlReqHistTable += '<th class="text-center">근무일자</th>';
        apvlReqHistTable += '<th class="text-center">구분</th>';
        apvlReqHistTable += '<th class="text-center">승인상태</th>';
        apvlReqHistTable += '</tr>';
        apvlReqHistTable += '</thead>';
        apvlReqHistTable += '<tbody>';

        if(data.length > 0) {
            for(var i = 0; i < data.length; i++){

                var wrkDtm = "";
                if(data[i].WRK_DT != "") {
                    if(data[i].WRK_TME != "") {
                        wrkDtm = data[i].WRK_DT + " " + data[i].WRK_TME.substring(0,2) +":"+ data[i].WRK_TME.substring(2,4) +":"+ data[i].WRK_TME.substring(4,6)
                    } else {
                        wrkDtm = data[i].WRK_DT
                    }
                }

                apvlReqHistTable += '<tr onclick="onclickEvt(this)">';
                apvlReqHistTable += '<td id="no'+i+'" class="pt-3-half">'+(i+1)+'</td>';
                apvlReqHistTable += '<td id="empName" class="pt-3-half">'+data[i].EMP_NAME+'</td>';
                apvlReqHistTable += '<td id="wrkDt" class="pt-3-half">'+wrkDtm+'</td>';
                apvlReqHistTable += '<td id="apvlReqNm" class="pt-3-half">'+data[i].APVL_REQ_NM+'</td>';
                apvlReqHistTable += '<td id="aprvStusNm" class="pt-3-half">'+data[i].APRV_STUS_NM+'</td>';
                apvlReqHistTable += '</tr>';

            }
        } else {
            apvlReqHistTable += '<tr">';
            apvlReqHistTable += '<td id="no'+i+'" class="pt-3-half"></td>';
            apvlReqHistTable += '<td id="empName" class="pt-3-half"></td>';
            apvlReqHistTable += '<td id="wrkDt" class="pt-3-half"></td>';
            apvlReqHistTable += '<td id="apvlReqNm" class="pt-3-half"></td>';
            apvlReqHistTable += '<td id="aprvStusNm" class="pt-3-half"></td>';
            apvlReqHistTable += '</tr>';

            $("#thApvlReqDt").text("");
            $("#thAprvNm1").text("");
            $("#thAprvStus1").text("");

        }


        apvlReqHistTable += '</tbody>';
        apvlReqHistTable += '</table>';

//        document.getElementById('grd_apvlReqHist').innerHTML = apvlReqHistTable;
        $('#grd_apvlReqHist').html(apvlReqHistTable); ////////////////여기테스트

    }


    /*********************************************************************
    *   Grid 클릭 이벤트 처리 - 배경색 지정, 상세보기 트랜잭션
    *********************************************************************/
    function onclickEvt(trId) {
        //선택한 행에 대해 backgroundColor 지정
        $(trId).prevAll().css("background-color","");
        $(trId).nextAll().css("background-color","");
        $(trId).css("background-color","lightGrey");

        // 트랜잭션
        var params = {
            "email" : sessionStorage.getItem("email"),
            "wrkDt" : $(trId).children().eq(2).text().substring(0,10)   //ex. 2020-11-03 날짜
        }

        submissionCallList( params, "GET", "{% url 'dili_api:getApvlReqHistDetl' %}", function(data){
            setApvlReqHistDetl(data);
        });
    }

    /*********************************************************************
    *   Grid 선택한 행에 따라 상세보기
    *********************************************************************/
    function setApvlReqHistDetl(data) {
        if(data == undefined || data == null || data.length == 0) {
            $("#thApvlReqDt").text("");
            $("#thAprvNm1").text("");
            $("#thAprvStus1").text("");
        } else {
            $("#thApvlReqDt").text(data[0].APVL_REQ_DT);
            $("#thAprvNm1").text(data[0].TH1_APRV_NM);
            $("#thAprvStus1").text(data[0].TH1_APRV_STUS_NM);
        }
    }

</script>

<!--직원조회 모달 영역 -->
<div style="width:100%">
    <div id="empModalDiv" class="modalUi">
        <div id="empModal">
        </div>
        <a class="modal_close_btn" id="exitEmpModalBtn">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="
               M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
               <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <span id="apvlEmpEmailHidden" style="display:none;" ></span>
            <span id="apvlReqHidden" style="display:none;" >apvlReq</span>
        </a>
    </div>
</div>


<!--결재등록 모달 영역 -->
<div style="width:100%">
    <div id="apvlReqModalDiv" class="modalUi">
        <div id="apvlReqModal">
        </div>
        <a class="modal_close_btn" id="exitApvlReqModalBtn">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="
               M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
               <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>
    </div>
</div>

<!-- 결재승인 모달 영역 -->
<div style="width:100%">
    <div id="apvlAcptModalDiv" class="modalUi">
        <div id="apvlAcptModal">
        </div>
        <a class="modal_close_btn" id="exitApvlAcmptModalBtn">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="
               M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
               <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="align-self-start flex-height d-flex m-0 p-2" role="alert">
            <div class="align-self-start align-self-center mr-3">
                <h5>
                    <b>결재요청 이력</b>
                </h5>
            </div>

        </div>

        <!-- 1. 사원 조회영역 -->
        <div class="accordion mb-4" id="grp_search">
            <div class="card">
                <div class="card-header p-0" id="head_search">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_search" aria-expanded="true" aria-controls="collapseOne">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            직원조회
                        </button>
                    </h2>
                </div>
                <div id="col_search" class="collapse show" aria-labelledby="head_search" data-parent="#grp_search">
                    <div class="card-body flex-height d-flex m-0 p-2">
                        <div class="align-self-start align-self-center mr-3">성명</div>
                        <div class="align-self-center mr-3">
                            <input type="text" class="form-control" id="ipt_searchName" name="ipt_searchName" placeholder="이름을 입력해주세요." maxlength="10" readonly/>
                            <input type="hidden" class="form-control" id="ipt_apvlSearchNamePop" name="ipt_apvlSearchNamePop" readonly/>
                            <input type="hidden" class="form-control" id="ipt_apvlSearchEmailPop" name="ipt_apvlSearchEmailPop" readonly/>
                        </div>
                        <div class="align-self-start align-self-center mr-3">구분</div>
                        <div class="align-self-center mr-5">
                            <select id="sbx_type" name="sbx_type" class="form-control">
                                <option value="00" selected>전체</option>
                            </select>
                        </div>
                        <div class="align-self-end align-self-center mr-3">
                            <button class="button" id="searchBtn">조회</button>
                        </div>

                        <div class="align-self-center mr-3">
                            <button class="button" id="apvlReqBtn">결재등록</button>
                            <input type="hidden" id="currReqMthd" value="01"></input>
                        </div>
                        <div class="align-self-end align-self-center">
                            <button class="button" id="apvlAcptBtn">결재승인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-4" id="grp_apvlReqHist">
            <div class="card">
                <div class="card-header p-0" id="head_wrkApvlReq">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_apvlReqHist" aria-expanded="true" aria-controls="collapseOne">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            결재요청 이력
                        </button>
                    </h2>
                </div>

                <div id="col_apvlReqHist" class="collapse show" aria-labelledby="head_wrkApvlReq" data-parent="#grp_apvlReqHist">
                    <div style="position: relative;" id="grid-parent">
                        <div id="grd_apvlReqHist"></div>
                    </div>

                    <div style="position: relative;" id="grid-parent2">
                        <div id="grd_apvlReqHistDetl">
                            <table class="table table-bordered table-responsive-md text-center">
                                <thead>
                                    <tr>
                                        <!--<th class="text-center">결재 차수</th>-->
                                        <th class="text-center">결재 요청일</th>
                                        <th class="text-center">결재자</th>
                                        <th class="text-center">결재상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                       <!--<td id="apvlTh1" class="pt-3-half">1</td>-->
                                       <td id="thApvlReqDt" class="pt-3-half"></td>
                                       <td id="thAprvNm1" class="pt-3-half"></td>
                                       <td id="thAprvStus1" class="pt-3-half"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
