    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <div class="row">
        <script type="text/javascript">
    $(document).ready(function(){
        // 공통 코드 조회 - '결재 승인 상태 구분'
        retrieveCmmCd('sbx_aprvStusNm', 'APVL_STTS_CD');

        /*********************************************************************
        *   Session Email 값 기준 근무 결재요청 리스트 조회
        *********************************************************************/
        var param = {
            "email" : sessionStorage.getItem("email"),
            "apvlStusDivs" : "01"                       //화면 진입 시 '미승인' 상태 요청 조회
        }

        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getApvlAcptHist' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                debugger;
                // 리턴
                wrkApvlAcptGrd(data);
             }
        });


        /*********************************************************************
        *   근무결재요청 Grid 생성
        *********************************************************************/
        function wrkApvlAcptGrd(data){
            debugger;
            var wrkApvlTable = '<table class="table table-bordered table-responsive-md text-center"  id="tblWrkApvlAcpt" >';
            wrkApvlTable += '<thead>';
            wrkApvlTable += '<tr>';
            wrkApvlTable += '<th class="text-center">순번</th>';
            wrkApvlTable += '<th class="text-center">일자</th>';
            wrkApvlTable += '<th class="text-center">구분</th>';
            wrkApvlTable += '</tr>';
            wrkApvlTable += '</thead>';
            wrkApvlTable += '<tbody>';

            if(data.length > 0) {
                for(var i = 0; i < data.length; i++){
                    var wrkDtm = "";
                    if(data[i].WRK_DT != "") {
                        if(data[i].WRK_TME != "") {
                            wrkDtm = data[i].WRK_DT + " " + data[i].WRK_TME.substring(0,2) +":"+ data[i].WRK_TME.substring(2,4) +":"+ data[i].WRK_TME.substring(4,6)
                        } else {
                            wrkDtm = data[i].WRK_DT
                        }
                    }

                    wrkApvlTable += '<tr id ="grd_wrkApvlAcpt'+i+'" onclick="onclickEvt(this)">';
                    wrkApvlTable += '<td id="td_no" class="pt-3-half">'+(i+1)+'</td>';
                    wrkApvlTable += '<td id="td_wrkDt" class="pt-3-half">'+wrkDtm+'</td>';
                    wrkApvlTable += '<td id="td_wrkType" class="pt-3-half">'+data[i].WRK_TYPE+'</td>';
                    wrkApvlTable += '</tr>';

                }
            }


            wrkApvlTable += '</tbody>';
            wrkApvlTable += '</table>';

            document.getElementById('grd_wrkApvlAcpt').innerHTML = wrkApvlTable;
        }

    });


    /*********************************************************************
    *   근무결재요청 조회 transaction
    *********************************************************************/
    function srchApvlAcptHist() {
        var param = {
            "email" : sessionStorage.getItem("email"),
            "apvlStusDivs" : $('#sbx_aprvStusNm').val()
        }

        console.log("##srchApvlAcptHist param::", param);

        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getApvlAcptHist' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                debugger;
                // 리턴
                wrkApvlAcptGrd(data);
             }
        });
    }

    function onclickEvt(trId) {
        var table = document.getElementById("tblWrkApvlAcpt");
        var tr = table.getElementsByTagName("tr");
        for(var i=0; i<tr.length; i++){
            tr[i].style.background = "white";
        }
        document.getElementById(trId.id).style.backgroundColor = "lightgrey";
        $("#ipt_wrkDt").val($('#'+trId.id).children().eq(1).text());

        $("#sbx_type option").removeAttr("selected");

        if($('#'+trId.id).children().eq(2).text() == "") {
            $("#sbx_type option[value='00']").attr("selected", true);
        } else if($('#'+trId.id).children().eq(2).text() == "휴일근무") {
            $("#sbx_type option[value='01']").attr("selected", true);
        } else if($('#'+trId.id).children().eq(2).text() == "야간근무") {
            $("#sbx_type option[value='02']").attr("selected", true);
        }

    }


    /*********************************************************************
    *   srchAcptHistBtn 버튼 클릭 이벤트 - 근무결재요청 조회
    *********************************************************************/
    $('#srchAcptHistBtn').click(function() {
        srchApvlAcptHist();
    });


    function btnReqEvt(thisId) {
        alert(thisId);
        return;

        if($("#ipt_wrkDt").val() == "") {
            alertMsg("일자를 선택해주세요.");
            return;
        }

        if($("#sbx_type option:selected").val() == "") {
            alertMsg("근무구분을 선택해주세요.");
            return;
        }

        if($("#txa_reqRsn").val() == "") {
            alertMsg("사유를 입력해주세요.");
            return;
        }

        confirmMsg('저장하시겠습니까?', function(){
            debugger;

            var param = {
                "email" : sessionStorage.getItem("email"),
                "wrkDt" : $("#ipt_wrkDt").val().substring(0,10)
            }

            param["th1AprvStus"] = thisId == 'btn_acpt' ? '02' : '03';
            console.log("###param", param);

            $.ajaxCall( param, {
                 method : 'POST',
                 'url' : '/dili/saveApvlAcpt/post',
                 'dataType' : 'json',
                 'data' : JSON.stringify(param),
                 'async' : false,
                 'callbackFn' : function(data){
                    // 리턴
                    g_toast.push('저장 되었습니다.');
                    $('#exitApvlModal').click();
                 }
            });
        });
    }



    </script>
        <div class="col-sm-12">
            <div class="mb-4" role="alert">
                <h5>
                    <b>근무결재 요청</b>
                </h5>
            </div>

            <div class="accordion mb-4" id="grp_wrkApvlReq">
                <div class="card">
                    <div class="card-header p-0" id="head_wrkApvlReq">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_wrkApvlReq" aria-expanded="true" aria-controls="collapseOne">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                                근무결재 요청
                            </button>
                        </h2>
                    </div>

                    <div id="col_wrkApvlReq" class="collapse show" aria-labelledby="head_wrkApvlReq" data-parent="#grp_wrkApvlReq">
                        <div class="card-body flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3">구분</div>
                            <div class="align-self-center mr-5">
                                <select id="sbx_aprvStusNm" name="APVL_STTS_CD" class="form-control">
                                    <option value="00" selected>전체</option>
                                </select>
                            </div>
                            <div class="align-self-end align-self-center">
                                <button class="button" id="srchAcptHistBtn">조회</button>
                            </div>
                        </div>

                        <div style="position: relative;" id="grid-parent">
                            <div id="grd_wrkApvlAcpt">grid</div>
                        </div>


                        <div class="card-body flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3">일자</div>
                            <div class="align-self-center mr-5">
                                <input type="text" class="form-control" id="ipt_wrkDt" name="ipt_wrkDt" maxlength="24" readonly/>
                            </div>
                        </div>

                        <div class="card-body flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3">구분</div>
                            <div class="align-self-center mr-5">
                                <select id="sbx_type" class="form-control" name="type">
                                    <option value="00" selected>선택</option>
                                    <option value="01">야간근무</option>
                                    <option value="02">휴일근무</option>
                                    <option value="03">연차</option>
                                </select>
                            </div>
                        </div>

                        <div class="card-body flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3">사유</div>
                            <div class="align-self-center mr-7">
                                <textarea id="txa_reqRsn" name="reqRsn" maxlength="500" style="resize: none; width:350px;height:70px;" placeholder="사유를 입력해주세요."></textarea>
                            </div>
                        </div>

                        <div class="card-body flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3"></div>
                            <div class="align-self-center mr-7">
                                <button class="button" id="btn_acpt" onclick="btnReqEvt(this.id)">승인</button>
                                <button class="button" id="btn_rjt" onclick="btnReqEvt(this.id)">반려</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
