<script type="text/javascript">
    $(document).ready(function(){
        /*********************************************************************
        *   화면 초기화
        *********************************************************************/
        // 결재자 이름 세팅 : SessionSetting email로 이름 조회하여 설정
        var strTh1AprvNm = sessionStorage.getItem("email");
        retrieveEmpNmByEmail(strTh1AprvNm, function(data) {
            $('#ipt_th1AprvNm').val(data[0].EMP_NAME);
        });

        // 공통 코드 조회 - '결재 승인 상태 구분'
        retrieveCmmCd('sbx_aprvStusNm', 'APVL_STTS_CD', function() {
            // 결재 승인 상태 구분 기본 값 : 01(미승인)
            $('[name="APVL_STTS_CD"]').val('01');
            $('#sbx_aprvStusNm').attr('disabled', true);
        });


        /*********************************************************************
        *   Session Email 값 기준 결재요청 리스트 조회
        *********************************************************************/
        var param = {
            "email" : sessionStorage.getItem("email"),
            "apvlStusDivs" : "01"                       //화면 진입 시 '미승인' 상태 요청 조회
        }

        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getApvlAcptHist' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                wrkApvlAcptGrd(data);
             }
        });

        /*********************************************************************
        *   srchAcptHistBtn 버튼 클릭 이벤트 - 결재요청 내역 조회
        *********************************************************************/
        $('#srchAcptHistBtn').click(function() {
            initApvlAcptDetl();
            srchApvlAcptHist();
        });

    });

    /*********************************************************************
    *   결재요청 Grid 생성
    *********************************************************************/
    function wrkApvlAcptGrd(data){
        // div 초기화
        document.getElementById('grd_wrkApvlAcpt').innerHTML = '';

        //div 안에 그릴 table 값 설정
        var wrkApvlTable =  '<table class="table table-bordered table-hover text-center"  id="tblWrkApvlAcpt" >';
            wrkApvlTable += '<thead>';
            wrkApvlTable += '<tr>';
            //wrkApvlTable += '<th class="text-center">순번</th>';
            wrkApvlTable += '<th class="text-center">구분</th>';
            wrkApvlTable += '<th class="text-center">기안일</th>';
            wrkApvlTable += '<th class="text-center">초과근무시간</th>';
            wrkApvlTable += '<th class="text-center">연차일</th>';
            wrkApvlTable += '<th class="text-center">반차일</th>';
            wrkApvlTable += '<th style="display:none">요청일시</th>';
            wrkApvlTable += '<th class="text-center">기안자</th>';
            wrkApvlTable += '</tr>';
            wrkApvlTable += '</thead>';
            wrkApvlTable += '<tbody>';

        if(data.length > 0) {
            for(var i = 0; i < data.length; i++){
            /* 임시주석 윤상은 2021-01-17
                var wrkDtm = "";
                if(data[i].WRK_DT != "") {
                    if(data[i].WRK_TME != "") {
                        wrkDtm = data[i].WRK_DT + " " + data[i].WRK_TME.substring(0,2) +":"+ data[i].WRK_TME.substring(2,4) +":"+ data[i].WRK_TME.substring(4,6)
                    } else {
                        wrkDtm = data[i].WRK_DT
                    }
                }
            */
                var wrkDtm = data[i].WRK_DT + " " + data[i].JOB_STRT_TM.substring(0,5) + " ~ " + data[i].JOB_END_TM.substring(0,5);

                wrkApvlTable += '<tr id ="grd_wrkApvlAcpt'+i+'" onclick="onApvlAcptClickEvt(this)">';
                //wrkApvlTable += '<td class="pt-3-half">' + (i+1)                + '</td>';
                wrkApvlTable += '<td class="pt-3-half">' + data[i].APVL_REQ_NM  + '</td>';
                wrkApvlTable += '<td class="pt-3-half">' + data[i].APVL_REQ_DT  + '</td>';
                if(data[i].APVL_REQ_NM == "연장근무" || data[i].APVL_REQ_NM == "주휴근무"){
                    wrkApvlTable += '<td class="pt-3-half">' + data[i].JOB_STRT_TM.substring(0,5) +" ~ "+ data[i].JOB_END_TM.substring(0,5) + '</td>';
                }else{
                    wrkApvlTable += '<td class="pt-3-half"></td>';
                }
                wrkApvlTable += '<td class="pt-3-half">' + data[i].YEONCHA  + '</td>';
                wrkApvlTable += '<td class="pt-3-half">' + data[i].BANCHA  + '</td>';
                wrkApvlTable += '<td style="display:none">' + wrkDtm               + '</td>';
                wrkApvlTable += '<td class="pt-3-half">' + data[i].EMP_NAME     +'</td>';
                wrkApvlTable += '<td class="pt-3-half" style="display: none;">' + data[i].WRK_DT + "|" + data[i].JOB_STRT_TM + "|" + data[i].JOB_END_TM + "|" + data[i].WRK_REQ_RSN + "|" + data[i].EMP_EMAL_ADDR  + "|" + data[i].TH1_APRV_STUS + "|" + data[i].TH2_APRV_STUS + "|" + data[i].TH1_APRV_NM + "|" + data[i].TH2_APRV_NM + '</td>';
                wrkApvlTable += '</tr>';
            }
        } else {
                wrkApvlTable += '<tr>';
                wrkApvlTable += '<td colspan="5" class="pt-3-half">연차 요청 내역이 없습니다.</td>';
                wrkApvlTable += '</tr>';


        }

        wrkApvlTable += '</tbody>';
        wrkApvlTable += '</table>';

        document.getElementById('grd_wrkApvlAcpt').innerHTML = wrkApvlTable;
        if(data.length > 0) {
            onApvlAcptClickEvt($('#tblWrkApvlAcpt').children().eq(1).children().eq(0));
        }
    }

    /*********************************************************************
    *   연차결재요청 조회 transaction
    *********************************************************************/
    function srchApvlAcptHist() {
        var param = {
            "email"        : sessionStorage.getItem("email"),   // 세션 값
            "apvlStusDivs" : $('#sbx_aprvStusNm').val()         // 결재 승인 상태
        }
        //console.log("##srchApvlAcptHist param::", param);

        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getApvlAcptHist' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                wrkApvlAcptGrd(data);
             }
        });

    }

    // 연차 요청 상세 값 초기화
    function initApvlAcptDetl() {
        $('#ipt_reqAcptWrkDt').val('')
        $('#ipt_reqAcptJobStrtTm').val('')
        $('#ipt_reqAcptJobEndTm').val('')
        $('#ipt_reqAcptEmpEmalAddr').val('')
        $('#ipt_reqAcptTh1AprvStus').val('')
        $('#ipt_reqAcptTh2AprvStus').val('')
        $('#txa_reqAcptRsn').val('')
    }

    // 승인, 반려 버튼 클릭 시 로직
    function btnReqEvt(thisId) {
        var apvlAcptStus = '';
        var msg = $('#' + thisId).html();

        var sSessionId = sessionStorage.getItem("email"); //세션사용자ID - email

        var sTh1AprvNm   = $('#ipt_reqAcptTh1AprvNm').val();   //1차승인자 - email
        var sTh2AprvNm   = $('#ipt_reqAcptTh2AprvNm').val();   //2차승인자 - email
        var sTh1AprvStus = $("#ipt_reqAcptTh1AprvStus").val(); //1차승인상태코드
        var sTh2AprvStus = $("#ipt_reqAcptTh2AprvStus").val(); //2차승인상태코드

        var authFlag = ""; //승인플래그, 1:1차승인, 2:2차승인, 3:반려

        if(thisId == 'btn_acpt') {
            //승인 버튼을 선택할 경우
            apvlAcptStus = '02';
        } else {
            apvlAcptStus = '03';
        }

        //결재/승인사유 유효성 검증
        if($("#txa_reqAcptRsnAcpt").val().trim() == "") {
            alertMsg("결재요청 " + msg + " 사유를 입력해주세요.", function() {
                $("#txa_reqAcptRsnAcpt").focus();
            });
            return;
        }
        console.log(sSessionId+", "+sTh1AprvNm+", "+sTh2AprvNm);
        if(apvlAcptStus == "02"){ //승인 버튼으로 들어온 경우만 체크
            if(sSessionId == sTh1AprvNm) { //접속사용자와 1차승인자가 같은경우 = 접속자는 1차승인자
                if(sTh1AprvStus == '') {
                    alertMsg(msg + "하실 결재건을 선택하세요!");
                    return;
                }

                if( sTh1AprvStus == "01" && sTh2AprvStus == "02" ) { // 1차승인자 미승인, 2차승인자 승인   = 존재하면 안되는 경우
                    alertMsg("2차 승인 완료 상태입니다.");
                    return;
                }

                if( sTh1AprvStus == "02" && sTh2AprvStus == "01" ) { // 1차승인자 승인, 2차승인자 미승인   = 존재하면 안되는 경우
                    alertMsg("1차 승인 완료 상태입니다.");
                    return;
                }

                authFlag = "1"; //승인플래그 1, 1차승인
            } else if(sSessionId == sTh2AprvNm) { //접속사용자와 2차승인자가 같은경우 = 접속자는 2차승인자
                if(sTh2AprvStus == '') {
                    alertMsg(msg + "하실 결재건을 선택하세요!");
                    return;
                }

                if( sTh1AprvStus == "01" && sTh2AprvStus == "01" ) { // 1차승인자 미승인, 2차승인자 미승인 = 1차승인자 승인대상
                    alertMsg("1차 승인이 완료되지 않았습니다.");
                    return;
                } else if ( sTh1AprvStus == "01" && sTh2AprvStus == "02" ) { // 1차승인자 미승인, 2차승인자 승인 = 이상데이터, 일단 1차승인 미완료 메시지
                    alertMsg("1차 승인이 완료되지 않았습니다.");
                    return;
                } else if ( sTh1AprvStus == "02" && sTh2AprvStus == "02" ) { // 1차승인자 승인,   2차승인자 승인   = 승인완료상태
                    alertMsg("2차 승인 완료 상태입니다.");
                    return;
                }
                authFlag = "2"; //승인플래그 1, 2차승인
            } else { //접속사용자는 승인 권한이 없음
                alertMsg("결재 권한이 없습니다.");
                return;
            }
        } else {
            authFlag = "3"; //승인플래그 3 반려
        }

        cf_dialog.confirm(msg + '하시겠습니까?', function(){
            if(this.key == 'ok'){
                var inptStrtTm = $("#ipt_reqAcptJobStrtTm").val().substring(0,2) + "" + $("#ipt_reqAcptJobStrtTm").val().substring(3,5) +"00";
                var inptEndTm  = $("#ipt_reqAcptJobEndTm").val().substring(0,2) + "" + $("#ipt_reqAcptJobEndTm").val().substring(3,5) +"00";

                var param = {
                    "email"         : $("#ipt_reqAcptEmpEmalAddr").val(),   //기안자 아이디
                    "wrkDt"         : $("#ipt_reqAcptWrkDt").val(),         //연차요청일시
                    "jobStrtTm"     : inptStrtTm,                           //연차 시작 시간
                    "jobEndTm"      : inptEndTm,                            //연차 종료 시간
                    "th1AprvStus"   : apvlAcptStus,                         //1차승인상태 01: 미승인, 02: 승인, 03: 반려
                    "th1AprvRsn"    : $("#txa_reqAcptRsnAcpt").val(),       //연차승인사유
                    //"th1AprvNm"     : sessionStorage.getItem("email"),    //결재자 : 로그인한 사용자 아이디
                    "th2AprvStus"   : apvlAcptStus,                         //2차승인상태 01: 미승인, 02: 승인, 03: 반려
                    "authFlag"      : authFlag,                             //승인플래그, 1:1차승인, 2:2차승인, 3:반려 update SQL 구분용
                }

                //param["th1AprvStus"] = thisId == 'btn_acpt' ? '02' : '03';
                console.log("###param", param);
                //return false;
                $.ajaxCall( param, {
                     method : 'POST',
                     'url' : '/dili/saveApvlAcpt/post',
                     'dataType' : 'json',
                     'data' : JSON.stringify(param),
                     'async' : false,
                     'callbackFn' : function(data){
                        g_toast.push(msg + '되었습니다.');
                        $("#txa_reqAcptRsnAcpt").val('');
                        //$('#exitApvlAcptModalBtn').click();
                        initApvlAcptDetl();
                        srchApvlAcptHist();
                     }
                });
            }
        });
    }

    function onApvlAcptClickEvt(trId) {
        trId = $(trId);
        var table = document.getElementById("tblWrkApvlAcpt");
        var tr = table.getElementsByTagName("tr");

        for(var i=0; i<tr.length; i++){
            tr[i].style.background = "white";
        }
        //document.getElementById(trId.id).style.backgroundColor = "lightgrey";
        trId.css('backgroundColor', 'lightgrey');


        var arrWrkDt = trId.children().eq(7).html().split('|');

        $("#ipt_reqAcptWrkDt").val(arrWrkDt[0]);
        $("#ipt_reqAcptJobStrtTm").val(arrWrkDt[1]);
        $("#ipt_reqAcptJobEndTm").val(arrWrkDt[2]);
        $("#txa_reqAcptRsn").val(arrWrkDt[3]);
        $("#ipt_reqAcptEmpEmalAddr").val(arrWrkDt[4]);

        $("#ipt_reqAcptTh1AprvStus").val(arrWrkDt[5]);
        $("#ipt_reqAcptTh2AprvStus").val(arrWrkDt[6]);

        $("#ipt_reqAcptTh1AprvNm").val(arrWrkDt[7]);
        $("#ipt_reqAcptTh2AprvNm").val(arrWrkDt[8]);

        /* 임시주석 윤상은 disabled 상태가 눈에 안띔 => 알림창으로 처리 변경
        if(arrWrkDt[5] != '01') {
            //결재 진행 상태가 미승인이 아닌 경우, 승인, 반려 버튼 disabled 처리
            $("#btn_acpt").prop('disabled', true);
            $("#btn_rjt").prop('disabled', true);
        } else {
            $("#btn_acpt").prop('disabled', false);
            $("#btn_rjt").prop('disabled', false);
        }
        */
    }

    /* input, textArea 글자수 체크 */
    function chkLength(obj, maxByte) {
        var strValue = obj.value;
        var strLen = strValue.length;
        var totalByte = 0;
        var len = 0;
        var oneChar = "";
        var str2 = "";
        for (var i = 0; i < strLen; i++) {
            oneChar = strValue.charAt(i);
            if (escape(oneChar).length > 4) {
                totalByte += 2;
            } else {
                totalByte++;
            }
            // 입력한 문자 길이보다 넘치면 잘라내기 위해 저
            if (totalByte <= maxByte) {
                len = i + 1;
            }
        }
        // 넘어가는 글자는 자른다.
        if (totalByte > maxByte) {
            alertMsg(maxByte + "자를 초과 입력 할 수 없습니다.", function() {
                $("#txa_reqAcptRsnAcpt").focus();
                str2 = strValue.substr(0, len);
                obj.value = str2;
                //chkLength(obj, 4000);
            });
            return;
        }
    }
</script>

<div style="width :600px;">
        <div class="mb-4" role="alert">
            <h5>
                <b>결재승인</b>
            </h5>
            <div role="alert">
                <h6 style="text-align: right">
                    <span class="requiredText"><b>* 는 필수 입력 항목입니다.</b></span>
                </h6>
            </div>
        </div>

        <table>
            <tr>
                <td>


        <!--<div class="accordion mb-4" id="grp_wrkApvlReq">
            <div class="card">
                <div class="card-header p-0" id="head_wrkApvlReq">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_wrkApvlReq" aria-expanded="true" aria-controls="collapseOne">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            연차결재 승인
                        </button>
                    </h2>
                </div>-->

                <!--<div id="col_wrkApvlReq" class="collapse show" aria-labelledby="head_wrkApvlReq" data-parent="#grp_wrkApvlReq">
                    <div id="apvlAcptDiv" class="card-body flex-height d-flex">
                        <div class="row">
                            <div class="col-sm-12">-->
                                <div class="accordion mb-4" id="grp_wrkApvlAcpt">
                                    <div class="p-0" id="head_wrkApvlAcpt">
                                        <!-- Body -->
                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-center mr-5" style="font-weight:bold">
                                                <span class="mr-4">결재자&nbsp;</span>
                                            </div>
                                            <div class="align-self-center mr-5">
                                                <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_th1AprvNm" name="ipt_th1AprvNm" placeholder="이름을 입력해주세요." maxlength="10" readonly/>
                                            </div>
                                        </div>

                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-center mr-5" style="font-weight:bold">
                                                <span>결재상태&nbsp;&nbsp;&nbsp;</span>
                                            </div>
                                            <div class="align-self-center mr-5">
                                                <select id="sbx_aprvStusNm" name="APVL_STTS_CD" class="form-control">
                                                    <option value="00" selected>전체</option>
                                                </select>
                                            </div>
                                            <div class="align-self-end align-self-center">
                                                <button class="button" id="srchAcptHistBtn">조회</button>
                                            </div>
                                        </div>

                                        <div style="position: relative;" id="grid-parent">
                                            <div id="grd_wrkApvlAcpt" style="overflow:auto; max-height:300px; max-">grid</div>
                                        </div>

                                        <!--<div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold">연차요청일시</div>
                                            <div class="align-self-center mr-1">
                                                <div style="float: left;">
                                                     <input type="date" class="align-self-start align-self-center mr-1 form-control" id="ipt_reqAcptWrkDt"       name="ipt_reqAcptWrkDt" disabled/>
                                                </div>
                                                <div style="float: left;">
                                                   <input type="time" class="align-self-start align-self-center form-control"        id="ipt_reqAcptJobStrtTm"   name="ipt_reqAcptJobStrtTm" disabled/>
                                                </div>
                                                <div style="float: left;">
                                                    <span class="align-self-start align-self-center">&nbsp;~&nbsp;</span>
                                                </div>
                                                <div style="float: left;">
                                                    <input type="time" class="align-self-start align-self-center mr-1 form-control"  id="ipt_reqAcptJobEndTm"    name="ipt_reqAcptJobEndTm" disabled/>
                                                </div>
                                            </div>
                                        </div>-->
                                        <input type="hidden" id="ipt_reqAcptWrkDt"       name="ipt_reqAcptWrkDt" />
                                        <input type="hidden" id="ipt_reqAcptJobStrtTm"   name="ipt_reqAcptJobStrtTm" />
                                        <input type="hidden" id="ipt_reqAcptJobEndTm"    name="ipt_reqAcptJobEndTm" />
                                        <input type="hidden" id="ipt_reqAcptEmpEmalAddr" name="ipt_reqAcptEmpEmalAddr" />
                                        <input type="hidden" id="ipt_reqAcptTh1AprvStus" name="ipt_reqAcptTh1AprvStus" />
                                        <input type="hidden" id="ipt_reqAcptTh2AprvStus" name="ipt_reqAcptTh2AprvStus" />
                                        <input type="hidden" id="ipt_reqAcptTh1AprvNm"   name="ipt_reqAcptTh1AprvNm" />
                                        <input type="hidden" id="ipt_reqAcptTh2AprvNm"   name="ipt_reqAcptTh2AprvNm" />

                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold">결재요청사유&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                            <div class="align-self-center mr-7">
                                                <textarea id="txa_reqAcptRsn" name="txa_reqAcptRsn" maxlength="500" style="resize: none; width:440px;height:70px;" placeholder="사유를 입력해주세요.(200자 이하)" disabled></textarea>
                                            </div>
                                        </div>

                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold"><span class="requiredTag mr-1">*</span>승인/반려사유</div>
                                            <div class="align-self-center mr-7">
                                                <textarea id="txa_reqAcptRsnAcpt" name="txa_reqAcptRsnAcpt" maxlength="210" style="resize: none; width:440px;height:70px;" placeholder="사유를 입력해주세요.(200자 이하)" onkeyup="chkLength(this, 200)"></textarea>
                                            </div>
                                        </div>


                                        <div class="card-body flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3"></div>
                                            <div class="align-self-center mr-7">
                                                <button class="button" id="btn_acpt" onclick="btnReqEvt(this.id)">승인</button>
                                                <button class="button" id="btn_rjt" onclick="btnReqEvt(this.id)">반려</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            <!--</div>
                         </div>
                    </div>
                </div>-->
            <!--</div>-->
                </td>
            </tr>
        </table>
</div>