<script type="text/javascript">
    $(document).ready(function(){
        // 공통 코드 조회 - '결재 구분'
        retrieveCmmCd("rb_apvlReqDivsCd", 'APVL_DIVS_CD');

        // 결재 구분 기본 선택 값 지정 - '야간근무'
        //$("input:radio[name='APVL_DIVS_CD']:radio[value='01']").prop('checked', true);
        $('#apvlReqDiv').load("{% url 'dili_api:wrkApvlReq' %}");
    });

    $(document).on("change","input:radio[name='APVL_DIVS_CD']",function(){
        var url = "";
        if($("input[name='APVL_DIVS_CD']:checked").val() == '01') {
            //야간근무
            url = "{% url 'dili_api:wrkApvlReq' %}" ;
        } else if($("input[name='APVL_DIVS_CD']:checked").val() == '02') {
            //휴일근무
            url = "{% url 'dili_api:wrkApvlReq' %}" ;
        } else if($("input[name='APVL_DIVS_CD']:checked").val() == '03') {
            //연차
            url = "{% url 'dili_api:yryApvlReq' %}" ;
        }
        $('#apvlReqDiv').load(url);
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="mb-4" role="alert">
            <h5>
                <b>결재 요청</b>
            </h5>
        </div>

        <div class="accordion mb-4" id="grp_yryApvlReq">
            <div class="card">
                <!-- Card Title -->
                <div class="card-header p-0" id="head_yryApvlReq">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_yryApvlReq" aria-expanded="true" aria-controls="collapseOne">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            결재 요청
                        </button>
                    </h2>
                </div>
                <!-- Card Body -->
                <div id="col_yryApvlReq" class="collapse show" aria-labelledby="head_yryApvlReq" data-parent="#grp_yryApvlReq">
                    <div class="card-body flex-height d-flex">
                        <div class="align-self-start align-self-center mr-3">결재 유형</div>
                        <div class="align-self-center mr-5">
                            <input id="rb_apvlReqDivsCd" type="radio" name="APVL_DIVS_CD" value="00" style="display : none;">
                        </div>
                    </div>

                    <!-- 결재유형 radioButton 선택 값에 따라 변경되는 영역 -->
                    <div id="apvlReqDiv" class="card-body flex-height d-flex">
                        <h5>
                            <b>Div Change</b>
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

