<script type="text/javascript">
    $(document).ready(function(){
        // 결재자 검색 - 직원조회 모달 오픈
        $("#ipt_apvlLnSearchNamePop").click(function(){
            //자식창에서 여는 결재자 조회 팝업임을 표시
            $('#apvlReqIptFlagHidden').text("apvlLnReqBfrPop");

            openEmpMgmtPop();
        });

        // 참조자 검색 - 직원조회 모달 오픈
        $("#ipt_refSearchNamePop").click(function(){
            //자식창에서 여는 참조자 조회 팝업임을 표시
            $('#apvlReqIptFlagHidden').text("refReqBfrPop");

            openEmpMgmtPop();
        });

        // 직원 조회 모달 팝업 오픈
        function openEmpMgmtPop(ipt_id) {
            /*
            // 전달할 직원명 param 세팅
            if(ipt_id != null && ipt_id != '') {
                $('#ipt_searchNamePop').val($('#' + ipt_id).val());
            }
            */
            // 팝업 오픈
            var url = "{% url 'dili_api:empMgmtPop' %}" ;

            modal('empModalDiv');

            $('#empModal').load(url);

            //$('#empModalDiv').css("width", "40%");
            $('#empModalDiv').css("z-index", 15);
        }


    });


    // 요청 버튼 선택 시, 유효성 검증 및 데이터 저장
    //$(document).on("click","#btn_apvlBfrReq",function(){
    $('#btn_apvlBfrReq').click(function(){
        //공란 여부 검증
        //근무일자 유효성 검증
        if($("#ipt_wrkDt").val() == "") {
            alertMsg("근무 일자를 선택해주세요.");
            return;
        }
        //근무 시작 시간 유효성 검증
        if($("#ipt_jobStrtTm").val() == "") {
            alertMsg("근무 시작 시간을 선택해주세요.");
            return;
        }
        //근무 종료 시간 유효성 검증
        if($("#ipt_jobEndTm").val() == "") {
            alertMsg("근무 종료 시간을 선택해주세요.");
            return;
        }

        //근무 사유 유효성 검증
        if($("#txa_reqBfrRsn").val().trim() == "") {
            alertMsg("근무 사유를 입력해주세요.");
            return;
        }

        //결재자 유효성 검증
        if($("#ipt_apvlLnSearchNamePop").val().trim() == "" || $("#ipt_apvlLnSearchEmailPop").val().trim() == "") {
            alertMsg("결재자를 선택해주세요.");
            return;
        }

        //입력받은 데이터 유효성 검증
        //근무 일자 및 근무 시간
        var currDt = new Date();
        var inptDt = new Date($('#ipt_wrkDt').val())

        //현재 날짜가 결재 요청 일자 이후인 경우,
        if( currDt > inptDt ) {
            alertMsg("근무 일자는 현재 일자 이후로 선택해주세요.");
            return;
        }

        //현재 날짜가 결재 요청 일자 이후인 경우,
        var inptStrtDtTm = new Date($('#ipt_wrkDt').val() + " " +  $("#ipt_jobStrtTm").val())
        var inptEndDtTm  = new Date($('#ipt_wrkDt').val() + " " +  $("#ipt_jobEndTm").val())
        if( inptStrtDtTm > inptEndDtTm ) {
            alertMsg("근무 시작 시간은 근무 종료 시간 이전으로 선택해주세요.");
            return;
        }

        //동일 일자 결재 진행건 유효성 검증
        var param = {
            "email"         : sessionStorage.getItem("email"),      //로그인한 사용자 아이디
            "wrkDt"         : $("#ipt_wrkDt").val(),                //근무일자
        }
        //console.log("###########param::", param);

        var url = "{% url 'dili_api:getDuplApvlReqCnt' %}";
        submissionCallList( param, 'GET', url, function(data) {
            if(data.length > 0 && data[0].APVL_REQ_CNT > 0) {
                //동일 날짜에 결재요청건이 있는 경우
                var msg = '일자 : ' + param.wrkDt + '\n결재요청건이 ' + data[0].APVL_REQ_CNT + '건 있습니다.\n 결재 요청하시겠습니까?';
                cf_dialog.confirm(msg, function(){
                    if(this.key == 'ok'){
                        saveApvlReq();
                    }
                });
            } else {
                //동일 날짜에 결재요청건이 없는 경우
                cf_dialog.confirm('근무 결재를 요청하시겠습니까?', function(){
                    if(this.key == 'ok'){
                        saveApvlReq();
                    }
                });
            }
        });

    });

    //선결재 저장
    function saveApvlReq() {
        var inptWrkDt = $("#ipt_wrkDt").val();
        var inptStrtTm = $("#ipt_jobStrtTm").val().substring(0,2) +""+ $("#ipt_jobStrtTm").val().substring(3,5) +"00";
        var inptEndTm  = $("#ipt_jobEndTm").val().substring(0,2) +""+ $("#ipt_jobEndTm").val().substring(3,5) +"00";
        var inptWrkReqRsn = $("#txa_reqBfrRsn").val().trim();
        var wrkTme = getTimeDiff($("#ipt_wrkDt").val() + ' ' +  $("#ipt_jobStrtTm").val() + ':00', $("#ipt_wrkDt").val() + ' ' +  $("#ipt_jobEndTm").val() + ':00');

        param = {
            "email"         : sessionStorage.getItem("email"),      //로그인한 사용자 아이디
            "apvlDivs"      : "01",                                 //01: 선결재, 02: 후결재
            "apvlReqDivs"   : "01",                                 //01: 야간근무, 02: 휴일근무
            "wrkDt"         : $("#ipt_wrkDt").val(),                //근무일자
            "jobStrtTm"     : inptStrtTm,                           //근무 시작 시간
            "jobEndTm"      : inptEndTm,                            //근무 종료 시간
            "wrkTme"        : wrkTme || '000000',                   //$("#ipt_wrkDt").val().substring(11,13) +""+ $("#ipt_wrkDt").val().substring(14,16) +"" + $("#ipt_wrkDt").val().substring(17,19),
            "wrkReqRsn"     : inptWrkReqRsn,                        //근무 사유
            "th1AprvStus"   : "01",                                 //01: 미승인
            "th1AprvNm"     : $("#ipt_apvlLnSearchEmailPop").val(), //결재자
            "refNm"         : $('#ipt_refSearchEmailPop').val()     //참조자
        }

        $.ajaxCall( param, {
                            method : 'POST',
                            'url' : '/dili/saveApvlReq/post',
                            'dataType' : 'json',
                            'data' : JSON.stringify(param),
                            'async' : false,
                            'callbackFn' : function(data){
                                g_toast.push('결재 요청이 완료되었습니다.');
                                $('#exitApvlReqModalBtn').click();
                                //$('#searchBtn').click();
                            }
        });
    }
</script>


<div class="row">
    <div class="col-sm-12">
        <div class="mb-4" role="alert">
            <h5>
                <b>야간 근무</b>
            </h5>
        </div>

        <div class="accordion mb-4" id="grp_apvlReqBfr">
            <div class="card">
                <div class="card-header p-0" id="head_apvlReqBfr">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_wrkApvlReq" aria-expanded="true" aria-controls="collapseOne">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            근무결재 요청
                        </button>
                    </h2>
                </div>

                <div id="col_wrkApvlReq" class="collapse show" aria-labelledby="head_wrkApvlReq" data-parent="#grp_wrkApvlReq">
                    <div id="apvlAcptDiv" class="card-body flex-height d-flex">
                        <div class="row" style="width :640px;">
                            <div class="col-sm-12">
                                <div class="mb-4" role="alert">
                                    <h6>
                                        <b>결재 요청</b>
                                    </h6>
                                </div>
                                <div class="accordion mb-4" id="grp_wrkApvlReq">
                                    <div class="p-0" id="head_wrkApvlReq">
                                        <!-- Body -->
                                        <!--
                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3">결재 유형</div>
                                            <div class="align-self-center">
                                                <span class="align-self-start align-self-center">선결재</span>
                                            </div>
                                        </div>
                                        -->

                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold">근무 일자</div>
                                            <div class="align-self-center mr-1">
                                                <div style="float: left;">
                                                     <input type="date" class="align-self-start align-self-center mr-1 form-control" id="ipt_wrkDt"       name="ipt_wrkDt" />
                                                </div>
                                                <div style="float: left;">
                                                   <input type="time" class="align-self-start align-self-center form-control"        id="ipt_jobStrtTm"   name="ipt_jobStrtTm" />
                                                </div>
                                                <div style="float: left;">
                                                    <span class="align-self-start align-self-center">&nbsp;~&nbsp;</span>
                                                </div>
                                                <div style="float: left;">
                                                    <input type="time" class="align-self-start align-self-center mr-1 form-control"  id="ipt_jobEndTm"    name="ipt_jobEndTm" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold">근무 사유</div>
                                            <div class="align-self-center mr-7">
                                                <textarea id="txa_reqBfrRsn" class="form-control" name="reqRsn" maxlength="500" style="resize: none; width:440px;height:70px;" placeholder="사유를 입력해주세요."></textarea>
                                            </div>
                                        </div>

                                        <!-- 결재선 지정 영역 -->
                                        <div class="card-body flex-height d-flex m-0 p-2">
                                            <!-- 결재자 -->
                                            <div class="align-self-center mr-5 " style="font-weight:bold">
                                                <span>결재&nbsp;</span>
                                            </div>

                                            <div class="align-self-center mr-3">
                                                <div class="align-self-center mr-3">
                                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_apvlLnSearchNamePop" name="ipt_apvlLnSearchNamePop" placeholder="이름을 입력해주세요." maxlength="10" readonly/>
                                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_apvlLnSearchEmailPop" name="ipt_apvlLnSearchEmailPop" style="width:235px; display:none;" readonly/>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="card-body flex-height d-flex m-0 p-2">
                                            <!-- 결재자 -->
                                            <div class="align-self-center mr-5 " style="font-weight:bold">
                                                <span>참조&nbsp;</span>
                                            </div>

                                            <div class="align-self-center mr-3">
                                                <div class="align-self-center mr-3">
                                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_refSearchNamePop" name="ipt_refSearchNamePop" placeholder="이름을 입력해주세요." maxlength="10" readonly/>
                                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_refSearchEmailPop" name="ipt_refSearchEmailPop" style="width:235px; display:none;" readonly/>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- 결재 요청 버튼 영역 -->
                                        <div class="flex-height d-flex m-0 p-2">
                                            <div class="align-self-start align-self-center mr-3"></div>
                                            <div class="align-self-center mr-7">
                                                <button class="button" id="btn_apvlBfrReq">요청</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>