<script type="text/javascript">
    $(document).ready(function(){
        name = $('#addEmpBtn').val();
        console.log(' Debug [Name] : '+name );


    });

    $('#submitBtn').click(function(){
            onClickSubmitBtn();
        });

    $('#closeBtn').click(function(){
            btnClose();
        });

    $('#resetBtn').click(function(){
            onClickResetBtn();
        });

    function btnClose() {
        var empId = $('#ipt_empId').val();

        if( empId != '' && empId != null){
            n_dialog.confirm('작성중인 내용이 있습니다. 회원등록을 취소하시겠습니까?', function(){
                if(this.key == 'ok'){       //확인 클릭
                    //location.href = '/dili/noticeLst';
                    g_toast.push("취소되었습니다.");
                }else{          //취소
                    console.log("그대로");
                }
            });
        } else {
            //location.href = '/dili/noticeLst';
            g_toast.push("목록으로 이동");
        }

    }

    /* 리셋버튼 클릭 이벤트 */
    function onClickSubmitBtn() {
        var ipt_empId = $('[name="ipt_empId"]').val();
        var ipt_empPw = $('[name="ipt_empPw"]').val(),
        var ipt_empAuthId = $('[name="ipt_empAuthId"]').val(),
        var ipt_empNm = $('[name="ipt_empNm"]').val(),
        var ipt_empBd = $('[name="ipt_empBd"]').val(),
        var ipt_empMb = $('[name="ipt_empMb"]').val(),
        var ipt_empDept = $('[name="ipt_empDept"]').val()


        if( ipt_empId != "" || ipt_empId != null ){
            $('#ipt_empId').text("");
        } else if (ipt_empPw != "" || ipt_empPw != null ){
            $('#ipt_empPw').text("");
        } else if (ipt_empAuthId != "" || ipt_empAuthId != null ){
            $('#ipt_empAuthId').text("");
        } else if (ipt_empNm != "" || ipt_empNm != null ){
            $('#ipt_empNm').text("");
        } else if (ipt_empBd != "" || ipt_empBd != null ){
            $('#ipt_empBd').text("");
        } else if (ipt_empMb != "" || ipt_empMb != null ){
            $('#ipt_empMb').text("");
        } else if (ipt_empDept != "" || ipt_empDept != null ){
            $('#ipt_empDept').text("");
        }
    };

    /* 등록버튼 클릭 이벤트 */
    function onClickSubmitBtn() {
        var ipt_empId = $('[name="ipt_empId"]').val();
        var ipt_empPw = $('[name="ipt_empPw"]').val(),
        var ipt_empAuthId = $('[name="ipt_empAuthId"]').val(),
        var ipt_empNm = $('[name="ipt_empNm"]').val(),
        var ipt_empBd = $('[name="ipt_empBd"]').val(),
        var ipt_empMb = $('[name="ipt_empMb"]').val(),
        var ipt_empDept = $('[name="ipt_empDept"]').val()

        var param = {
            "ipt_empId" : ipt_empId,
            "ipt_empPw" : $('[name="ipt_empPw"]').val(),
            "ipt_empAuthId" : $('[name="ipt_empAuthId"]').val(),
            "ipt_empNm" : $('[name="ipt_empNm"]').val(),
            "ipt_empBd" : $('[name="ipt_empBd"]').val(),
            "ipt_empMb" : $('[name="ipt_empMb"]').val(),
            "ipt_empDept" : $('[name="ipt_empDept"]').val()
        }

        if( ipt_empId == "" || ipt_empId == null ){
            alert("직원 아이디를 입력해 주세요.");
        } else if (ipt_empPw == "" || ipt_empPw == null ){
            alert("직원 비밀번호를 입력해 주세요.");
        } else if (ipt_empAuthId == "" || ipt_empAuthId == null ){
            alert("직원 권한을 입력해 주세요.");
        } else if (ipt_empNm == "" || ipt_empNm == null ){
            alert("직원 이름을 입력해 주세요.");
        } else if (ipt_empBd == "" || ipt_empBd == null ){
            alert("직원 생년월일을 입력해 주세요.");
        } else if (ipt_empMb == "" || ipt_empMb == null ){
            alert("직원 연락처를 입력해 주세요.");
        } else if (ipt_empDept == "" || ipt_empDept == null ){
            alert("직원 부서를 입력해 주세요.");
        } else if (ipt_empNm.length < 2){
            alert("직원 이름은 두 글자 이상 입력해 주세요.");
        } else {
            document.getElementById('submitEmp').submit();
        }
    };


</script>
    <div class="row">
        <div class="col-sm-12">
            <form method="post" id="submitApvlReq" action="">
                <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empAuthId">구분</label>
                </div>
                <div class="align-self-center mr-3">
                    <select id="ipt_empAuthId" name="ipt_empAuthId" style="width:300px;">
                        <option value="00" selected>선택</option>
                        <option value="01">추가근무</option>
                        <option value="02">휴일근무</option>
                        <option value="03">연차</option>
                    </select>
                </div>
                <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empBd">일자</label>
                </div>
                <div class="align-self-center mr-3">
                    <input type="date" class="form-control" id="ipt_empBd" name="ipt_empBd" maxlength="8" style="width:300px;"/>
                </div>
                <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empNm">일자</label>
                </div>
                <div class="align-self-center mr-3">
                    <input type="text" class="form-control" id="ipt_empNm" name="ipt_empNm" placeholder="NAME" maxlength="10" style="width:300px;"/>
                </div>
                <div class="container" id="btn_C">
                    <button class="btn btn-primary" id="submitBtn" type="button">신청</button>
                    <!--<input class="btn btn-primary" id="resetBtn" type="reset"/>-->
                    <button class="btn btn-primary" id="updateBtn" type="button" >수정</button>
                    <button class="btn btn-primary" id="deleteBtn" type="button" >삭제</button>
                    <button class="btn btn-primary" id="closeBtn" type="button">닫기</button>
                </div>

            </form>
        </div>
    </div>