<script type="text/javascript">
    $(document).ready(function(){
        /*********************************************************************
        *   화면 초기화
        *********************************************************************/
        // 로그인 여부 확인
        if(sessionStorage.getItem("email") == null){
            location.href = "{% url 'main:login_form' %}";
        }

        // SessionSetting 정보 가져오기
        var param = {
            "email" : sessionStorage.getItem("email"),
            "authId" : sessionStorage.getItem("authId")
        }
        //console.log("###########SessionSettingInfo::", param);

        /* 사용자 권한 셋팅 */
        checkEmpAuthsByEmail(sessionStorage.getItem("email"), ["ADMIN", "GM", "USER"]);

        // 사용자 조회 > 이메일 : SessionSetting email로 설정
        $('#ipt_apvlSearchEmailPop').val(param.email);
        $("#ipt_apvlSearchEmail").val(param.email);

        // 사용자 조회 > 이름 : SessionSetting email로 이름 조회하여 설정
        retrieveEmpNmByEmail(param.email, function(data) {
            $('#ipt_apvlSearchNamePop').val(data[0].EMP_NAME);
            // 직원 조회 팝업으로 넘기고 받는 파라미터 값 설정
            $('#ipt_apvlSearchName').val(data[0].EMP_NAME);
            $('#ipt_apvlSearchEmail').val(param.email);
        });

        // 로그인한 사용자 부서 정보 조회
        var strDeptCd = '00';
        retrieveEmpDeptByEmail(param.email, function(data) {
            if(data.length > 0) {
                strDeptCd = data[0].DEPT_CD;

                // 공통 코드 조회 - '부서'
                retrieveCmmCd('sbx_slinBzdp', 'SLIN_BZDP', function(data) {
                    // 부서 기본 값 : 로그인한 사용자 부서
                    $('[name="SLIN_BZDP"]').val(strDeptCd);
                    $("#apvlHistSearchBtn").click();
                    $('[name="SLIN_BZDP"]').prepend('<option value="00">전체</option>')
                });

            }
        });



        // 공통 코드 조회 - '결재 상태'
        retrieveCmmCd('sbx_apvlSttsCd', 'APVL_STTS_CD');

        // 결재요청월 > 접속 월로 설정
        var todayDt = new Date();
        var strTodayDt = todayDt.getFullYear() + '-' + fillZero(2, (todayDt.getMonth() + 1) + '');
        $('#ipt_apvlSearchYyyyMm').val(strTodayDt)


        //TODO : 관리자, 사업부장 권한 나뉘며 로직 엉킴. 수정 필요
        // 결재승인 버튼 및 직원조회 기능 권한 처리
        if(!isAdmin) {
            //$('#apvlAcptBtn').css("display", 'none');
            //$('#ipt_apvlSearchNamePop").attr('readonly' true);
            //$("#ipt_apvlSearchNamePop").attr('onclick','').unbind('click');

            //$('#sbx_slinBzdp').prop('readonly', true);
            $('#sbx_slinBzdp').prop('disabled', true);
            //$('#ipt_apvlSearchNamePop').prop('readonly', false);
        }

        // 결재승인 버튼 및 직원조회 기능 권한 처리 ( 성명 공란 검색 )
        if(!isAdmin && !isGm && isUser) {
            $('#apvlAcptBtn').css("display", 'none');
            $('#btn_delApvlSearchName').css("display", 'none');
        }

        /*
        $('#apvlAcptBtn').click(function(){
            if(!isAdmin || !isGm) {
                alertMsg('결재 승인 권한이 없습니다.');
                return false;
            }
        });
        */

        /*
        $('#ipt_apvlSearchNamePop').change(function() {
            //console.log("ipt_apvlSearchNamePop변화 => change 이벤트 안되어 click 이벤트로 임시 사용 중 추후 테스트 필요");
            $('#ipt_apvlSearchName').val($('#ipt_apvlSearchNamePop').val());
        });
        */


        // 결재 내역 그리드가 없을 경우, 결재 상세 테이블 숨김
        if($('#grd_apvlReqHist').html() == '') {
            $('#grd_apvlReqHistDetl').css('display', 'none');
        }

        // 결재요청월 focusout 이벤트
        /*
        $('#ipt_apvlSearchYyyyMm').blur(function() {
            if($("#ipt_apvlSearchYyyyMm").val() == "" || $("#ipt_apvlSearchYyyyMm").val().length != 7) {
                alertMsg("결재요청월을 선택해주세요.", function() {
                    $('#ipt_apvlSearchYyyyMm').focus();
                });
                return;
            }
        });*/

        /*********************************************************************
        *   이벤트 바인딩 및 함수 선언
        *********************************************************************/
        //조회 버튼 클릭 이벤트
        $("#apvlHistSearchBtn").click(function(){
            //결재요청월 유효성 검증
            if($("#ipt_apvlSearchYyyyMm").val() == "" || $("#ipt_apvlSearchYyyyMm").val().length != 7) {
                alertMsg("결재요청월을 선택해주세요.", function() {
                    $('#ipt_apvlSearchYyyyMm').focus();
                });
                return;
            }

            //결재요청월 유효성 검증
            var nowDt = new Date();
            var strNowDt = nowDt.getFullYear() + '-' + fillZero(2, (nowDt.getMonth() + 1) + '');
            var inptDt = new Date($("#ipt_apvlSearchYyyyMm").val());
            var todayDt = new Date(strNowDt);
            if(inptDt > todayDt) {
                alertMsg("결재요청월은 현재월, 현재월 이전으로 선택해주세요.", function() {
                    $('#ipt_apvlSearchYyyyMm').val(strNowDt).focus();
                });
                return;
            }

            //부서, 성명 유효성 검증
            if($("#sbx_slinBzdp").val() == "00" && $("#ipt_apvlSearchName").val() == "") {
                alertMsg("전체 부서 조회 시 이름은 필수 입력 항목입니다.", function() {
                    $('#ipt_apvlSearchName').focus();
                });
                return;
            }


            /*
            //결재 상세 테이블 초기화
            $("#thApvlReqDt").text("");
            $("#thAprvNm1").text("");
            $("#thAprvRefNm").text("");
            $("#thAprvStus1").text("");
            // 결재 상세 테이블 숨김
            $('#grd_apvlReqHistDetl').css('display', 'none');
            */

            /*********************************************************************
            *   Session Email 값 기준 근무 결재요청 리스트 조회
            *********************************************************************/
            //권한 따라 부서 세팅
            /*
            var strDeptCd = "";
            if(isAdmin) {       //관리자
                strDeptCd = $("#sbx_slinBzdp option:selected").val();
            } else if(isGm) {   //사업부장
                retrieveEmpDeptByEmail(param.email, function(data) {
                    if(data.length > 0) {
                        strDeptCd = data[0].DEPT_CD;
                    }
                });
            }
            */

            var params = {
                "apvlReqDtYm"  : $("#ipt_apvlSearchYyyyMm").val(),                                     // 결재요청월
                //"deptCd"       : strDeptCd,                                                            // 부서
                "deptCd"       : $("#sbx_slinBzdp option:selected").val(),                             // 부서
                "email"        : $("#ipt_apvlSearchEmail").val(),// || sessionStorage.getItem("email"),//사용자 조회  > 이메일 값
                "apvlStusDivs" : $("#sbx_apvlSttsCd option:selected").val(),                           //TB_APVL_REQ_MGMT_M APVL_STUS 값 => 01,02: 승인, 승인반려 NULL: 미승인
            }
            console.log("###########params::", params);
            var url = "{% url 'dili_api:getApvlReqHist' %}";

            submissionCallList( params, 'GET', url, apvlReqHistGrd );


        });


        // 화면 진입 시, 로그인한 사용자 기준으로 결재요청이력 조회
        /*
        $("#sbx_slinBzdp").change(function(){
            if(cnt == 0) {
                $("#apvlHistSearchBtn").click();
                cnt++;
            }
            //$("#sbx_slinBzdp").unbind();
        });
        */

        // 직원 조회 시, 결재자 input 세팅
        //$(document).on("click","#ipt_apvlSearchNamePop",function(){
        $('#ipt_apvlSearchNamePop').click(function() {

            if($('#apvlReqIptFlagHidden').text() == 'apvlReqHist'){
                //부모창에서 연 경우, 직원 조회 > 이름, 이메일 세팅
                $('#ipt_apvlSearchName').val($('#ipt_apvlSearchNamePop').val());
                $('#ipt_apvlSearchEmail').val($('#ipt_apvlSearchEmailPop').val());
                $('#apvlReqIptFlagHidden').text('')
            } else if($('#apvlReqIptFlagHidden').text() == 'apvlLnReqBfrPop') {
                //자식창에서 연 경우, 결재자 조회 > 이름, 이메일 세팅
                $('#ipt_apvlLnSearchNamePop').val($('#ipt_apvlSearchNamePop').val());
                $('#ipt_apvlLnSearchEmailPop').val($('#ipt_apvlSearchEmailPop').val());
                $('#apvlReqIptFlagHidden').text('')
            } else if($('#apvlReqIptFlagHidden').text() == 'refReqBfrPop') {
                //자식창에서 연 경우, 참조자 조회 > 이름, 이메일 세팅
                $('#ipt_refSearchNamePop').val($('#ipt_apvlSearchNamePop').val());
                $('#ipt_refSearchEmailPop').val($('#ipt_apvlSearchEmailPop').val());
                $('#apvlReqIptFlagHidden').text('')
            }
        });


        // 직원조회 권한 처리 및 모달 오픈
        if(isAdmin || isGm) {
            $("#ipt_apvlSearchName").click(function(){
                //부모창에서 여는 직원 조회 팝업임을 표시
                $('#apvlReqIptFlagHidden').text("apvlReqHist");

                var url = "{% url 'dili_api:empMgmtPop' %}" ;
                modal('empModalDiv');
                $('#empModal').load(url);
                $('#empModalDiv').css("z-index", 15);
            });
        }


        // 연차등록 모달 오픈
        $("#yryReqBtn").click(function(){
            var url = "{% url 'dili_api:yryApvlReqPop' %}" ;
            $('#currYryPopStts').val("register");
            modal('yryReqModalDiv');
            $('#yryReqModal').load(url);
        });

        // 결재등록 모달 오픈
        $("#apvlReqBtn").click(function(){
            var url = "{% url 'dili_api:apvlReqBfrPop' %}" ;
            $('#currReqPopStts').val("register");
            modal('apvlReqModalDiv');
            $('#apvlReqModal').load(url);
        });


        // 결재승인 모달 오픈
        $("#apvlAcptBtn").click(function(){
            var url = "{% url 'dili_api:apvlAcptPop' %}" ;

            modal('apvlAcptModalDiv');
            $('#apvlAcptModal').load(url);
        });


        // 부서값 변경 이벤트
        /*
        $("#sbx_slinBzdp").change(function(){
            //alertMsg();
        });*/


        // 성명 삭제 버튼 클릭 이벤트
        $('#btn_delApvlSearchName').click(function(){
            $('#ipt_apvlSearchName').val('');
            $('#ipt_apvlSearchEmail').val('');
            $('#ipt_apvlSearchNamePop').val('');
            $('#ipt_apvlSearchEmailPop').val('');
        });

    });
    var cnt = 0;
    /*********************************************************************
    *   근무결재요청내역 Grid 생성
    *********************************************************************/
    function apvlReqHistGrd(data){
        // 결재 상세 테이블 숨김
        $('#grd_apvlReqHistDetl').css('display', 'none');
        // 결재 상세 input 값 초기화
        $("#thApvlReqDt").text("");
        $("#thAprvNm1").text("");
        $("#thAprvRefNm").text("");
        $("#thAprvStus1").text("");

        var apvlReqHistTable =  '<table class="table table-bordered table-hover text-center">';
            apvlReqHistTable += '<thead>';
            apvlReqHistTable += '<tr>';
            //apvlReqHistTable += '<th class="text-center">순번</th>';
            apvlReqHistTable += '<th class="text-center">구분</th>';
            apvlReqHistTable += '<th class="text-center">기안일</th>';
            apvlReqHistTable += '<th class="text-center">연차일</th>';
            apvlReqHistTable += '<th class="text-center">반차일</th>';
            apvlReqHistTable += '<th class="text-center">기안자</th>';
            apvlReqHistTable += '<th class="text-center">근무요청일시 출근시각 ~ 퇴근시각 (총 근무시간)</th>';
            apvlReqHistTable += '<th class="text-center">결재상태</th>';
            apvlReqHistTable += '<th class="text-center">결재자</th>';
            apvlReqHistTable += '<th class="text-center">근무요청사유</th>';
            apvlReqHistTable += '</tr>';
            apvlReqHistTable += '</thead>';
            apvlReqHistTable += '<tbody>';

        if(data.length > 0) {
            for(var i = 0; i < data.length; i++){

                var wrkDtm = "";
                if(data[i].WRK_DT != "") {
                    wrkDtm = data[i].WRK_DT + " " + data[i].JOB_STRT_TM.substring(0,5) + " ~ " + data[i].JOB_END_TM.substring(0,5) + " ";
                    if(data[i].WRK_TME != "" && data[i].WRK_TME != "000000") {
                        wrkDtm += '( ';
                        wrkDtm += data[i].WRK_TME.substring(0,2) != '00' ? parseInt(data[i].WRK_TME.substring(0,2)) + '시간 ' : '';
                        wrkDtm += data[i].WRK_TME.substring(2,4) != '00' ? parseInt(data[i].WRK_TME.substring(2,4)) + '분 ' : '';
                        //wrkDtm += data[i].WRK_TME.substring(4,6) != '00' ? parseInt(data[i].WRK_TME.substring(4,6)) + '초 ' : '';
                        wrkDtm += ')';
                    }
                }

                //apvlReqHistTable += '<tr onclick="onclickEvt(this)">';
                apvlReqHistTable += '<tr onclick="onclickEvt2(this)">';
                //apvlReqHistTable += '<td id="no'+i+'" class="pt-3-half">'+(i+1)+'</td>';
                apvlReqHistTable += '<td class="pt-3-half">'+data[i].APVL_REQ_NM+'</td>';
                apvlReqHistTable += '<td class="pt-3-half">'+data[i].APVL_REQ_DT+'</td>';
                apvlReqHistTable += '<td class="pt-3-half">'+data[i].YEONCHA+'</td>';
                apvlReqHistTable += '<td class="pt-3-half">'+data[i].BANCHA+'</td>';
                apvlReqHistTable += '<td class="pt-3-half">'+data[i].EMP_NAME+'</td>';
                apvlReqHistTable += '<td class="pt-3-half">'+wrkDtm+'</td>';
                apvlReqHistTable += '<td class="pt-3-half">'+data[i].APRV_STUS_NM+'</td>';
                apvlReqHistTable += '<td class="pt-3-half">'+data[i].REF_NM+'</td>';
                data[i].WRK_REQ_RSN = data[i].WRK_REQ_RSN.length >= 30 ? data[i].WRK_REQ_RSN.substring(0, 30) + '...' : data[i].WRK_REQ_RSN ;
                apvlReqHistTable += '<td class="pt-3-half">'+data[i].WRK_REQ_RSN+'</td>';
                //apvlReqHistTable += '<td class="pt-3-half" style="display: none;">' + data[i].TH1_APRV_NM + ';' + data[i].TH1_APRV_STUS + '</td>';
                apvlReqHistTable += '<td class="pt-3-half" style="display: none;">' + data[i].EMP_EMAL_ADDR + ";" + data[i].WRK_DT + ";" + data[i].JOB_STRT_TM + ";" + data[i].JOB_END_TM + ";" + data[i].TH1_APRV_STUS + '</td>';
                apvlReqHistTable += '</tr>';

            }
        } else {
            apvlReqHistTable += '<tr>';
            apvlReqHistTable += '<td colspan="6" class="pt-3-half">결재 요청 내역이 없습니다.</td>';
            apvlReqHistTable += '</tr>';

        }

        apvlReqHistTable += '</tbody>';
        apvlReqHistTable += '</table>';

        $('#grd_apvlReqHist').html(apvlReqHistTable);

    }


    /*********************************************************************
    *   Grid 클릭 이벤트 처리 - 배경색 지정, 상세보기 트랜잭션
    *********************************************************************/
    function onclickEvt(trId) {
        //선택한 행에 대해 backgroundColor 지정
        $(trId).prevAll().css("background-color","");
        $(trId).nextAll().css("background-color","");
        $(trId).css("background-color","lightGrey");

        // 결재 요청 정보 PK
        var arrWrkDt =$(trId).children().eq(5).html().split(';');

        // 트랜잭션
        var params = {
            "email"      : arrWrkDt[0],     // 기안자
            "wrkDt"      : arrWrkDt[1],     // 근무요청일시
            "jobStrtTm"  : arrWrkDt[2],     // 근무 시작 시간
            "jobEndTm"   : arrWrkDt[3],     // 근무 종료 시간
        }

        submissionCallList( params, "GET", "{% url 'dili_api:getApvlReqHistDetl' %}", function(data){
            setApvlReqHistDetl(data);
        });
    }

    /*********************************************************************
    *   Grid 선택한 행에 따라 상세보기
    *********************************************************************/
    function setApvlReqHistDetl(data) {
        // 결재 상세 테이블 보임
        $('#grd_apvlReqHistDetl').css('display', 'block');
        if(data == undefined || data == null || data.length == 0) {
            // 결재 상세 테이블 숨김
            //$('#grd_apvlReqHistDetl').css('display', 'none');
            // 결재 상세 input 값 초기화
            $("#thApvlReqDt").text("");
            $("#thAprvNm1").text("");
            $("#thAprvRefNm").text("");
            $("#thAprvStus1").text("");
        } else {
            // 결재 상세 테이블 보임
            //$('#grd_apvlReqHistDetl').css('display', 'block');
            // 결재 상세 input 값 초기화
            $("#thApvlReqDt").text(data[0].APVL_REQ_DT);
            $("#thAprvNm1").text(data[0].TH1_APRV_NM);
            $("#thAprvRefNm").text(data[0].REF_NM);
            $("#thAprvStus1").text(data[0].TH1_APRV_STUS_NM);
        }
    }

    /*********************************************************************
    *   Grid 클릭 이벤트 처리 - 배경색 지정, 상세보기 트랜잭션
    *********************************************************************/
    function onclickEvt2(trId) {
        //선택한 행에 대해 backgroundColor 지정
        $(trId).prevAll().css("background-color","");
        $(trId).nextAll().css("background-color","");
        $(trId).css("background-color","lightGrey");

        // 결재 상세 모달 오픈
        var url = "{% url 'dili_api:apvlReqBfrPop' %}" ;
        $('#currReqPopStts').val("modify");
        $('#currReqPopParamArr').val($(trId).children().eq(6).html());

        modal('apvlReqModalDiv');
        $('#apvlReqModal').load(url);
    }

    /*********************************************************************
    *   Grid 선택한 행에 따라 상세보기
    *********************************************************************/
    function setApvlReqHistDetl2(data) {
        if(data == undefined || data == null || data.length == 0) {
            // 결재 상세 input 값 초기화
            g_toast.push('서버 에러로 팝업창을 닫습니다. 다시 선택해주십시오.');
            $('#exitApvlReqModalBtn').click();
        } else {
            // 결재 상세 input 값 초기화
            $("#ipt_wrkDt").val(data[0].WRK_DT);
            $("#ipt_jobStrtTm").val(data[0].JOB_STRT_TM);
            $("#ipt_jobEndTm").val(data[0].JOB_END_TM);
            $("#txa_reqBfrRsn").val(data[0].WRK_REQ_RSN);
            $("#ipt_apvlLnSearchNamePop").val(data[0].TH1_APRV_NAME);
            $("#ipt_apvlLnSearchEmailPop").val(data[0].TH1_APRV_NM);
            $("#ipt_refSearchNamePop").val(data[0].REF_NAME);
            $("#ipt_refSearchEmailPop").val(data[0].REF_NM);
            $("#sp_apvlReqName").text(data[0].EMP_NAME);
            $("#ipt_apvlReqEmail").val(data[0].EMP_EMAIL);
            $("#sp_reqDt").text(data[0].APVL_REQ_DT);
            data[0].APVL_UPD_DT = data[0].APVL_UPD_DT == '' ? '-' : data[0].APVL_UPD_DT;
            data[0].TH1_APRV_RSN = data[0].TH1_APRV_RSN == '' ? '' : data[0].TH1_APRV_RSN;
            data[0].TH1_APRV_DT = data[0].TH1_APRV_DT == '' ? '-' : data[0].TH1_APRV_DT;
            $("#sp_updDt").text(data[0].APVL_UPD_DT);
            $("#txa_reqAcptRsnR").val(data[0].TH1_APRV_RSN);
            $("#sp_acptDt").text(data[0].TH1_APRV_DT);
            $('#currReqPopInfoArr').val(JSON.stringify(data[0]));
        }
    }


</script>

<!-- 연차등록 모달 param -->
<input type="hidden" id="currYryPopStts"        value="01"/><!-- 연차 등록 register, 연차 수정 modify -->
<input type="hidden" id="currYryPopParamArr"    value="01"/><!-- 결재 상세 정보 조합 문자열(; 구분) -->
<input type="hidden" id="currYryPopInfoArr"     value="01"/><!-- 결재 상세 정보 조합 문자열(JSON 형식) -->


<!-- 결재등록 모달 param -->
<input type="hidden" id="currReqMthd"           value="01"/><!-- 결재 상태 선결재 01, 후결재 02 -->
<input type="hidden" id="currReqPopStts"        value="01"/><!-- 결재 등록 register, 결재 수정 modify -->
<input type="hidden" id="currReqPopParamArr"    value="01"/><!-- 결재 상세 정보 조합 문자열(; 구분) -->
<input type="hidden" id="currReqPopInfoArr"     value="01"/><!-- 결재 상세 정보 조합 문자열(JSON 형식) -->

<!-- 직원조회 모달 param -->
<span id="apvlEmpEmailHidden"   style="display:none;" ></span>
<span id="apvlReqHidden"        style="display:none;" >apvlReq</span>
<span id="apvlReqIptFlagHidden" style="display:none;" ></span>

<!-- 사용자조회 세팅되어있는 정보 -->
<input type="hidden" class="form-control" id="ipt_apvlSearchEmail"      name="ipt_apvlSearchEmail"      readonly/>
<input type="hidden" class="form-control" id="ipt_apvlSearchNamePop"    name="ipt_apvlSearchNamePop"    readonly/>
<input type="hidden" class="form-control" id="ipt_apvlSearchEmailPop"   name="ipt_apvlSearchEmailPop"   readonly/>


<!--직원조회 모달 영역 -->
<div id="empModalDiv" class="modalUi">
    <div id="empModal">
    </div>
    <a class="modal_close_btn" id="exitEmpModalBtn">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="
           M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>

    </a>
</div>


<!--연차등록 모달 영역 -->
<div id="yryReqModalDiv" class="modalUi">
    <div id="yryReqModal">
    </div>
    <a class="modal_close_btn" id="exitYryReqModalBtn">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="
           M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </a>
</div>

<!--결재등록 모달 영역 -->
<div id="apvlReqModalDiv" class="modalUi">
    <div id="apvlReqModal">
    </div>
    <a class="modal_close_btn" id="exitApvlReqModalBtn">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="
           M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </a>
</div>

<!-- 결재승인 모달 영역 -->
<div id="apvlAcptModalDiv" class="modalUi">
    <div id="apvlAcptModal">
    </div>
    <a class="modal_close_btn" id="exitApvlAcptModalBtn">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="
           M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </a>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="align-self-start flex-height d-flex m-0 p-2" role="alert">
            <div class="align-self-start align-self-center mr-3">
                <h5>
                    <b>결재요청관리</b>
                </h5>
            </div>

        </div>

        <!-- 1. 사원 조회영역 -->
        <div class="accordion mb-4" id="grp_search">
            <div class="card">
                <div class="card-header p-0" id="head_search">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_search" aria-expanded="true" aria-controls="collapseOne">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>

                            <h6 style="float: right">
                                <span class="requiredText"><b>* 는 필수 입력 항목입니다.</b></span>
                            </h6>
                        </button>
                    </h2>
                </div>
                <div id="col_search" class="collapse show" aria-labelledby="head_search" data-parent="#grp_search">
                    <div class="card-body flex-height d-flex m-0 p-2">
                        <div class="align-self-start align-self-center mr-2"><span class="requiredTag mr-1">*</span>기안일(월별)</div>
                        <div class="align-self-center mr-2">
                            <input type="month" class="align-self-start align-self-center mr-1 form-control" id="ipt_apvlSearchYyyyMm" name="ipt_apvlSearchYyyyMm" max="9999-12"/>
                        </div>
                        <div class="align-self-start align-self-center mr-2"><span class="requiredTag mr-1">*</span>부서</div>
                        <div class="align-self-center mr-2">
                            <select id="sbx_slinBzdp" name="SLIN_BZDP" class="form-control">
                            </select>
                        </div>
                        <div class="align-self-start align-self-center mr-3"><span class="requiredTag mr-1">*</span>성명</div>
                        <div class="align-self-center mr-1">
                            <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_apvlSearchName" name="ipt_apvlSearchName" placeholder="이름을 입력해주세요." maxlength="10" readonly />
                        </div>
                        <div class="align-self-center mr-2">
                            <button type="button" id="btn_delApvlSearchName" class="delInptButton">x</button>
                        </div>
                        <div class="align-self-start align-self-center mr-3"><span class="requiredTag mr-1">*</span>결재상태</div>
                        <div class="align-self-center mr-2">
                            <select id="sbx_apvlSttsCd" name="APVL_STTS_CD" class="form-control">
                                <option value="00" selected>전체</option>
                            </select>
                        </div>
                        <div class="align-self-end align-self-center mr-3">
                            <button class="button" id="apvlHistSearchBtn">조회</button>
                        </div>

                        <div class="align-self-center mr-3">
                            <button class="button" id="yryReqBtn">연차등록</button>
                        </div>
                        <div class="align-self-center mr-3">
                            <button class="button" id="apvlReqBtn">결재등록</button>
                        </div>
                        <div class="align-self-end align-self-center">
                            <button class="button" id="apvlAcptBtn">결재승인</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!--<div class="accordion mb-4" id="grp_apvlReqHist">
            <div class="card">
                <div class="card-header p-0" id="head_wrkApvlReq">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_apvlReqHist" aria-expanded="true" aria-controls="collapseOne">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            결재요청 이력
                        </button>
                    </h2>
                </div>-->

                <div id="col_apvlReqHist" class="collapse show" aria-labelledby="head_wrkApvlReq" data-parent="#grp_apvlReqHist">
                    <div style="position: relative;" id="grid-parent">
                        <div id="grd_apvlReqHist" style="overflow:auto; height:616px;"></div>
                    </div>

                    <div style="position: relative;" id="grid-parent2">
                        <div id="grd_apvlReqHistDetl">
                            <table class="table table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <!--<th class="text-center">결재 차수</th>-->
                                        <th class="text-center">결재 요청일</th>
                                        <th class="text-center">결재자</th>
                                        <th class="text-center">참조자</th>
                                        <th class="text-center">결재상태</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                       <!--<td id="apvlTh1" class="pt-3-half">1</td>-->
                                       <td id="thApvlReqDt" class="pt-3-half"></td>
                                       <td id="thAprvNm1" class="pt-3-half"></td>
                                       <td id="thAprvRefNm" class="pt-3-half"></td>
                                       <td id="thAprvStus1" class="pt-3-half"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            <!--</div>
        </div>-->
    </div>
</div>
