<script type="text/javascript">
/* 메인 화면에서 받는 이메일 파라미터 */
var param = {
    "name" : '',
    "deptCode" : '',
    "authId" : sessionStorage.getItem("authId")
}

$(document).ready(function(){
    /* 관리자여부 체크 */
    var isAdmin = checkEmpAuthByEmail(sessionStorage.getItem("email"), "ADMIN");

    $('#deptModalTest').load("{% url 'dili_api:deptMgmtRegPop' %}");

    /* 목록조회 */
    $.ajaxCall( param, {
         'method' : 'GET',
         'url' : "{% url 'dili_api:getDeptInfo' %}",
         'dataType' : 'json',
         'data' : JSON.stringify(param),
         'async' : false,
         'callbackFn' : function(data){
            // 로그
            //console.log("data : ",data)
            // 리턴
            deptListGrd(data);
         }
    });

    /* 로그인한 아이디가 관리자일 경우*/
    if(isAdmin) {
        /* 검색, 등록버튼 활성화 */
        $('#').attr('hidden',false);

    }else{
        /* 검색, 등록버튼 비활성화 */;
        $('#').attr('hidden',true);
    }


});

/* 부서목록 생성 */
function deptListGrd(data){
    /* 관리자여부 체크 */
    var isAdmin = checkEmpAuthByEmail(sessionStorage.getItem("email"), "ADMIN");

    var size = data.length;
    var deptListTable = '<table class="table table-bordered text-center">';
    deptListTable += '<thead>';
    deptListTable += '<tr>';
    deptListTable += '<th class="text-center">부서코드</th>';
    deptListTable += '<th class="text-center">부서명</th>';
    deptListTable += '<th class="text-center">사업부장명</th>';
    deptListTable += '<th class="text-center">현장대리인명</th>';
    deptListTable += '<th class="text-center">비고</th>';
    deptListTable += '</tr>';
    deptListTable += '</thead>';
    deptListTable += '<tbody>';

    console.log("Start")
    console.log(data)
    console.log(typeof(data))
    if(data.length > 0) {
        for(var i = 0; i < size; i++){
            deptListTable += '<tr id ="grd_deptList" onclick="onClickGrdEvt(\''+data[i].DEPT_CODE+'\')">';
            deptListTable += '<td id="deptCode" class="pt-3-half">'+data[i].DEPT_CODE+'</td>';
            deptListTable += '<td id="deptName" class="pt-3-half">'+data[i].DEPT_NAME+'</td>';
            deptListTable += '<td id="gmName" class="pt-3-half">'+maskingNm(data[i].GM_NAME)+'</td>';
            deptListTable += '<td id="prName" class="pt-3-half">'+maskingNm(data[i].PR_NAME)+'</td>';
            deptListTable += '<td id="rmks" class="pt-3-half">'+data[i].RMKS+'</td>';
            deptListTable += '</tr>';
        }
    }
    deptListTable += '</tbody>';
    deptListTable += '</table>';

    document.getElementById('grd_deptListTable').innerHTML = deptListTable;
};

/* 그리드 클릭 이벤트 (부서정보 수정 팝업) */
function onClickGrdEvt(i) {
    var deptCode = i;
    $('#hidden_selectDeptCode').val(deptCode);

    var url = "{% url 'dili_api:deptMgmtEditPop' %}" + "/?deptCode=" +deptCode ;

    modal('deptModalDiv');

    $('#deptModal').load(url);

};

function makePaging(ret){
    $('#paging_navi').makePagingNavi(ret, 'getGridList');
};

/* 직원조회 권한 처리 및 모달 오픈 */
$("#").click(function(){
    var url = "{% url 'dili_api:deptMgmtRegPop' %}" ;

    modal('deptModalDivTest');

});

/* 한글만 입력가능체크 */
function isKorean(){
     if((event.keyCode < 12592) || (event.keyCode > 12687)){
      event.returnValue = false

     }
}

/* 이름 마스킹처리 */
function maskingNm(strName){
    return strName.substr(0, 1) + "*" + strName.substr(1+"*".length);

}

function fncDeptClose() {
    document.getElementById('laydeptModalDivTest').remove();
    $('#deptModalDivTest').hide();
}

</script>




<!--부서등록, 수정 모달 영역 -->
<div id="deptModalDiv" class="modalUi">
    <div id="deptModal">
    </div>
    <a class="modal_close_btn" id="exitDeptModalBtn">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="
           M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <span id="apvlDeptHidden" style="display:none;" ></span>
        <span id="apvlReqHidden" style="display:none;" >deptReq</span>
    </a>
</div>

<div id="deptModalDivTest" class="modalUi">
    <div id="deptModalTest">
    </div>
    <a id="exitDeptModalBtnTest" onclick="fncDeptClose()" style="position: absolute;top: 10px;right: 10px;">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="
           M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <span id="apvlDeptHiddenTest" style="display:none;" ></span>
        <span id="apvlReqHiddenTest" style="display:none;" >apvlReq</span>
    </a>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="mb-4" role="alert">
            <h5>
                <b>부서관리</b>
            </h5>
        </div>
        <div class="accordion mb-4" id="grp_search">
            <div class="card">
<!--                <div class="card-header p-0" id="head_search">-->
<!--                    <h2 class="mb-0">-->
<!--                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_search" aria-expanded="true" aria-controls="collapseOne">-->
<!--                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>-->
<!--                            </svg>-->
<!--                            직원조회-->
<!--                        </button>-->
<!--                    </h2>-->
<!--                </div>-->
                <div id="col_search" class="collapse show" aria-labelledby="head_search" data-parent="#grp_search">
                    <div class="card-body flex-height d-flex m-0 p-2">
<!--                        <div class="align-self-start align-self-center mr-3">성명</div>-->
<!--                        <div class="align-self-center mr-3">-->
<!--                            <input type="text" class="form-control" id="ipt_searchName" name="ipt_searchName" placeholder="이름을 입력해주세요." maxlength="5" onKeyPress="isKorean();"/>-->
<!--                        </div>-->
<!--                        <div class="align-self-center mr-3">-->
<!--                            <button class="button" id="searchBtn" type="button">조회</button>-->
<!--                        </div>-->
                        <div class="align-self-end align-self-right mr-3">
                            <input type="text" class="form-control" id="hidden_selectDeptCode" name="hidden_selectDeptCode" maxlength="30" readonly hidden/>
                            <button class="button" id="" type="button">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <center>
            <div id="grd_deptListTable" style="overflow:auto; height:600px;"></div>

        </center>
    </div>
</div>