<script type="text/javascript">
    var initFlag = true;
    var exPW;

    /*********************************************************************
    *   Dialog Setting
    *********************************************************************/
    var n_dialog = new ax5.ui.dialog();
    var n_title =  '<span style="color:#fd7e14;font-size:20px;"><i class="fa fa-check-circle"></i></span> CHECK';

    n_dialog.setConfig({
        title: n_title,
        theme : 'info',
        lang:{
            "ok": "확인", "cancel": "취소"
        }
    });

    $(document).ready(function(){
        /* 부모창에서 선택한 부서코드 */
        var deptCode = document.getElementById('hidden_selectDeptCode').value;

        getEditDeptInfo(deptCode);
    });

    /* 해당 부서 정보 조회 */
    function getEditDeptInfo(deptCode){
        var param = {
            "deptCode" : deptCode
        }

        /* 정보 조회 */
        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getEditDeptInfo' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                // 로그
                //console.log("data : ",data);
                // 리턴
                deptInfoSet(data);
             }
        });
    }

    /* 해당 부서 정보 input창에 입력 */
    function deptInfoSet(data){
        console.log("Start")
        console.log(data)
        console.log(typeof(data))

        var get_deptCode = data[0].DEPT_CODE;
        var get_deptName = data[0].DEPT_NAME;
        var get_empId   = data[0].EMP_PR;
        var get_empName = data[0].PR_NAME;
        var get_gmId   = data[0].EMP_GM;
        var get_gmName = data[0].GM_NAME;
        var get_deptUseYn = data[0].DEPT_USE_YN;

        $('#ipt_deptCode').val(get_deptCode);
        $('#ipt_deptName').val(get_deptName);
        $('#ipt_empId').val(get_empId);
        $('#ipt_empNm').val(get_empName);
        $('#ipt_gmId').val(get_gmId);
        $('#ipt_gmNm').val(get_gmName);
        $('#sbx_deptUseYn').val(get_deptUseYn);

        /* 성명관련 버튼 초기화 */
        $('#ipt_empNm').attr('readonly', true);
        $('#ipt_gmNm').attr('readonly', true);
    };

    /* 수정버튼 클릭 이벤트 */
    function onClickEditBtn() {
        var ipt_empId = $('[name="ipt_empId"]').val();
        var ipt_empNm = $('[name="ipt_empNm"]').val();
        var ipt_deptCode = $('[name="ipt_deptCode"]').val();
        var ipt_deptName = $('[name="ipt_deptName"]').val();
        var ipt_gmId = $('[name="ipt_gmId"]').val();
        var ipt_gmNm = $('[name="ipt_gmNm"]').val();
        var ipt_deptUseYn = $('[name="sbx_deptUseYn"] option:selected').val();

        if( ipt_deptName == "" || ipt_deptName == null ){
            alertMsg("부서명을 입력해 주세요.", function() {
                $('#ipt_deptName').focus();
            });
            return false;
        } else if (ipt_gmNm == "" || ipt_gmNm == null ){
            alertMsg("사업부장을 선택해 주세요.", function() {
                $('#ipt_gmNm').focus();
            });
            return false;
        } else if (ipt_empNm == "" || ipt_empNm == null ){
            alertMsg("현장대리인을 선택해 주세요.", function() {
                $('#ipt_empNm').focus();
            });
            return false;
        }

        var param = {
            "ipt_empId"     : ipt_empId,
            "ipt_empNm"     : ipt_empNm,
            "ipt_deptCode"  : ipt_deptCode,
            "ipt_deptName"  : ipt_deptName,
            "ipt_gmId"      : ipt_gmId,
            "ipt_gmNm"      : ipt_gmNm,
            "sessionId"     : sessionStorage.getItem("email"),      //로그인한 사용자 아이디
            "ipt_deptUseYn"  : ipt_deptUseYn
        }

        n_dialog.confirm('수정하시겠습니까?',function(){
                if(this.key == 'ok'){       //확인클릭시
                    $.ajaxCall( param, {
                        method:'POST',
                        url : "{% url 'dili_api:deptMgmtEdit' %}",
                        dataType:'json',
                        data:JSON.stringify(param),
                        callbackFn:function(data){
                            if(data){
                                // 리턴
                                 url = "{% url 'dili_api:deptMgmt' %}";
                                 $('#grd_deptListTable').load(url);
                                 $('#exitDeptModalBtn').click();
                                 alertMsg("성공적으로 수정되었습니다.");
                                 console.log("수정되었습니다.");

                                //sFlag = true;
                                //fileSave();
                            } else{
                                alertMsg("수정에 실패하였습니다.");
                                console.log("수정에 실패하였습니다.");
                                location.reload();
                            }
                        }
                   });
                }else{     //취소클릭시
                    alertMsg("취소하였습니다.");
                    console.log("취소하였습니다.");
                    //location.reload();
                }

            });

    };

    /* 닫기 버튼 클릭 이벤트 */
    function onClickCloseBtn() {
        $('#exitDeptModalBtn').click();
    };

    $("#ipt_empNm").click(function(){
        $('#apvlReqHidden').text('deptEdtReq');
        var url = "{% url 'dili_api:empMgmtPop' %}" ;
        modal('empModalDiv2');
        $('#empModal2').load(url);
        $('#empModalDiv2').css("z-index", 15);
    });

    $("#ipt_gmNm").click(function(){
        $('#apvlReqHidden').text('deptGmEdtReq');
        var url = "{% url 'dili_api:empMgmtPop' %}" ;
        modal('empModalDiv3');
        $('#empModal3').load(url);
        $('#empModalDiv3').css("z-index", 15);
    });

    function fncClose2() {
        document.getElementById('layempModalDiv2').remove();
        $('#empModalDiv2').hide();
    }

    function fncClose3() {
        document.getElementById('layempModalDiv3').remove();
        $('#empModalDiv3').hide();
    }

</script>



<!--직원조회 모달 영역 - 현장대리인 -->
<div id="empModalDiv2" class="modalUi">
    <div id="empModal2">
    </div>
        <a id="exitDeptModalBtn2" onclick="fncClose2()" style="position: absolute;top: 10px;right: 10px;">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="
           M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>

    </a>
</div>



<!--직원조회 모달 영역 - 사업부장 -->
<div id="empModalDiv3" class="modalUi">
    <div id="empModal3">
    </div>
        <a id="exitDeptModalBtn3" onclick="fncClose3()" style="position: absolute;top: 10px;right: 10px;">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="
           M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>

    </a>
</div>

<div style="width :500px;">
    <div class="mb-4" role="alert">
        <h6>
            <b>부서정보 수정/삭제</b>
        </h6>
    </div>
    <div class="flex-height d-flex m-0">
        <form method="post" id="submitEmp" action="">
                <table>
                    <tr>
                        <td></td>
                        <td colspan="2">
                             <div class="flex-height mb-4">
                                <span class="requiredTextAlert" id="starText"><b id="starVal">* 는 필수 입력 항목입니다.</b></span>
                             </div>
                        </td>
                    </tr>
                    <!-- ID -->
                    <tr>
                        <td>
                            <div class="align-self-start align-self-center mr-5"><span class="requiredTag mr-1">*</span><label for="ipt_deptCode">부서코드 &nbsp;&nbsp;&nbsp;</label></div>
                        </td>
                        <td>
                            <div class="align-self-center mr-2">
                                <input type="text" class="form-control" id="ipt_deptCode" name="ipt_deptCode" placeholder="부서코드" maxlength="3" readonly/>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <div class="flex-height d-flex mb-2">
                                <span class="requiredText">> 부서코드는 수정불가능합니다. </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 부서명 -->
                    <tr>
                        <td>
                            <div class="align-self-start align-self-center mr-3"><span class="requiredTag mr-1" id="starForUser">*</span><label for="ipt_deptName">부서명</label></div>
                        </td>
                        <td>
                            <div class="align-self-center mr-2">
                                <input type="text" class="form-control" id="ipt_deptName" name="ipt_deptName" maxlength="50" placeholder="부서명"/>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <!-- 사업부장 -->
                    <tr>
                        <td>
                            <div class="align-self-start align-self-center mr-5"><span class="requiredTag mr-1">*</span><label for="ipt_gmNm">사업부장</label></div>
                        </td>
                        <td>
                            <div class="align-self-center mr-2">
                                <input type="hidden" class="form-control" id="ipt_gmId" name="ipt_gmId"/>
                                <input type="text" class="form-control" id="ipt_gmNm" name="ipt_gmNm" placeholder="사업부장" />
                            </div>
                        </td>
                    </tr>
                    <!-- 현장대리인 -->
                    <tr>
                        <td>
                            <div class="align-self-start align-self-center mr-5"><span class="requiredTag mr-1">*</span><label for="ipt_empNm">현장대리인</label></div>
                        </td>
                        <td>
                            <div class="align-self-center mr-2">
                                <input type="hidden" class="form-control" id="ipt_empId" name="ipt_empId"/>
                                <input type="text" class="form-control" id="ipt_empNm" name="ipt_empNm" placeholder="현장대리인" />
                            </div>
                        </td>
                    </tr>

                    <!-- 사용여부 -->
                    <tr>
                        <td>
                            <div class="align-self-start align-self-center mr-5"><span class="requiredTag mr-1">*</span><label for="sbx_deptUseYn">사용여부</label></div>
                        </td>
                        <td>
                             <div class="align-self-center mr-2">
                                <select id="sbx_deptUseYn" name="sbx_deptUseYn" class="form-control">
                                    <option value="Y">사용</option>
                                    <option value="N">미사용</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <div class="flex-height d-flex mb-2">
                                <span class="requiredText">> 존재하지 않는 부서일 경우, '미사용'을 선택해주세요. </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 버튼 -->
                    <tr>
                        <td>
                            <!-- 중복체크 여부 hidden -->
                            <input type="text" class="form-control" id="hidden_existChk" name="hidden_existChk" maxlength="30" style="" readonly hidden/>
                        </td>
                        <td colspan="2">
                            <div class="flex-height mt-4" style="float:right;">
                                <button class="button" id="editBtn" type="button" onclick="onClickEditBtn()">수정</button>
                                <button class="button" id="closeBtn" type="button" onclick="onClickCloseBtn()">닫기</button>
                            </div>
                        </td>
                    </tr>
                </table>


        </form>
    </div>
</div>

