{% extends 'common/base.html' %}

{% block content %}
    <div class="container">
        <script type="text/javascript">
        $(document).ready(function(){

            $('#grp_grid').hide();

            <!--Grid Btn Click Event-->
            $('#btn_showGrd').click(function(){
                console.log("Grid Btn Click Event");
                $('#grp_grid').show('');
                $('#grp_calendar').hide();
            });

            <!--Calendar Btn Click Event-->
            $('#btn_showCal').click(function(){
                console.log("Calendar Btn Click Event");
                $('#grp_grid').hide();
                $('#grp_calendar').show('');
            });

            <!--search Btn Click Event-->
            $('#searchBtn').click(function(){

                var name = $('#ipt_searchName').val();
                alert("이름["+name+"]기준 직원조회 팝업 호출 연동하기.");
            });

            <!--ipt_searchName EnterKey Event-->
            $('#ipt_searchName').keydown(function(e){
                if ( e.keyCode == 13 && $('#ipt_searchName').val() != 'undefined' && $('#ipt_searchName').val() != "" ) {
                    var name = $('#ipt_searchName').val();
                    alert("이름["+name+"]기준 직원조회 팝업 호출 연동하기.");
                }
            });

        });

    </script>
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-4" role="alert">
                    <h5>
                        <b>근무시간관리</b>
                    </h5>
                </div>

                <!-- 1. 사원 조회영역 -->
                <div class="accordion mb-4" id="grp_search">
                    <div class="card">
                        <div class="card-header p-0" id="head_search">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_search" aria-expanded="true" aria-controls="collapseOne">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                    </svg>
                                    조회설정
                                </button>
                            </h2>
                        </div>
                        <div id="col_search" class="collapse show" aria-labelledby="head_search" data-parent="#grp_search">
                            <div class="card-body flex-height d-flex m-0 p-2">
                                <div class="align-self-start align-self-center mr-3">성명</div>
                                <div class="align-self-center mr-3">
                                    <input type="text" class="form-control" id="ipt_searchName" name="ipt_searchName" placeholder="이름을 입혁해주세요." maxlength="10"/>
                                </div>
                                <div class="align-self-end align-self-center">
                                    <button class="btn btn-primary" id="searchBtn">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2. 사원 누적근무시간 영역 -->
                <div class="accordion mb-4" id="grp_totWrkTime">
                    <div class="card">
                        <div class="card-header p-0" id="head_totWrkTime">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_totWrkTime" aria-expanded="true" aria-controls="collapseOne">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                    </svg>
                                    누적근무시간
                                </button>
                            </h2>
                        </div>
                        <div id="col_totWrkTime" class="collapse show" aria-labelledby="head_totWrkTime" data-parent="#grp_totWrkTime">
                            <div class="card-body flex-height d-flex m-0 p-2">
                                <div class="bg-light p-5">
                                Graph Area
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row-reverse">
                    <div>
                        <button type="button" id="btn_showGrd">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                              <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
                              <circle cx="3.5" cy="5.5" r=".5"/>
                              <circle cx="3.5" cy="8" r=".5"/>
                              <circle cx="3.5" cy="10.5" r=".5"/>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <button type="button" id="btn_showCal">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                              <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                            </svg>
                        </button>
                    </div>
                </div>

                <!-- 3. 사원 Schedule Grid 영역 -->
                <div id="grp_grid">
                    <div class="bg-light p-5">
                        Grid Area
                    </div>
                </div>

                <!-- 4. 사원 Schedule Calendar 영역 -->
                <div id="grp_calendar">
                    <div class="bg-light p-5">
                        Calendar Area
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}