

<script type="text/javascript">
    $(document).ready(function(){
        bsisDataInfo();
        //dataControl();

        //var param = {
            //"dt"  : $('#pop_dt').text()
        //}
        //var url = "{% url 'dili_api:getHldyMgmt' %}";
        //submissionCallMap(param,'GET',url,getHldyMgmtSubMitDone);


        /*********************************************************************
        *   결재요청 모달 닫기버튼 클릭 이벤트
        *********************************************************************/
        $('#exitApvlModal').click(function(){
            var email = sessionStorage.getItem("email");
            var dt = $('#pop_dt').text();

            getApvlInfo(email, dt);

            $('#apvlUpld_modal').empty();
        });

        /*********************************************************************
        *   Session Email , 근무시간상세팝업 일자 값 기준 결재상태 가져오기
        *********************************************************************/
        function getApvlInfo(email, dt){
            var param = {
                "email" : email,
                "dt"    : dt
            }

            $.ajaxCall( param, {
                 'method' : 'GET',
                 'url' : "{% url 'dili_api:getApvlInfo' %}",
                 'dataType' : 'json',
                 'data' : JSON.stringify(param),
                 'async' : false,
                 'callbackFn' : function(data, status, xhr){
                    setApvlStusChg(data);
                 }
            });
        }

    }); /*ready.function_END*/

    function getHldyMgmtSubMitDone(data){

        $('#hldyDivsCd').val(data[0].HLDY_DIVS_CD);
        $('#dowDivsCd').val(data[0].DOW_DIVS_CD);
    }

    function getDayLabel(day) {
        var week = new Array('일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일');
        var today = day;
        var todayLabel = week[today];
        return todayLabel;
    }

    /*********************************************************************
    *   Grid set Data
    *********************************************************************/
    function dataControl(){

        var dt = $('#tmpPopDt').text();
        var strtTm = $('#tmpPopStrtTm').text();
        var endTm = $('#tmpPopEndTm').text();
        var normWrkTm = $('#tmpNormWrkTm').text();
        var overWrkTm = $('#tmpOverWrkTm').text();
        var holi = $('#tmpHoli').text();
        var ptoKdCd = $('#tmpPtoKdCd').text();
        var allTm = $('#tmpPopAllTm').text();
        var apvlStus = $('#tmpPopApvlStus').text();
        var aprvStus = $('#tmpPopAprvStus').text();
        var restTm = $('#tmpRestTm').text();
        var dinnRestTm = $('#tmpDinnRestTm').text();

        var weekStrt = new Date($('#txt_weekStrtYy').text(), $('#txt_weekStrtMm').text()-1, $('#txt_weekStrtDd').text());
        var weekEnd = new Date($('#txt_weekEndYy').text(), $('#txt_weekEndMm').text()-1, $('#txt_weekEndDd').text());

        var tmpFlag = betweenDay(dt);

        var aa = new Date(dt);
        var dayLabel = aa.getDay();

        console.log("dayLabel = "+dayLabel);
        var sExtStr = ""; //연장근무 / 주휴근무 문자열 지정
        if(dayLabel == "0" || dayLabel == "6"){
            sExtStr = "주휴근무";
        }else{
            sExtStr = "연장근무";
        }

        $('#pop_dt').text(dt+" ("+getDayLabel(dayLabel)+")");

        var nowDt = new Date();
        var strNowTm = fillZero(2, nowDt.getHours()) + ':' + fillZero(2, nowDt.getMinutes());

        if(holi != "연차휴가" && holi != "반차휴가"){
            if("N" == aprvStus){

                if ($('#empEmailHidden').val() == null || $('#empEmailHidden').val() == "") {
                    document.getElementById('pop_strtJob').innerHTML = '<div style="float: left;"><input type="time" class="align-self-start align-self-center form-control" id="ipt_jobStrtTm"  style="width:125px;" name="ipt_jobStrtTm" /></div>'
                    + '<input type="button" class="button" onclick="onclickStrtTm()" value="출근버튼">';

                }else if($('#empEmailHidden').val() == sessionStorage.getItem("email")){
                    document.getElementById('pop_strtJob').innerHTML = '<div style="float: left;"><input type="time" class="align-self-start align-self-center form-control" id="ipt_jobStrtTm"  style="width:125px;" name="ipt_jobStrtTm" /></div>'
                    + '<input type="button" class="button" onclick="onclickStrtTm()" value="출근버튼">';

                }else {
                    $('#pop_strtJob').text("-");
                }

                if(strtTm != "") {
                    if(strtTm == "-") {
                        $("#ipt_jobStrtTm").val(strNowTm);
                    } else {
                        $("#ipt_jobStrtTm").val(strtTm);
                    }
                }

                $('#pop_endJob').text(endTm);
                $('#sbx_restTme').val(restTm);
                $('#sbx_DinnRestTme').val(dinnRestTm);
                document.getElementById('pop_schdDetlTm').innerHTML = '정상근무 : '+normWrkTm+' / '+ sExtStr +' : '+overWrkTm;
                $('#pop_schdDetlAllTm').text(allTm);
                //$('#pop_apvlStus').text(apvlStus);

                if ($('#empEmailHidden').val() == null || $('#empEmailHidden').val() == "") {

                    document.getElementById('pop_endJob').innerHTML = '<div style="float: left;"><input type="time" class="align-self-start align-self-center form-control" id="ipt_jobEndTm"  style="width:125px;" name="ipt_jobEndTm" /></div>'
                    + '<input type="button" class="button" onclick="onclickEndTm()" value="퇴근버튼">';

                    $("#ipt_jobEndTm").val(strNowTm);

                }else if($('#empEmailHidden').val() == sessionStorage.getItem("email")){

                    document.getElementById('pop_endJob').innerHTML = '<div style="float: left;"><input type="time" class="align-self-start align-self-center form-control" id="ipt_jobEndTm"  style="width:125px;" name="ipt_jobEndTm" /></div>'
                    + '<input type="button" class="button" onclick="onclickEndTm()" value="퇴근버튼">';

                    $("#ipt_jobEndTm").val(strNowTm);

                }else {
                    $('#pop_endJob').text("-");
                }

                if(endTm != "") {
                    if(endTm == "-") {
                        $("#ipt_jobEndTm").val(strNowTm);
                    } else {
                        $("#ipt_jobEndTm").val(endTm);
                    }
                }

                document.getElementById('pop_schdDetlTm').innerHTML = '정상근무 : '+normWrkTm+' / '+ sExtStr +' : '+overWrkTm;
                $('#pop_schdDetlAllTm').text(allTm);
                //$('#pop_apvlStus').text(apvlStus);
                $('#sbx_restTme').val(restTm);
                $('#btn_restTm').show();
                $('#sbx_dinnRestTme').val(dinnRestTm);
                $('#btn_dinnRestTm').show();

                /*
                if(apvlStus == "미등록"){

                    if ($('#empEmailHidden').val() == null || $('#empEmailHidden').val() == "") {

                        document.getElementById('pop_apvlStus').innerHTML = '<input type="button" class="button" onclick="onclickApvlUpld()" value="결재올리기">';

                    }else if($('#empEmailHidden').val() == sessionStorage.getItem("email")){

                        document.getElementById('pop_apvlStus').innerHTML = '<input type="button" class="button" onclick="onclickApvlUpld()" value="결재올리기">';

                    }
                }else {
                    $('#pop_apvlStus').text(apvlStus);
                }
                */

            }else {

                if (ptoKdCd == "02") {
                    document.getElementById('pop_strtJob').innerHTML = '<div style="float: left;"><input type="time" class="align-self-start align-self-center form-control" id="ipt_jobStrtTm"  style="width:125px;" name="ipt_jobStrtTm" /></div>'
                    + '<input type="button" class="button" onclick="onclickStrtTm()" value="출근버튼">';

                    document.getElementById('pop_endJob').innerHTML = '<div style="float: left;"><input type="time" class="align-self-start align-self-center form-control" id="ipt_jobEndTm"  style="width:125px;" name="ipt_jobEndTm" /></div>'
                    + '<input type="button" class="button" onclick="onclickEndTm()" value="퇴근버튼">';
                    $("#ipt_jobEndTm").val(strNowTm);
                }else {
                    $('#pop_strtJob').text(strtTm);
                    $('#pop_endJob').text(endTm);
                }

                $('#sbx_restTme').attr('disabled',true);
                $('#sbx_restTme').val(restTm);
                $('#btn_restTm').hide();
                $('#sbx_dinnRestTme').attr('disabled',true);
                $('#sbx_dinnRestTme').val(dinnRestTm);
                $('#btn_dinnRestTm').hide();
                document.getElementById('pop_schdDetlTm').innerHTML = '정상근무 : '+normWrkTm+' / '+ sExtStr +' : '+overWrkTm;
                $('#pop_schdDetlAllTm').text(allTm);

                /*
                if(apvlStus == "미등록"){

                    if ($('#empEmailHidden').val() == null || $('#empEmailHidden').val() == "") {

                        document.getElementById('pop_apvlStus').innerHTML = '<input type="button" class="button" onclick="onclickApvlUpld()" value="결재올리기">';

                    }else if($('#empEmailHidden').val() == sessionStorage.getItem("email")){

                        document.getElementById('pop_apvlStus').innerHTML = '<input type="button" class="button" onclick="onclickApvlUpld()" value="결재올리기">';

                    }
                }else {
                    $('#pop_apvlStus').text(apvlStus);
                }
                */
            }
        }else {
            if (ptoKdCd == "02") {
                document.getElementById('pop_strtJob').innerHTML = '<div style="float: left;"><input type="time" class="align-self-start align-self-center form-control" id="ipt_jobStrtTm"  style="width:125px;" name="ipt_jobStrtTm" /></div>'
                + '<input type="button" class="button" onclick="onclickStrtTm()" value="출근버튼">';

                document.getElementById('pop_endJob').innerHTML = '<div style="float: left;"><input type="time" class="align-self-start align-self-center form-control" id="ipt_jobEndTm"  style="width:125px;" name="ipt_jobEndTm" /></div>'
                + '<input type="button" class="button" onclick="onclickEndTm()" value="퇴근버튼">';
                $("#ipt_jobEndTm").val(strNowTm);
            }else {
                $('#pop_strtJob').text(strtTm);
                $('#pop_endJob').text(endTm);
            }

            if(strtTm != "") {
                if(strtTm == "-") {
                    $("#ipt_jobStrtTm").val(strNowTm);
                } else {
                    $("#ipt_jobStrtTm").val(strtTm);
                }
            }

            if(endTm != "") {
                if(endTm == "-") {
                    $("#ipt_jobEndTm").val(strNowTm);
                } else {
                    $("#ipt_jobEndTm").val(endTm);
                }
            }

            $('#sbx_restTme').val(restTm);
            $('#sbx_dinnRestTme').val(dinnRestTm);
            $('#pop_schdDetlTm').text(holi);
            $('#pop_schdDetlAllTm').text(allTm);
            //$('#pop_apvlStus').text(apvlStus);
        }

        var param = {
            "dt"  : dt
        }
        var url = "{% url 'dili_api:getHldyMgmt' %}";
        submissionCallMap(param,'GET',url,getHldyMgmtSubMitDone);
    }

    /*********************************************************************
    *  휴게시간 정보조회
    *********************************************************************/
    function bsisDataInfo(){

        var dt = $('#tmpPopDt').text();
        var email = sessionStorage.getItem("email");

        var param = {
            "email" : email,
            "dt"    : dt
        }

        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getPopUpData' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data, status, xhr){
                if(data.length > 0){
                    $('#tmpRestTm').text(data[0].REST_TM);
                    $('#tmpDinnRestTm').text(data[0].DINN_REST_TM);
                }
                dataControl();
             }
        });

    }

    /*********************************************************************
    *   출근버튼 클릭
    *********************************************************************/
    function onclickStrtTm() {

        var email = sessionStorage.getItem("email");
        var dt = $('#tmpPopDt').text();
        //var dt = $("#pop_dt").text();
        var tm = $("#ipt_jobStrtTm").val();
        setStrtTm(email, dt, tm);
        $('#tmpPopStrtTm').text(tm);
        bsisDataInfo();
    }
    /*********************************************************************
    *   퇴근버튼 클릭
    *********************************************************************/
    function onclickEndTm() {
        var email = sessionStorage.getItem("email");
        var dt = $('#tmpPopDt').text();

        var aa = new Date(dt);
        var dayLabel = aa.getDay();
        console.log("dayLabel = "+dayLabel);
        var sExtStr = ""; //연장근무 / 주휴근무 문자열 지정
        if(dayLabel == "0" || dayLabel == "6"){
            sExtStr = "주휴근무";
        }else{
            sExtStr = "연장근무";
        }

        var tm = $("#ipt_jobEndTm").val();
        var strtTm = $('#ipt_jobStrtTm').val();
        var restTm = $("#sbx_restTme").val();
        var dinnRestTm = $("#sbx_dinnRestTme").val();
        var totalRestTm = Number(restTm) + Number(dinnRestTm);

        var allWrkTm = allWrkTmCall(dateConverting2(dt), strtTm, tm, totalRestTm);
        var overWrkTm = overWrkTmCall(dateConverting2(dt), allWrkTm);
        var normWrkTm = "";

        if($('#hldyDivsCd').val() != "01" || $('#dowDivsCd').val() == "01" || $('#dowDivsCd').val() == "07"){

            normWrkTm = "00:00";
            overWrkTm = allWrkTm;

        } else{

            if(overWrkTm == "00:00"){

                normWrkTm = allWrkTm;
            }else {

                normWrkTm = "08:00";
            }
        }

        setEndTm(email, dt, tm, normWrkTm.replace(/:/gi,''), overWrkTm.replace(/:/gi,''), allWrkTm.replace(/:/gi,'') );

        $('#pop_endJob').text(tm);
        //$('#ipt_restTme').attr('disabled',true);
        document.getElementById('pop_schdDetlTm').innerHTML = '정상근무 : '+normWrkTm+' / '+ sExtStr +' : '+overWrkTm;
        $('#pop_schdDetlAllTm').text(allWrkTm);
        /*
        if(overWrkTm != "00:00"){
            document.getElementById('pop_apvlStus').innerHTML = '<input type="button" class="button" onclick="onclickApvlUpld()" value="결재올리기">';
        }else {
            $('#pop_apvlStus').text("-");
        }
        */
    }
    /*********************************************************************
    *   결재 버튼클릭
    *********************************************************************/
    function onclickApvlUpld() {
        var url = "{% url 'dili_api:apvlReqBfrPop' %}" ;
        //$('#currReqMthd').val("02");
        //$('#currReqPopStts').val("register");
        
        modal('apvlUpldDiv_modal');
        $('#apvlUpld_modal').load(url);

    }
    /*********************************************************************
    *  출근 INSERT
    *********************************************************************/
    function setStrtTm(email, dt, tm ){
        var param = {
            "email"  : email,
            "dt"     : dt,
            "tm"     : tm
        }

        $.ajaxCall( param, {
             'method' : 'POST',
             'url' : "{% url 'dili_api:saveStrtTm' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                alertMsg('저장 되었습니다.');
             }
        });
    }

    /*********************************************************************
    *  퇴근 update
    *********************************************************************/
    function setEndTm(email, dt, tm, normWrkTm, overWrkTm, allWrkTm ){
        console.log("email, dt, tm, normWrkTm, overWrkTm, allWrkTm  : "+email+", "+dt+", "+tm+", "+normWrkTm+", "+overWrkTm+", "+allWrkTm);
        var nghtWrkStrtTm = '';
        var strtTm  = dt + ' ' + $('#ipt_jobStrtTm').val();
        var endTm   = dt + ' ' + $('#ipt_jobEndTm').val();

        // 추가 근무 시간이 있고, 일반 업무 시간이 0일 떄 (휴일근무)
        if ((overWrkTm.substr(0, 4) != '0000') && (normWrkTm.substr(0, 4) == '0000')) {
            nghtWrkStrtTm = strtTm;
        }
        // 추가 근무 시간이 있고, 일반 업무 시간이 있을 떄 (야간근무)
        else if ((overWrkTm.substr(0, 4) != '0000') && (normWrkTm.substr(0, 4) != '0000') && getTimeDiff(strtTm, endTm) >= '080000') {
            var tmpTm = new Date(Number(dateConverting3(dt)[0]),Number(dateConverting3(dt)[1]),Number(dateConverting3(dt)[2]),Number(dateConverting3($('#ipt_jobStrtTm').val())[0]),Number(dateConverting3($('#ipt_jobStrtTm').val())[1]));
            tmpTm.setHours(tmpTm.getHours() + 9);

            nghtWrkStrtTm = fillZero(2, tmpTm.getHours()) + ':' + fillZero(2, tmpTm.getMinutes())  + ':' + fillZero(2, tmpTm.getSeconds());
        }
        // 추가 근무 시간이 없을 때
        else if ((overWrkTm.substr(0, 4) == '0000')) {
            nghtWrkStrtTm = endTm;
        }

        console.log("email, dt, tm, normWrkTm, overWrkTm, allWrkTm  : "+email+", "+dt+", "+tm+", "+normWrkTm+", "+overWrkTm+", "+allWrkTm);
        var param   = {
            "email"             : email,
            "dt"                : dt,
            "nghtWrkStrtTm"     : nghtWrkStrtTm,
            "tm"                : tm,
            "normWrkTm"         : normWrkTm.length == 4 ? normWrkTm + '00' : normWrkTm,
            "overWrkTm"         : overWrkTm.length == 4 ? overWrkTm + '00' : overWrkTm,
            "allWrkTm"          : allWrkTm.length  == 4 ? allWrkTm  + '00' : allWrkTm
        }

        $.ajaxCall( param, {
             'method'           : 'POST',
             'url'              : "{% url 'dili_api:saveEndTm' %}",
             'dataType'         : 'json',
             'data'             : JSON.stringify(param),
             'async'            : false,
             'callbackFn'       : function(data){
                alertMsg('저장 되었습니다.');
             }
        });


    }
    /*********************************************************************
    *   결재상태변경
    *********************************************************************/
    function setApvlStusChg(apvlStus){
        /*
        if(apvlStus.length > 0){
            if(apvlStus[0].TH1_APRV_STUS == "01"){
                $('#pop_apvlStus').text("진행중");
            }
            if(apvlStus[0].TH1_APRV_STUS == "02"){
                $('#pop_apvlStus').text("완료");
            }
            if(apvlStus[0].TH1_APRV_STUS == "03"){
                $('#pop_apvlStus').text("반려");
            }
        }
        */
    }

    /*********************************************************************
    *   휴게시간 등록
    *********************************************************************/
    function onclickRestTm() {
        var email = sessionStorage.getItem("email");
        var dt = $('#tmpPopDt').text();
        //var dt = $("#pop_dt").text();
        var restTm = $('#sbx_restTme').val();

        var param = {
            "email"     : email,
            "dt"        : dt,
            "restTm"    : restTm
        }

        $.ajaxCall( param, {
             'method' : 'POST',
             'url' : "{% url 'dili_api:updateRestTm' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                alertMsg('저장 되었습니다.');
             }
        });

    }

    /*********************************************************************
    *   석식휴게시간 등록
    *********************************************************************/
    function onclickDinnRestTm() {
        var email = sessionStorage.getItem("email");
        var dt = $('#tmpPopDt').text();
        //var dt = $("#pop_dt").text();
        var dinnRestTm = $('#sbx_dinnRestTme').val();

        var param = {
            "email"     : email,
            "dt"        : dt,
            "dinnRestTm"    : dinnRestTm
        }

        $.ajaxCall( param, {
             'method' : 'POST',
             'url' : "{% url 'dili_api:updateDinnRestTm' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                alertMsg('저장 되었습니다.');
             }
        });

    }

</script>

<input type="hidden" id="currReqPopStts" value="register"/>
<input type="hidden" id="currReqMthd" value="02"/>
<input type="hidden" id="hldyDivsCd"/>
<input type="hidden" id="dowDivsCd"/>
<span id="tmpRestTm" class="model_layout" style="display:none;" ></span>
<span id="tmpDinnRestTm" class="model_layout" style="display:none;" ></span>
<table class="table table-bordered text-center" style="width: 550px">
    <tr>
        <th class="text-center" style="width: 200px">일자</th>
        <td class="pt-3-half" contenteditable="false" id="pop_dt"></td>
    </tr>
    <tr>
        <th class="text-center">업무시작시간</th>
        <td class="pt-3-half" contenteditable="false" id="pop_strtJob"></td>
    </tr>
    <tr>
        <th class="text-center">업무종료시간</th>
        <td class="pt-3-half" contenteditable="false" id="pop_endJob"></td>
    </tr>
    <tr>
        <th class="text-center">휴게시간(단위 : 분)</th>
        <td><div style="float: left;">
            <select id="sbx_restTme" class="form-control" name="type" style="width:200px;">
                <option value = "0" selected>0</option>
                <option value = "10">10</option>
                <option value = "20">20</option>
                <option value = "30">30</option>
                <option value = "40">40</option>
                <option value = "50">50</option>
                <option value = "60">60</option>
            </select></div>
            <input type="button" class="button" id="btn_restTm" onclick="onclickRestTm()" value="등록">
        </td>
    </tr>
    <tr>
        <th class="text-center">석식휴게시간(단위 : 분)</th>
        <td><div style="float: left;">
            <select id="sbx_dinnRestTme" class="form-control" name="type" style="width:200px;">
                <option value = "0" selected>0</option>
                <option value = "10">10</option>
                <option value = "20">20</option>
                <option value = "30">30</option>
                <option value = "40">40</option>
                <option value = "50">50</option>
                <option value = "60">60</option>
            </select></div>
            <input type="button" class="button" id="btn_dinnRestTm" onclick="onclickDinnRestTm()" value="등록">
        </td>
    </tr>
    <tr>
        <th class="text-center">근무시간상세</th>
        <td class="pt-3-half" contenteditable="false" id="pop_schdDetlTm"></td>
    </tr>
    <tr>
        <th class="text-center">총근무시간</th>
        <td class="pt-3-half" contenteditable="false" id="pop_schdDetlAllTm"></td>
    </tr>
<!--    <tr>-->
<!--        <th class="text-center">결재상태</th>-->
<!--        <td class="pt-3-half" contenteditable="false" id="pop_apvlStus"></td>-->
<!--    </tr>-->
</table>
