<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-bordered table-responsive-md table-striped text-center" style="width: 500px">
    <tr>
        <th class="text-center" style="width: 200px">일자</th>
        <td class="pt-3-half" contenteditable="false">2020-10-08</td>
    </tr>
    <tr>
        <th class="text-center">업무시작시간</th>
        <td class="pt-3-half" contenteditable="false"></td>
    </tr>
    <tr>
        <th class="text-center">업무종료시간</th>
        <td class="pt-3-half" contenteditable="false"></td>
    </tr>
    <tr>
        <th class="text-center">근무시간상세</th>
        <td class="pt-3-half" contenteditable="false"></td>
    </tr>
    <tr>
        <th class="text-center">총근무시간</th>
        <td class="pt-3-half" contenteditable="false"></td>
    </tr>
    <tr>
        <th class="text-center">결재상태</th>
        <td class="pt-3-half" contenteditable="false"></td>
    </tr>
</table>
</body>
</html>