<!--
    할 일 !!
    1. 직원을 선택 된 hidden 값이 최초 조회 후 재조회 할 때 초기화가 안되어있음 초기화 하기
    2. 데이터가 없으면 데이터가 없습니다

-->
<script type="text/javascript">
  $(document).ready(function(){
    $('.tui-full-calendar-month-guide-block').remove();
    /* 메인 화면에서 받는 NAME 파라미터 */

    name = $('#ipt_searchNamePop').val();


    console.log(' Debug [Name] : '+name );


    // Main 화면에서 받은 Name 파라미터가 있는 경우. 해당 값으로 조회.
    if( name != 'undefined' && name != "" ) {

        $('#ipt_searchName').val(name);

        var param = {
            name : name
        }

        /* 목록조회 */
        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getEmpInfo' %}",
             'callbackFn' : function(data){
                dataCustomArray = new Array();
                // 로그
                console.log("data : ",data);
                // 리턴

                if(data.length >= 1) {
                    if (data.length == 1) {
                        console.log(' Debug [Data.EMP_EMAIL] : '+ data[0].EMP_EMAIL);

                        email    = data[0].EMP_EMAIL;
                        weekDate = setWeek(getCurrentDate());                           // 현재일이 포함된 주의 Start,End Date 조회

                        $('#baseEndDate').text("");                                      // Span Object EndDate 값이 달라질 경우에만, Chart를 다시 그리므로, 초기화작업.

                        getWrkTimeByIml(email, weekDate.strtDate, weekDate.endDate);     // Session Email 을 기준으로 시작~종료일에 대한 근무시간 조회.

                        $('#empEmailHidden').val(email);

                            //현재 날짜 가져오기
                            var today = new Date();
                            var year = today.getFullYear(); // 년도
                            var month = today.getMonth();  // 월 (today.getMonth()는 0~11로 출력)
                            var date = today.getDate();  // 날짜
                            var day = today.getDay();  // 요일 (0~6으로 출력, 0:일요일, 1:월요일, 6:토요일)

                            $('#txt_mmYy').text(year); //그리드 월tab 년도 초기값 입력
                            $('#txt_mmMm').text(month + 1); //그리드 월tab 월 초기값 입력

                            setMonthGridData();                                                                              // Month Grid 생성
                            crteTodayShow(year, month, date, day);                                                        // Grid UI(주) 날짜 세팅
                            createCalendar();
                            setAnhoMgmt();

                            //    $('#ipt_apvlSearchNamePop').change();
                            $('#ipt_apvlSearchEmailPop').val(email);
                            $('#ipt_apvlSearchNamePop').val(name).trigger('change');    //change 이벤트 안됨. 추후 수정 예정

                        $('#exitEmpModalBtn').click();
                    } else {
                        empListGrd(data);
                    }
                } else {
                    empListGrd("");
                }

             }
        });
    }

    $('#searchBtn').click(function(){
        onClickSearchBtn(ipt_searchName);
    });

    $('#selectBtn').click(function(){
        onClickselectBtn();
    });



});
<!--ready end -->



/* 선택버튼 클릭 이벤트 */
function onClickselectBtn() {
    console.log($("#apvlReqHidden").text());
    if($("#apvlReqHidden").text() == "apvlReq" ) {
        if($("#apvlEmpEmailHidden").text() == null || $("#apvlEmpEmailHidden").text() == ""){
            alert("직원을 선택해 주세요.");
        }else{
            $('#exitEmpModalBtn').click();
        }
    } else {
        if($("#empEmailHidden").val() == null || $("#empEmailHidden").val() == ""){
            alert("직원을 선택해 주세요.");
        }else{
            if( $("#empEmailHidden").val() != null && $("#empEmailHidden").val() != "" ){
                dataCustomArray = new Array();
                $(".modal_close_btn").click();
                weekDate = setWeek(getCurrentDate());                                                       // 현재일이 포함된 주의 Start,End Date 조회

                $('#baseEndDate').text("");                                                                  // Span Object EndDate 값이 달라질 경우에만, Chart를 다시 그리므로, 초기화작업.

                getWrkTimeByIml(null, weekDate.strtDate, weekDate.endDate);
                //현재 날짜 가져오기
                var today = new Date();
                var year = today.getFullYear(); // 년도
                var month = today.getMonth();  // 월 (today.getMonth()는 0~11로 출력)
                var date = today.getDate();  // 날짜
                var day = today.getDay();  // 요일 (0~6으로 출력, 0:일요일, 1:월요일, 6:토요일)

                $('#txt_mmYy').text(year); //그리드 월tab 년도 초기값 입력
                $('#txt_mmMm').text(month + 1); //그리드 월tab 월 초기값 입력

                setMonthGridData();                                                                         // Month Grid 생성
                crteTodayShow(year, month, date, day);                                                      // Grid UI(주) 날짜 세팅
                createCalendar();
                setAnhoMgmt();
            }
        }
    }
};

/* 그리드 더블클릭 이벤트 */
function onDblClickEvt(i){
    console.log($("#apvlReqHidden").text());
    if($("#apvlReqHidden").text() == "apvlReq" ) {
        if($("#apvlEmpEmailHidden").text() == null || $("#apvlEmpEmailHidden").text() == ""){
            alert("직원을 선택해 주세요.");
        }else{
            //    $('#ipt_apvlSearchNamePop').change();
            $('#ipt_apvlSearchEmailPop').val(email);
            $('#ipt_apvlSearchNamePop').val(name).trigger('change');    //change 이벤트 안됨. 추후 수정 예정


            $('#exitEmpModalBtn').click();
        }
    } else {
        if($("#empEmailHidden").val() == null || $("#empEmailHidden").val() == ""){
            alert("직원을 선택해 주세요.");
        }else{
            if( $("#empEmailHidden").val() != null && $("#empEmailHidden").val() != "" ){
                dataCustomArray = new Array();
                $(".modal_close_btn").click();
                weekDate = setWeek(getCurrentDate());                                                       // 현재일이 포함된 주의 Start,End Date 조회

                $('#baseEndDate').text("");                                                                  // Span Object EndDate 값이 달라질 경우에만, Chart를 다시 그리므로, 초기화작업.

                getWrkTimeByIml(null, weekDate.strtDate, weekDate.endDate);
                //현재 날짜 가져오기
                var today = new Date();
                var year = today.getFullYear(); // 년도
                var month = today.getMonth();  // 월 (today.getMonth()는 0~11로 출력)
                var date = today.getDate();  // 날짜
                var day = today.getDay();  // 요일 (0~6으로 출력, 0:일요일, 1:월요일, 6:토요일)

                $('#txt_mmYy').text(year); //그리드 월tab 년도 초기값 입력
                $('#txt_mmMm').text(month + 1); //그리드 월tab 월 초기값 입력

                setMonthGridData();                                                                         // Month Grid 생성
                crteTodayShow(year, month, date, day);                                                      // Grid UI(주) 날짜 세팅
                createCalendar();
                setAnhoMgmt();
            }
        }
    }
};

/* 그리드 클릭 이벤트 */
function onClickEvt(i) {
    console.log(' onClickEvt :  ', i.id);
//    console.log(' onClickEvt :  ', $(i).children().eq(1).text());

    /* 하이라이트 */
    $('#grd_empListTable tr').css("background","white");
    $(i).css("background","lightgray");

    var email = $(i).children().eq(1).text(); // 그리드에서 선택한 email 값
    var name = $(i).children().eq(0).text(); // 그리드에서 선택한 email 값

    $("#empEmailHidden").val(email);
    $("#apvlEmpEmailHidden").text(email);

//    $('#ipt_apvlSearchNamePop').change();
    $('#ipt_apvlSearchEmailPop').val(email);
    $('#ipt_apvlSearchNamePop').val(name).trigger('change');    //change 이벤트 안됨. 추후 수정 예정

};

/* 검색버튼 클릭 이벤트 */
function onClickSearchBtn(ipt_searchName) {
    var param = {
        "name" : $('[name="ipt_searchName"]').val()
    }

    if( $('#ipt_searchName').val() == "" || $('#ipt_searchName').val() == null ){
        alert("직원 이름을 입력해 주세요.");
    } else if ($('#ipt_searchName').val().length < 2){
        alert("직원 이름은 두 글자 이상 입력해 주세요.");
    } else {
        /* 목록조회 */
        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getEmpInfo' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                // 로그
                console.log("data : ",data)
                // 리턴

                var scrDivs = $('#apvlReqHidden').text();
                console.log(scrDivs);
                //결재요청 이력화면
                if ( scrDivs == "apvlReq" ) {

                    if (data.length == 1) {
                        $('#ipt_apvlSearchEmailPop').val(data[0].EMP_EMAIL);
                        $('#ipt_apvlSearchNamePop').val(data[0].EMP_NAME).trigger('change');
                        $('#apvlEmpEmailHidden').text(data[0].EMP_EMAIL);
                        $('#exitEmpModalBtn').click();

                    } else {
                        empListGrd(data);
                    }
                //스케쥴 관리                            --신규 화면 추가의 경우. $('#apvlReqHidden') 객체 선언 후 분기처리.
                } else {
                    if (data.length == 1) {
                        dataCustomArray = new Array();
                        console.log(' Debug [Data.EMP_EMAIL] : '+ data[0].EMP_EMAIL);
                        email    = data[0].EMP_EMAIL;
                        weekDate = setWeek(getCurrentDate());                           // 현재일이 포함된 주의 Start,End Date 조회

                        $('#baseEndDate').text("");                                      // Span Object EndDate 값이 달라질 경우에만, Chart를 다시 그리므로, 초기화작업.

                        getWrkTimeByIml(email, weekDate.strtDate, weekDate.endDate);     // Session Email 을 기준으로 시작~종료일에 대한 근무시간 조회.

                        $('#empEmailHidden').val(email);

                            //현재 날짜 가져오기
                            var today = new Date();
                            var year = today.getFullYear(); // 년도
                            var month = today.getMonth();  // 월 (today.getMonth()는 0~11로 출력)
                            var date = today.getDate();  // 날짜
                            var day = today.getDay();  // 요일 (0~6으로 출력, 0:일요일, 1:월요일, 6:토요일)

                            $('#txt_mmYy').text(year); //그리드 월tab 년도 초기값 입력
                            $('#txt_mmMm').text(month + 1); //그리드 월tab 월 초기값 입력

                            setMonthGridData();                                                                              // Month Grid 생성
                            crteTodayShow(year, month, date, day);                                                        // Grid UI(주) 날짜 세팅
                            createCalendar();
                            setAnhoMgmt();

                        $('#exitEmpModalBtn').click();
                    } else {
                        empListGrd(data);
                    }

                }

             }
        });
    }
};

/* 직원목록 엔터 조회 */
$('#ipt_searchName').keydown(function(e){
        //엔터키 입력 + 이름컬럼에 값이 있는 경우.
        if ( e.keyCode == 13 && $('#ipt_searchName').val() != 'undefined' ) {
            var param = {
                name : $('#ipt_searchName').val()
            }
            if( $('#ipt_searchName').val() == "" || $('#ipt_searchName').val() == null ){
                alert("직원 이름을 입력해 주세요.");
            } else if ($('#ipt_searchName').val().length < 2){
                alert("직원 이름은 두 글자 이상 입력해 주세요.");
            } else {
                //목록조회
                $.ajaxCall( param, {
                     'method' : 'GET',
                     'url' : "{% url 'dili_api:getEmpInfo' %}",
                     'dataType' : 'json',
                     'data' : JSON.stringify(param),
                     'async' : false,
                     'callbackFn' : function(data){
                            // 로그
                            console.log("data : ",data)
                            // 리턴

                            var scrDivs = $('#apvlReqHidden').text();
                            console.log(scrDivs);
                            //결재요청 이력화면
                            if ( scrDivs == "apvlReq" ) {

                                if (data.length == 1) {
                                    $('#ipt_apvlSearchNamePop').val(data[0].EMP_NAME);
                                    $('#apvlEmpEmailHidden').text(data[0].EMP_EMAIL);
                                    $('#exitEmpModalBtn').click();
                                } else {
                                    empListGrd(data);
                                }
                            //스케쥴 관리                            --신규 화면 추가의 경우. $('#apvlReqHidden') 객체 선언 후 분기처리.
                            } else {
                                if (data.length == 1) {
                                    dataCustomArray = new Array();
                                    console.log(' Debug [Data.EMP_EMAIL] : '+ data[0].EMP_EMAIL);
                                    email    = data[0].EMP_EMAIL;
                                    weekDate = setWeek(getCurrentDate());                           // 현재일이 포함된 주의 Start,End Date 조회

                                    $('#baseEndDate').text("");                                      // Span Object EndDate 값이 달라질 경우에만, Chart를 다시 그리므로, 초기화작업.

                                    getWrkTimeByIml(email, weekDate.strtDate, weekDate.endDate);     // Session Email 을 기준으로 시작~종료일에 대한 근무시간 조회.

                                    $('#empEmailHidden').val(email);

                                        //현재 날짜 가져오기
                                        var today = new Date();
                                        var year = today.getFullYear(); // 년도
                                        var month = today.getMonth();  // 월 (today.getMonth()는 0~11로 출력)
                                        var date = today.getDate();  // 날짜
                                        var day = today.getDay();  // 요일 (0~6으로 출력, 0:일요일, 1:월요일, 6:토요일)

                                        $('#txt_mmYy').text(year); //그리드 월tab 년도 초기값 입력
                                        $('#txt_mmMm').text(month + 1); //그리드 월tab 월 초기값 입력

                                        setMonthGridData();                                                                              // Month Grid 생성
                                        crteTodayShow(year, month, date, day);                                                        // Grid UI(주) 날짜 세팅
                                        createCalendar();
                                        setAnhoMgmt();

                                    $('#exitEmpModalBtn').click();
                                } else {
                                    empListGrd(data);
                                }

                            }

                     }
                });
            }
        }
    });


/* 직원목록 생성 */
function empListGrd(data){
    var size = data.length;
    var empListTable = '<table id="empInfoRow" class="table table-bordered table-hover table-responsive-md text-center">';
        empListTable += '<thead>';

    if(size > 0) {
        empListTable += '<tr>';
        empListTable += '<th class="text-center">이름</th>';
        empListTable += '<th class="text-center">아이디</th>';
        empListTable += '<th class="text-center">부서</th>';
        empListTable += '<th class="text-center" style="display:none;">체크박스</th>';
        empListTable += '</tr>';
        empListTable += '</thead>';
        empListTable += '<tbody>';

        console.log("Start");
        console.log(data);
        console.log(typeof(data));


        for(var i = 0; i < size; i++){
            empListTable += '<tr id ="grd_empList'+i+'" onclick="onClickEvt(this)" ondblclick="onDblClickEvt(this)">';
            empListTable += '<td class="pt-3-half">'+data[i].EMP_NAME+'</td>';
            empListTable += '<td class="pt-3-half">'+data[i].EMP_EMAIL+'</td>';
            empListTable += '<td class="pt-3-half">'+data[i].DEPT_NAME+'</td>';
            empListTable += '<td class="pt-3-half" style="display: none;">checkbox</td>';
            empListTable += '</tr>';

        }
    } else {
        empListTable += '<tr>';
        empListTable += '해당하는 직원이 없습니다.';
        empListTable += '</tr>';
    }

    empListTable += '</tbody>';
    empListTable += '</table>';

    if(size > 0) {
        empListTable += '<div class="align-self-end align-self-center" style="width:80px;float: right;">';
        empListTable += '<button class="button" id="selectBtn" type="button" onclick="onClickselectBtn()">선택</button>';
        empListTable += '</div>';
    }

    document.getElementById('grd_empListTable').innerHTML = empListTable;

    $("#ipt_searchName").click(function(){
        $('[name="ipt_searchName"]').val("");
    });

};






</script>
<div class="row">
    <div class="col-sm-12">
        <div class="accordion mb-4" id="grp_search">
            <div class="card">
                <div id="col_search" class="collapse show" aria-labelledby="head_search" data-parent="#grp_search">
                    <div class="card-body flex-height d-flex m-0 p-2">
                        <div class="align-self-start align-self-center mr-3">직원 조회</div>
                        <div class="align-self-center mr-3">
                            <input type="text" class="form-control" id="ipt_searchName" name="ipt_searchName" placeholder="이름을 입력해주세요." maxlength="10"/>
                        </div>
                        <div class="align-self-end align-self-center">
                            <button class="button" id="searchBtn" type="button">검색</button>
                        </div>
                    </div>
                </div>
            </div>
        <center>
            <div id="grd_empListTable"></div>
        </center>

    </div>
</div>
</div>
