<style>
    td{
        padding :2%;
    }
</style>
<script type="text/javascript">
    /*********************************************************************
    *   Dialog Setting
    *********************************************************************/
    var n_dialog = new ax5.ui.dialog();
    var n_title =  '<span style="color:#fd7e14;font-size:20px;"><i class="fa fa-check-circle"></i></span> CHECK';

    n_dialog.setConfig({
        title: n_title,
        theme : 'info',
        lang:{
            "ok": "확인", "cancel": "취소"
        }
    });

    $(document).ready(function(){
        /*name = $('#addEmpBtn').val();
        console.log(' Debug [Name] : '+name );*/

    });

    /* 중복확인 버튼 클릭 이벤트 */
    function onClickIsExistBtn() {
        var email = $('#ipt_empId').val();
        if( email == "" || email == null){
            alert("아이디를 입력해주세요");
        }else{
            email += "@infogen.co.kr";

            var param = {
                "email" : email
            }

            /* 정보 조회 */
            $.ajaxCall( param, {
                 'method' : 'GET',
                 'url' : "{% url 'dili_api:getEditEmpInfo' %}",
                 'dataType' : 'json',
                 'data' : JSON.stringify(param),
                 'async' : false,
                 'callbackFn' : function(data){
                    // 로그
                    console.log("data : ",data);
                    // 리턴
                    isExistResult(data);
                 }
            });
        }

    };

    /* 아이디 중복체크 결과 */
    function isExistResult(data){
    debugger;
        console.log("Start")
        console.log(data)
        console.log(typeof(data))
        if(data.length > 0){
            g_toast.push("이미 사용중인 아이디입니다.");
            console.log("아이디 중복체크 > 등록 불가능");
            $('#ipt_empId').val("");
            $('#ipt_empId').focus();
            $('#submitBtn').attr('disabled',true);
        }else{
            g_toast.push("사용 가능한 아이디입니다.");
            console.log("아이디 중복체크 > 등록가능");
            $('#ipt_empId').attr('readonly', true);
            $('#submitBtn').attr('disabled',false);
        }
    };

    /* 등록버튼 클릭 이벤트 */
    function onClickSubmitBtn() {
        var ipt_empId = $('[name="ipt_empId"]').val();
        var ipt_empPw = $('[name="ipt_empPw"]').val();
        var ipt_empAuthId = $('[name="ipt_empAuthId"] option:selected').val();
        var ipt_empNm = $('[name="ipt_empNm"]').val();
        var ipt_empBd = $('[name="ipt_empBd"]').val();
        var ipt_empMb = $('[name="ipt_empMb"]').val();
        var ipt_empDept = $('[name="ipt_empDept"] option:selected').val();

        if( ipt_empId == "" || ipt_empId == null ){
            alert("직원 아이디를 입력해 주세요.");
            return false;
        } else if (ipt_empPw == "" || ipt_empPw == null ){
            alert("직원 비밀번호를 입력해 주세요.");
            return false;
        } else if (ipt_empAuthId == "00" || ipt_empAuthId == null ){
            alert("직원 권한을 선택해 주세요.");
            return false;
        } else if (ipt_empNm == "" || ipt_empNm == null ){
            alert("직원 이름을 입력해 주세요.");
            return false;
        } else if (ipt_empBd == "" || ipt_empBd == null ){
            alert("직원 생년월일을 입력해 주세요.");
            return false;
        } else if (ipt_empMb == "" || ipt_empMb == null ){
            alert("직원 연락처를 입력해 주세요.");
            return false;
        } else if (ipt_empDept == "00" || ipt_empDept == null ){
            alert("직원 부서를 선택해 주세요.");
            return false;
        } else if (ipt_empNm.length < 2){
            alert("직원 이름은 두 글자 이상 입력해 주세요.");
            return false;
        }else if (ipt_empMb.length < 13){
            alert("직원 연락처는 010-0000-0000 형식으로 입력해 주세요.");
            return false;
        }

        switch(ipt_empAuthId){
            case "01":
                ipt_empAuthId = "ADMIN";
                break;
            case "02":
                ipt_empAuthId = "USER";
                break;
            case "03":
                ipt_empAuthId = "GM"; //GeneralManager
                break;
            default:
                ipt_empAuthId = "error";
                break;
        }

        var param = {
            "ipt_empId" : ipt_empId,
            "ipt_empPw" : ipt_empPw,
            "ipt_empAuthId" : ipt_empAuthId,
            "ipt_empNm" : ipt_empNm,
            "ipt_empBd" : ipt_empBd,
            "ipt_empMb" : ipt_empMb,
            "ipt_empDept" : ipt_empDept
        }

        n_dialog.confirm('등록하시겠습니까?',function(){
                if(this.key == 'ok'){       //확인클릭시
                    $.ajaxCall( param, {
                        method:'POST',
                        url : "{% url 'dili_api:empMgmtReg' %}",
                        dataType:'json',
                        data:JSON.stringify(param),
                        callbackFn:function(data){
                            if(data){
                                // 리턴
                                 //location.href = "{% url 'dili_api:empMgmt' %}";
                                 url = "{% url 'dili_api:empMgmt' %}";
                                 $('#grd_empListTable').load(url);
                                 $('#exitEmpModalBtn').click();
                                 g_toast.push("성공적으로 등록되었습니다.");
                                 console.log("등록되었습니다.");

                                //sFlag = true;
                                //fileSave();
                            } else{
                                g_toast.push("등록에 실패하였습니다.");
                                console.log("등록에 실패하였습니다.");
                                location.reload();
                            }
                        }
                   });
                }else{     //취소클릭시
                    g_toast.push("취소하였습니다.");
                    console.log("취소하였습니다.");
                    //location.reload();
                }

            });

    };

    /* 닫기 버튼 클릭 이벤트 */
    function onClickCloseBtn() {
        $('#exitEmpModalBtn').click();
    };

</script>
    <div class="row">
        <div class="mb-4" role="alert">
            <h5>
                <b>직원등록</b>
            </h5>
        </div>
        <div class="flex-height d-flex m-0 p-2">
            <form method="post" id="submitEmp" action="">
                <table>
                    <!-- 아이디 -->
                    <tr>
                        <td><label for="ipt_empId">아이디</label></td>
                        <td><input type="text" class="form-control" id="ipt_empId" name="ipt_empId" placeholder="ID" maxlength="30" style="width:300px;"/></td>
                        <td><button class="button" id="isExistBtn" type="button" onclick="onClickIsExistBtn()" float="right">중복확인</button></td>
                    </tr>
                    <!-- 비밀번호 -->
                    <tr>
                        <td><label for="ipt_empPw">비밀번호</label></td>
                        <td colspan="2"><input type="password" class="form-control" id="ipt_empPw" name="ipt_empPw" placeholder="PASSWORD" maxlength="10" style="width:300px;"/></td>
                    </tr>
                    <!-- 권한 -->
                    <tr>
                        <td><label for="ipt_empAuthId">권한</label></td>
                        <td colspan="2">
                            <select id="ipt_empAuthId" name="ipt_empAuthId" style="width:300px;">
                                <option value="00" selected>선택</option>
                                <option value="01">관리자</option>
                                <option value="02">일반사용자</option>
                                <option value="03">사업부장</option>
                            </select>
                        </td>
                    </tr>
                    <!-- 성명 -->
                    <tr>
                        <td><label for="ipt_empNm">성명</label></td>
                        <td colspan="2"><input type="text" class="form-control" id="ipt_empNm" name="ipt_empNm" placeholder="NAME" maxlength="10" style="width:300px;"/></td>
                    </tr>
                    <!-- 생년월일 -->
                    <tr>
                        <td><label for="ipt_empBd">생년월일</label></td>
                        <td colspan="2"><input type="date" class="form-control" id="ipt_empBd" name="ipt_empBd" maxlength="8" max="9999-12-31" style="width:300px;"/></td>
                    </tr>
                    <!-- 전화번호 -->
                    <tr>
                        <td><label for="ipt_empMb">전화번호</label></td>
                        <td colspan="2"><input type="tel" class="form-control" id="ipt_empMb" name="ipt_empMb" maxlength="13" placeholder="000-0000-0000"style="width:300px;"/></td>
                    </tr>
                     <!-- 부서 -->
                    <tr>
                        <td><label for="ipt_empDept">부서</label></td>
                        <td colspan="2">
                            <select id="ipt_empDept" name="ipt_empDept" style="width:300px;">
                                <option value="00" selected>선택</option>
                                <option value="01">전자/제조파트</option>
                                <option value="02">통신파트</option>
                                <option value="03">화학파트</option>
                                <option value="04">전략사업 파트</option>
                                <option value="05">DX사업 파트</option>
                                <option value="06">사업지원팀</option>
                           </select>
                        </td>
                    </tr>
                    <!-- 버튼 -->
                    <tr>
                        <td colspan="3" style="text-align:right;">
                            <button class="button" id="submitBtn" type="button" onclick="onClickSubmitBtn()" float="right" disabled>등록</button>
                            <input class="button" id="resetBtn" type="reset" float="right"/>
                            <button class="button" id="closeBtn" type="button" onclick="onClickCloseBtn()" float="right">닫기</button>
                        </td>
                    </tr>
                </table>
                <!-- <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empId">아이디</label>
                </div>
                <div class="align-self-center mr-3">
                    <input type="text" class="form-control" id="ipt_empId" name="ipt_empId" placeholder="ID" maxlength="30" style="width:300px;"/>
                </div>
                <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empPw">비밀번호</label>
                </div>
                <div class="align-self-center mr-3">
                    <input type="password" class="form-control" id="ipt_empPw" name="ipt_empPw" placeholder="PASSWORD" maxlength="10" style="width:300px;"/>
                </div>
                <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empAuthId">권한</label>
                </div>
                <div class="align-self-center mr-3">
                    <select id="ipt_empAuthId" name="ipt_empAuthId" style="width:300px;">
                        <option value="00" selected>선택</option>
                        <option value="01">관리자</option>
                        <option value="02">일반사용자</option>
                        <option value="03">사업부장</option>
                    </select>
                </div>
                <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empNm">성명</label>
                </div>
                <div class="align-self-center mr-3">
                    <input type="text" class="form-control" id="ipt_empNm" name="ipt_empNm" placeholder="NAME" maxlength="10" style="width:300px;"/>
                </div>
                <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empBd">생년월일</label>
                </div>
                <div class="align-self-center mr-3">
                    <input type="date" class="form-control" id="ipt_empBd" name="ipt_empBd" maxlength="8" style="width:300px;"/>
                </div>
                <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empMb">전화번호</label>
                </div>
                <div class="align-self-center mr-3">
                    <input type="tel" class="form-control" id="ipt_empMb" name="ipt_empMb" maxlength="13" placeholder="000-0000-0000"style="width:300px;"/>
                </div>
                <div class="align-self-start align-self-center mr-3">
                    <label for="ipt_empDept">부서</label>
                </div>
                <div class="align-self-center mr-3">
                    <select id="ipt_empDept" name="ipt_empDept" style="width:300px;">
                        <option value="00" selected>선택</option>
                        <option value="01">전자/제조파트</option>
                        <option value="02">통신파트</option>
                        <option value="03">화학파트</option>
                        <option value="04">전략사업 파트</option>
                        <option value="05">DX사업 파트</option>
                        <option value="06">사업지원팀</option>
                   </select>
                </div>
                <div class="container" id="btn_C">
                    <button class="button" id="submitBtn" type="button" onclick="onClickSubmitBtn()" float="right">등록</button>
                    <input class="button" id="resetBtn" type="reset" float="right"/>
                </div> -->

            </form>
        </div>
    </div>
