<script type="text/javascript">
    /*********************************************************************
    *   Dialog Setting
    *********************************************************************/
    var n_dialog = new ax5.ui.dialog();
    var n_title =  '<span style="color:#fd7e14;font-size:20px;"><i class="fa fa-check-circle"></i></span> CHECK';

    n_dialog.setConfig({
        title: n_title,
        theme : 'info',
        lang:{
            "ok": "확인", "cancel": "취소"
        }
    });

    $(document).ready(function(){
        // 공통 코드 조회 - '부서 조회'
        retrieveCmmCd('sbx_empDept', 'SLIN_BZDP');

        // 공통 코드 조회 - '권한 조회'
        retrieveCmmCd('sbx_empAuthId', 'AUTH_CD');

    });

    /* 중복확인 버튼 클릭 이벤트 */
    function onClickIsExistBtn() {
        var email = $('#ipt_empId').val();
        if( email == "" || email == null){
            alert("아이디를 입력해주세요");
        }else{
            var param = {
                "email" : email
            }

            /* 정보 조회 */
            $.ajaxCall( param, {
                 'method' : 'GET',
                 'url' : "{% url 'dili_api:getEditEmpInfo' %}",
                 'dataType' : 'json',
                 'data' : JSON.stringify(param),
                 'async' : false,
                 'callbackFn' : function(data){
                    // 로그
                    console.log("data : ",data);
                    // 리턴
                    isExistResult(data);
                 }
            });
        }

    };

    /* 아이디 중복체크 결과 */
    function isExistResult(data){
        console.log("Start")
        console.log(data)
        console.log(typeof(data))
        if(data.length > 0){
            g_toast.push("이미 사용중인 아이디입니다.");
            console.log("아이디 중복체크 > 등록 불가능");
            $('#ipt_empId').val("");
            $('#ipt_empId').focus();

        }else{
            g_toast.push("사용 가능한 아이디입니다.");
            console.log("아이디 중복체크 > 등록가능");
            $('#ipt_empId').attr('readonly', true);
            $('#reIsExistBtn').attr('hidden', false);
            $('#isExistBtn').attr('hidden', true);
        }
    };


    /* 아이디 재설정 클릭 이벤트 */
    function onClickReIsExistBtn(){
        $('#ipt_empId').attr('readonly', false);
        $('#ipt_empId').val("");
        $('#ipt_empId').focus();
        $('#reIsExistBtn').attr('hidden', true);
        $('#isExistBtn').attr('hidden', false);
    }

    /* 등록버튼 클릭 이벤트 */
    function onClickSubmitBtn() {
        var ipt_empId = $('[name="ipt_empId"]').val();
        var ipt_empPw = $('[name="ipt_empPw"]').val();
        var ipt_empAuthId = $('[name="sbx_empAuthId"] option:selected').val();
        var ipt_empNm = $('[name="ipt_empNm"]').val();
        var ipt_empDept = $('[name="sbx_empDept"] option:selected').val();


        if( ipt_empId == "" || ipt_empId == null ){
            alert("직원 아이디를 입력해 주세요.");
            return false;
        } else if($('#reIsExistBtn').is(":hidden")) {
            alert("직원 아이디 중복여부 체크해 주세요.");
            return false;
        } else if (ipt_empPw == "" || ipt_empPw == null ){
            alert("직원 비밀번호를 입력해 주세요.");
            return false;
        } else if (ipt_empNm == "" || ipt_empNm == null ){
            alert("직원 이름을 입력해 주세요.");
            return false;
        } else if (ipt_empNm.length < 2){
            alert("직원 이름은 두 글자 이상 입력해 주세요.");
            return false;
        } else if (ipt_empAuthId == "none" || ipt_empAuthId == null ){
            alert("직원 권한을 선택해 주세요.");
            return false;
        } else if (ipt_empDept == "00" || ipt_empDept == null ){
            alert("직원 부서를 선택해 주세요.");
            return false;
        }


        var param = {
            "ipt_empId" : ipt_empId,
            "ipt_empPw" : ipt_empPw,
            "ipt_empAuthId" : ipt_empAuthId,
            "ipt_empNm" : ipt_empNm,
            "ipt_empDept" : ipt_empDept
        }

        n_dialog.confirm('등록하시겠습니까?',function(){
                if(this.key == 'ok'){       //확인클릭시
                    $.ajaxCall( param, {
                        method:'POST',
                        url : "{% url 'dili_api:empMgmtReg' %}",
                        dataType:'json',
                        data:JSON.stringify(param),
                        callbackFn:function(data){
                            if(data){
                                // 리턴
                                 //location.href = "{% url 'dili_api:empMgmt' %}";
                                 url = "{% url 'dili_api:empMgmt' %}";
                                 $('#grd_empListTable').load(url);
                                 $('#exitEmpModalBtn').click();
                                 g_toast.push("성공적으로 등록되었습니다.");
                                 console.log("등록되었습니다.");

                                //sFlag = true;
                                //fileSave();
                            } else{
                                g_toast.push("등록에 실패하였습니다.");
                                console.log("등록에 실패하였습니다.");
                                location.reload();
                            }
                        }
                   });
                }else{     //취소클릭시
                    g_toast.push("취소하였습니다.");
                    console.log("취소하였습니다.");
                    //location.reload();
                }

            });

    };

    /* 닫기 버튼 클릭 이벤트 */
    function onClickCloseBtn() {
        $('#exitEmpModalBtn').click();
    };

    /* 리셋 버튼 클릭 이벤트 */
    function onClickResetBtn() {
        $('#ipt_empId').attr('readonly', false);
        $('#reIsExistBtn').attr('hidden', true);
        /*$('#ipt_empId').attr('style', 'width:200px');*/
        $('#isExistBtn').attr('hidden', false);
    };

</script>
<div style="width :450px;">
    <div class="mb-4" role="alert">
        <h6>
            <b>직원등록</b>
        </h6>
    </div>
    <div class="flex-height d-flex m-0">
        <form method="post" id="submitEmp" action="">
            <!-- 아이디 -->
            <div class="flex-height d-flex mb-2">
                <div class="align-self-start align-self-center mr-4"><label for="ipt_empId">아이디&nbsp;&nbsp;</label></div>
                <div class="align-self-center mr-2">
                    <input type="text" class="form-control" id="ipt_empId" name="ipt_empId" placeholder="ID" maxlength="30" />
                </div>
                <div class="align-self-center mr-5">
                    <button class="button" id="reIsExistBtn" type="button" onclick="onClickReIsExistBtn()" hidden="hidden">아이디 재설정</button>
                    <button class="button" id="isExistBtn" type="button" onclick="onClickIsExistBtn()">중복확인</button>
                </div>
            </div>
            <!-- 비밀번호 -->
            <div class="flex-height d-flex mb-2">
                <div class="align-self-start align-self-center mr-3"><label for="ipt_empPw">비밀번호</label></div>
                <div class="align-self-center mr-3">
                    <input type="password" class="form-control" id="ipt_empPw" name="ipt_empPw" placeholder="PASSWORD" maxlength="10" />
                </div>
            </div>
            <!-- 성명 -->
            <div class="flex-height d-flex mb-2">
                <div class="align-self-start align-self-center mr-5"><label for="ipt_empNm">성명</label></div>
                <div class="align-self-center mr-5">
                    <input type="text" class="form-control" id="ipt_empNm" name="ipt_empNm" placeholder="NAME" maxlength="10" />
                </div>
            </div>
            <!-- 권한 -->
            <div class="flex-height d-flex mb-2">
                <div class="align-self-start align-self-center mr-5"><label for="sbx_empAuthId">권한</label></div>
                <div class="align-self-center mr-5">
                    <select id="sbx_empAuthId" name="sbx_empAuthId" class="form-control">
                        <option value="none" selected>선택</option>
                    </select>
                </div>
            </div>
            <!-- 부서 -->
            <div class="flex-height d-flex mb-3">
                <div class="align-self-start align-self-center mr-5"><label for="sbx_empDept">부서</label></div>
                <div class="align-self-center mr-5">
                    <select id="sbx_empDept" name="sbx_empDept" class="form-control">
                        <option value="00" selected>선택</option>
                    </select>
                    <!-- 중복체크 여부 hidden -->
                    <input type="text" class="form-control" id="hidden_existChk" name="hidden_existChk" maxlength="30" style="" readonly hidden/>
                </div>
            </div>
            <!-- 버튼 -->
            <div class="flex-height d-flex mb-2">
                <div class="align-self-center mr-5">
                    <button class="button" id="submitBtn" type="button" onclick="onClickSubmitBtn()">등록</button>
                    <input class="button" id="resetBtn" type="reset" onclick="onClickResetBtn()" />
                    <button class="button" id="closeBtn" type="button" onclick="onClickCloseBtn()" >닫기</button>
                </div>

            </div>

        </form>
    </div>
</div>

