{% extends 'common/base_popup.html' %}

{% block content %}
    <div class="container">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            var param = {
                "name" : '황이성' // 메인 화면에서 값 넘겨받기 name
            }

            /* 목록조회 */
            $.ajaxCall( param, {
                 'method' : 'GET',
                 'url' : "{% url 'dili_api:getEmpInfo' %}",
                 'dataType' : 'json',
                 'data' : JSON.stringify(param),
                 'async' : false,
                 'callbackFn' : function(data){
                    // 로그
                    console.log("data : ",data)
                    // 리턴
                    empListGrd(data);
                 }
            });

	        /*********************************************************************
            *   근무결재요청 Grid 생성
            *********************************************************************/
            function empListGrd(data){

                var empListTable = '<table class="table table-bordered table-responsive-md text-center">';
                empListTable += '<thead>';
                empListTable += '<tr>';
                empListTable += '<th class="text-center">순번</th>';
                empListTable += '<th class="text-center">이름</th>';
                empListTable += '<th class="text-center">E-Mail</th>';
                empListTable += '<th class="text-center">연락처</th>';
                empListTable += '</tr>';
                empListTable += '</thead>';
                empListTable += '<tbody>';

                if(data.length > 0) {
                    for(var i = 0; i < data.length; i++){

                        empListTable += '<tr id ="grd_empListTable">';
                        empListTable += '<td id="no" class="pt-3-half">'+i+'</td>';
                        empListTable += '<td id="empName" class="pt-3-half">'+data[i].이름컬럼+'</td>';
                        empListTable += '<td id="empEmail" class="pt-3-half">'+data[i].이메일컬럼+'</td>';
                        empListTable += '<td id="empTel" class="pt-3-half">'+data[i].연락처컬럼+'</td>';
                        empListTable += '</tr>';

                    }
                }


                empListTable += '</tbody>';
                empListTable += '</table>';

                document.getElementById('grd_empListTable').innerHTML = empListTable;
            }

        });


    </script>
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-4" role="alert">
                    <h5>
                        <b>직원관리</b>
                    </h5>
                </div>

                <div class="accordion mb-4" id="grp_search">
                    <div class="card">

                        <div id="col_search" class="collapse show" aria-labelledby="head_search" data-parent="#grp_search">
                            <div class="card-body flex-height d-flex m-0 p-2">
                                <div class="align-self-start align-self-center mr-3">E-mail</div>
                                <div class="align-self-center mr-3">
                                    <input type="text" class="form-control" id="ipt_searchEmail" name="ipt_searchEmail" placeholder="E-mail을 입력해주세요." maxlength="10"/>
                                </div>
                                <div class="align-self-end align-self-center">
                                    <button class="btn btn-primary" id="searchBtn" onclick="onclickEvt">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                # 페이징 구현하기
                    <a href ="" class="btn btn-link text-dark btn-arrow-left">
                        [이전]
                    </a>

                    #1 #2 .. #10 최대

                    <a href="" class="btn btn-link text-dark btn-arrow-right">
                        [다음]
                    </a>
                </center>

            </div>
        </div>
    </div>

{% endblock %}