<script type="text/javascript">

var initFlag = true;

/*********************************************************************
*   Dialog Setting
*********************************************************************/
var n_dialog = new ax5.ui.dialog();
var n_title =  '<span style="color:#fd7e14;font-size:20px;"><i class="fa fa-check-circle"></i></span> CHECK';

n_dialog.setConfig({
    title: n_title,
    theme : 'info',
    lang:{
        "ok": "확인", "cancel": "취소"
    }
});

$("#exitEmpModalBtnTest").click(function(){//asdf
    onClickResetBtn2();
});

$(document).ready(function(){
    // 공통 코드 조회 - '부서 조회'
    retrieveCmmCd('sbx_empDept2', 'SLIN_BZDP');
    // 공통 코드 조회 - '권한 조회'
    retrieveCmmCdChk('chk_empAuthId2', 'AUTH_CD');
    $('#chk_empAuthId2').attr('style', "font-size:x-small");


});


/* ID 중복확인 버튼 클릭 이벤트 */
function onClickIsExistBtn2() {
    var email = $('#ipt_empId2').val();
    if( email == "" || email == null){
        alertMsg("ID를 입력해주세요");
    }else if(email.length < 4 || email.length > 12 ) {
        alertMsg("직원 ID는 4 ~ 12자로 입력해주세요.", function() {
            $('#ipt_empId2').focus();
        });
    }else{
        var param = {
            "email" : email
        }

        /* 정보 조회 */
        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:getEditEmpInfo' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                // 로그
                console.log("data : ",data);
                // 리턴
                isExistResult(data);
             }
        });
    }

};

/* ID 중복체크 결과 */
function isExistResult(data){
    console.log("Start")
    console.log(data)
    console.log(typeof(data))
    if(data.length > 0){
        alertMsg("이미 사용중인 ID입니다.", function() {
            console.log("ID 중복체크 > 등록 불가능");
            $('#ipt_empId2').val("");
            $('#ipt_empId2').focus();
        });


    }else{
        alertMsg("사용 가능한 ID입니다.", function() {
            console.log("ID 중복체크 > 등록가능");
            $('#ipt_empId2').attr('readonly', true);
            $('#reIsExistBtn2').attr('hidden', false);
            $('#isExistBtn2').attr('hidden', true);
        });
    }
};


/* ID 재설정 클릭 이벤트 */
function onClickReIsExistBtn2(){
    $('#ipt_empId2').attr('readonly', false);
    $('#ipt_empId2').val("");
    $('#ipt_empId2').focus();
    $('#reIsExistBtn2').attr('hidden', true);
    $('#isExistBtn2').attr('hidden', false);
}

/* 성명 중복확인 버튼 클릭 이벤트 */
function onClickIsExistNmBtn2() {
    var name = $('#ipt_empNm2').val();
    if( name == "" || name == null){
        alertMsg("성명을 입력해주세요");
    } else if (name.length < 2){
        alertMsg("직원 성명은 두 글자 이상 입력해 주세요.", function() {
            $('#ipt_empNm2').focus();
        });
    }else{
        var param = {
            "name" : name
        }

        /* 정보 조회 */
        $.ajaxCall( param, {
             'method' : 'GET',
             'url' : "{% url 'dili_api:isExistEmpNm' %}",
             'dataType' : 'json',
             'data' : JSON.stringify(param),
             'async' : false,
             'callbackFn' : function(data){
                // 로그
                console.log("data : ",data);
                // 리턴
                isExistNmResult(data);
             }
        });
    }

};

/* 성명 중복체크 결과 */
function isExistNmResult(data){

    console.log("Start")
    console.log(data)
    console.log(typeof(data))
    if(data.length > 0){
        alertMsg("이미 사용중인 성명입니다.<br>성명+숫자로 재입력해주세요.<br>(예: 홍길동1, 홍길동2)", function() {
            console.log("성명 중복체크 > 등록 불가능");
            $('#ipt_empNm2').focus();

        });

    }else{
        alertMsg("사용 가능한 성명입니다.", function() {
            console.log("성명 중복체크 > 등록가능");
            $('#ipt_empNm2').attr('readonly', true);
            $('#reIsExistNmBtn2').attr('hidden', false);
            $('#isExistNmBtn2').attr('hidden', true);
        });
    }
};


/* 성명 재설정 클릭 이벤트 */
function onClickReIsExistNmBtn2(){
    $('#ipt_empNm2').attr('readonly', false);
    $('#ipt_empNm2').focus();
    $('#reIsExistNmBtn2').attr('hidden', true);
    $('#isExistNmBtn2').attr('hidden', false);
}

/* 등록버튼 클릭 이벤트 */
function onClickSubmitBtn2() {
    var ipt_empId2 = $('[name="ipt_empId2"]').val();
    var ipt_empPw2 = $('[name="ipt_empPw2"]').val();
    /* var ipt_empAuthId = $('[name="sbx_empAuthId"] option:selected').val(); */
    var ipt_empNm2 = $('[name="ipt_empNm2"]').val();
    var ipt_empDept = $('[name="sbx_empDept2"] option:selected').val();

    var query = "input[name='AUTH_CD']:checked";
    var selectedEls = document.querySelectorAll(query);
    var result = '';
    selectedEls.forEach((el) => {
        result += el.value + '|';
    });
    var ipt_empAuthId = result.slice(0, -1);

    if( ipt_empId2 == "" || ipt_empId2 == null ){
        alertMsg("직원 ID를 입력해 주세요.", function() {
            $('#ipt_empId2').focus();
        });
        return false;
    } else if(ipt_empId2.length < 4 || ipt_empId2.length > 12 ) {
        alertMsg("직원 ID는 4 ~ 12자로 입력해주세요.", function() {
            $('#ipt_empId2').focus();
        });
        return false;
    } else if($('#reIsExistBtn2').is(":hidden")) {
        alertMsg("직원 ID 중복여부 체크해 주세요.", function() {
            $('#ipt_empId2').focus();
        });
        return false;
    } else if (ipt_empPw2 == "" || ipt_empPw2 == null ){
        alertMsg("직원 비밀번호를 입력해 주세요.", function() {
            $('#ipt_empPw2').focus();
        });
        return false;
    } else if(ipt_empPw2.length < 4 || ipt_empPw2.length > 12 ) {
        alertMsg("직원 비밀번호는 4 ~ 12자로 입력해주세요.", function() {
            $('#ipt_empPw2').focus();
        });
        return false;
    } else if (ipt_empNm2 == "" || ipt_empNm2 == null ){
        alertMsg("직원 성명을 입력해 주세요.", function() {
            $('#ipt_empNm2').focus();
        });
        return false;
    } else if (ipt_empNm2.length < 2){
        alertMsg("직원 성명은 두 글자 이상 입력해 주세요.", function() {
            $('#ipt_empNm2').focus();
        });
        return false;
    } else if($('#reIsExistNmBtn2').is(":hidden")) {
        alertMsg("직원 성명 중복여부 체크해 주세요.", function() {
            $('#ipt_empNm2').focus();
        });
        return false;
    } else if (ipt_empAuthId == "none" || ipt_empAuthId == null ){
        alertMsg("직원 권한을 선택해 주세요.", function() {
            $('#ipt_empAuthId').focus();
        });
        return false;
    } else if (ipt_empDept == "00" || ipt_empDept == null ){
        alertMsg("직원 부서를 선택해 주세요.", function() {
            $('#ipt_empDept').focus();
        });
        return false;
    }


    var param = {
        "ipt_empId"     : ipt_empId2,
        "ipt_empPw"     : ipt_empPw2,
        "ipt_empAuthId" : ipt_empAuthId,
        "ipt_empNm"     : ipt_empNm2,
        "ipt_empDept"   : ipt_empDept,
        "sessionId"         : sessionStorage.getItem("email")      //로그인한 사용자 아이디
    }

    n_dialog.confirm('등록하시겠습니까?',function(){
            if(this.key == 'ok'){       //확인클릭시
                $.ajaxCall( param, {
                    method:'POST',
                    url : "{% url 'dili_api:empMgmtReg' %}",
                    dataType:'json',
                    data:JSON.stringify(param),
                    callbackFn:function(data){
                        if(data){
                            // 리턴
                             //location.href = "{% url 'dili_api:empMgmt' %}";
                             url = "{% url 'dili_api:empMgmt' %}";
                             $('#grd_empListTable').load(url);
                             $('#exitEmpModalBtnTest').click();
                             alertMsg("성공적으로 등록되었습니다.");
                             console.log("등록되었습니다.");
                            onClickResetBtn2();                                          //asdf
                            //sFlag = true;
                            //fileSave();
                        } else{
                            alertMsg("등록에 실패하였습니다.");
                            console.log("등록에 실패하였습니다.");
                            location.reload();
                        }
                    }
               });
            }else{     //취소클릭시
                alertMsg("취소하였습니다.");
                console.log("취소하였습니다.");
                //location.reload();
            }

        });

};

/* 닫기 버튼 클릭 이벤트 */
function onClickCloseBtn2() {
    $('#exitEmpModalBtnTest').click();
};

/* 리셋 버튼 클릭 이벤트 */
function onClickResetBtn2() {
    $('#ipt_empId2').attr('readonly', false);
    $('#reIsExistBtn2').attr('hidden', true);
    $('#isExistBtn2').attr('hidden', false);
    $('#ipt_empNm2').attr('readonly', false);
    $('#ipt_empId2').val("");
    $('#ipt_empPw2').val("");
    $('#ipt_empNm2').val("");

    $('#chk_empAuthId2').children().find('.test').prop("checked", false);
    $('#sbx_empDept2').val("00");


};


/* 아이디 영문, 숫자만 입력가능체크 */
function validChk(){
     if(((event.keyCode >= 48) && (event.keyCode <= 57)) || ((event.keyCode >= 65) && (event.keyCode <= 90)) || ((event.keyCode >= 97) && (event.keyCode <= 122))){
        event.returnValue = true
     }else if( event.keyCode == undefined){
        event.returnValue = true
     }else{
        var inputId = $('#ipt_empId2').val();
        $('#ipt_empId2').val(inputId.substring( 0, (inputId.length)-1 ));
        $('#ipt_empId2').focus();
        event.returnValue = false
     }
}

/* 패스워드 영문, 숫자만 입력가능체크 */
function validChk2(){
     if(((event.keyCode >= 48) && (event.keyCode <= 57)) || ((event.keyCode >= 65) && (event.keyCode <= 90)) || ((event.keyCode >= 97) && (event.keyCode <= 122))){
        event.returnValue = true
     }else if( event.keyCode == undefined){
        event.returnValue = true
     }else{
        var ipt_empPw2 = $('#ipt_empPw2').val();
        $('#ipt_empPw2').val(inputId.substring( 0, (ipt_empPw2.length)-1 ));
        $('#ipt_empPw2').focus();
        event.returnValue = false
     }
}



</script>
<div style="width :500px;">
    <div class="mb-4" role="alert">
        <h6>
            <b>직원등록</b>
        </h6>
    </div>
    <div class="flex-height d-flex m-0">
        <form method="post" id="submitEmp" action="">
            <table>
                <tr>
                    <td></td>
                    <td colspan="2">
                         <div class="flex-height mb-4">
                            <span class="requiredText"><b>* 는 필수 입력 항목입니다.</b></span>
                         </div>
                    </td>
                </tr>
                <!-- ID -->
                <tr>
                    <td>
                        <div class="align-self-start align-self-center mr-5"><span class="requiredTag mr-1">*</span><label for="ipt_empId">ID &nbsp;&nbsp;&nbsp;</label></div>
                    </td>
                    <td>
                        <div class="align-self-center mr-2">
                            <input type="text" class="form-control" id="ipt_empId2" name="ipt_empId2" placeholder="ID" maxlength="12" onkeyup="validChk();"/>
                        </div>
                    </td>
                    <td>
                        <div class="align-self-center mr-2">
                            <button class="button" id="reIsExistBtn2" type="button" onclick="onClickReIsExistBtn2()" hidden="hidden">ID 재설정</button>
                            <button class="button" id="isExistBtn2" type="button" onclick="onClickIsExistBtn2()">중복확인</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <div class="flex-height d-flex mb-2">
                            <span class="requiredText">> ID는 영문, 숫자로 4~12자로 입력해주세요.</span>
                        </div>
                    </td>
                </tr>
                <!-- 비밀번호 -->
                <tr>
                    <td>
                        <div class="align-self-start align-self-center mr-3"><span class="requiredTag mr-1">*</span><label for="ipt_empPw2">비밀번호</label></div>
                    </td>
                    <td>
                        <div class="align-self-center mr-3">
                            <input type="password" class="form-control" id="ipt_empPw2" name="ipt_empPw2" placeholder="PASSWORD" maxlength="12" onkeyup="validChk();" />
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <div class="flex-height d-flex mb-2">
                            <span class="requiredText">> 비밀번호는 영문, 숫자로 4~12자로 입력해주세요.</span>
                        </div>
                    </td>
                </tr>
                <!-- 성명 -->
                <tr>
                    <td>
                        <div class="align-self-start align-self-center mr-5"><span class="requiredTag mr-1">*</span><label for="ipt_empNm2">성명</label></div>
                    </td>
                    <td>
                        <div class="align-self-center mr-2">
                            <input type="text" class="form-control" id="ipt_empNm2" name="ipt_empNm2" placeholder="NAME" maxlength="5" />
                        </div>
                    </td>
                    <td>
                        <div class="align-self-center mr-2">
                            <button class="button" id="reIsExistNmBtn2" type="button" onclick="onClickReIsExistNmBtn2()" hidden="hidden">성명 재설정</button>
                            <button class="button" id="isExistNmBtn2" type="button" onclick="onClickIsExistNmBtn2()">중복확인</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <div class="flex-height d-flex mb-2">
                            <span class="requiredText">> 동일한 성명이 선등록되어있을 경우 성명+숫자로 입력해주세요.<br>&nbsp;(예: 홍길동1, 홍길동2)</span>
                        </div>
                    </td>
                </tr>
                <!-- 권한 -->
                <tr>
                    <td>
                        <div class="align-self-start align-self-center mr-5"><span class="requiredTag mr-1">*</span><label for="chk_empAuthId2">권한</label></div>
                    </td>
                    <td colspan="2">
                        <div class="align-self-center mr-5  pb-2">
                            <div id="chk_empAuthId2"></div>
                        </div>
                    </td>

                </tr>
                <!-- 부서 -->
                <tr>
                    <td>
                        <div class="align-self-start align-self-center mr-5"><span class="requiredTag mr-1">*</span><label for="sbx_empDept2">부서</label></div>
                    </td>
                    <td>
                        <div class="align-self-center mr-5 pb-2">
                            <select id="sbx_empDept2" name="sbx_empDept2" class="form-control">
                                <option value="00" selected>선택</option>
                            </select>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <!-- 버튼 -->
                <tr>
                    <td>
                        <!-- 중복체크 여부 hidden -->
                        <input type="text" class="form-control" id="hidden_existChk" name="hidden_existChk" maxlength="30" style="" readonly hidden/>
                    </td>
                    <td colspan="2">
                        <div class="flex-height mt-4" style="float:right;">
                            <button class="button" id="submitBtn2" type="button" onclick="onClickSubmitBtn2()">등록</button>
                            <button class="button" id="resetBtn2" type="button" onclick="onClickResetBtn2()">초기화</button>
                            <button class="button" id="closeBtn2" type="button" onclick="onClickCloseBtn2()" >닫기</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

