{% extends 'common/base.html' %}

{% block content %}
<article>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    Emp index : {{ result }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <a href="{% url 'dili_api:mariatest' %}">마리아 테스트</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <a href="{% url 'dili_api:scheduleMgmt' %}">스케쥴 관리</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <a href="{% url 'dili_api:wrkApvlReq' %}">근무요청결재</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <a href="{% url 'dili_api:yryApvlReq' %}">연차요청결재</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <a href="{% url 'dili_api:apvlReqHist' %}">결재요청이력</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <a href="{% url 'dili_api:noticeLst' %}">공지사항</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <a href="{% url 'dili_api:noticeDtl' %}">공지사항상세</a>
                </div>
            </div>
        </div>
</article>
{% endblock %}