{% extends 'common/base.html' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
                console.log('???')
                $.ajaxCall({}, {
                 method : 'get',
                 url : "{% url 'dili_api:getMaria' %}",
                 async : false,
                 callbackFn : function(data){
                    console.log('call')
                    data[0]
                    $('#result').text('seq : '+data[0].SEQ + ' / RMKS : '+data[0].RMKS)
                 }
            });
        });


    </script>
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info" role="alert">
                    <a id="result"></a>
                </div>
            </div>
        </div>

{% endblock %}