{% extends 'common/base.html' %}

{% block content %}
<script type="text/javascript" xmlns:max-width="http://www.w3.org/1999/xhtml">
        var firstGrid;
        $(document).ready(function(){
            /*********************************************************************
            *   Session Email
            *********************************************************************/
            var param = {
                "email" : 'sangeuny@infogen.co.kr',
                "authId" : "ADMIN"
            }

            if(param.authId != "ADMIN") {
                $('#writeBtn').css("display", "none");
            }

            $('#writeBtn').click(function(){
                if(param.authId != "ADMIN") {
                    alertMsg('글 작성 권한이 없습니다.');
                    return false;
                }
            });

            firstGrid = $('[data-ax5grid="first-grid"]');

            var gridOptions = {
                columns: [  /* columns : 그리드 헤더 및 매핑 시킬 컬럼 및 컬럼 속성 설정 항목(필수) */
                { key: "KD_DIVS_CD",        label: "유형구분코드",        hidden : true},
                { key: "POST_ID",           label: "글번호",             hidden : true},
                { key: "KD_DIVS_NM",        label: "말머리",             width: "10%", align: "center"},
                { key: "TIT",               label: "제목",              width: "60%", align: "left",
                  formatter : function() { /* 게시글 상세 보기 링크 생성 */
                    var title = "";
                    if(this.item.MJR_YN == "Y") { /* 중요 게시글 여부 */
                        title += "<b>[중요]&nbsp;</b>";
                    }
                    title += "<a href='/dili/noticeDtl?postId=" + this.item.POST_ID + "&type=r'>" + this.item.TIT + "</a>";
                    return title;
                }},
                { key: "CNTN",              label: "내용",               hidden : true},
                { key: "MJR_YN",            label: "중요여부",            hidden : true},
                { key: "POP_OPEN_YN",       label: "팝업호출여부",         hidden : true},
                { key: "DATA_INPT_ID",      label: "데이터입력자ID",       hidden : true},
                { key: "EMP_NAME",          label: "작성자",              width: "15%", align: "center"},
                { key: "DATA_INPT_DTTM",    label: "작성일",              width: "15%", align: "center"},
                { key: "DATA_INPT_PGM_ID",  label: "데이터입력프로그램ID",  hidden : true},
                { key: "DATA_UPD_ID",       label: "데이터수정자ID",       hidden : true},
                { key: "DATA_UPD_DTTM",     label: "데이터수정일시",        hidden : true},
                { key: "DATA_UPD_PGM_ID",   label: "데이터수정프로그램ID",   hidden : true}
                ]
            };

            firstGrid = $('[data-ax5grid="first-grid"]').initGrid(gridOptions);

            firstGrid.setConfig({
                sortable : true,
                showLineNumber: true,
                header: {
                    columnHeight: 40
                },
                body: {
                    columnHeight: 40
                }
            });

            $('#searchBtn').click(function(){
                getGridList(1);
            });

            getGridList(1);
        });

        function makePaging(ret){
            $('#paging_navi').makePagingNavi(ret, 'getGridList');
        }

        function getGridList(page){
            var options = {
                method : 'get',
                url : "{% url 'dili_api:getNoticeLst' %}",
                callbackFn :  function(ret){
                    if(ret.list.length == 0){
                        alertMsg('게시글이 없습니다.');
                        firstGrid.setData([]);
                        return false;
                    }
                    firstGrid.setData(ret.list);
                    firstGrid.select(0);

                    makePaging(ret);
                }
            };

            $.ajaxCall({ page : page,
                         category : $('[name="category"]').val(),
                         searchStr : $('[name="searchStr"]').val()
                         }, options);
        }
    </script>


    <div class="container" style="margin-top:30px"><!--margin 임시로 줌. 이후 수정 필요 -->
        <!-- 제목 div -->
        <div>
            <h5><b>공지사항</b></h5>
        </div>

        <!-- 게시글 목록 div -->
        <div style="position:relative; height:450px; margin-top:5px; margin-bottom:20px;" id="grid-parent">
            <div id=""noticeLstGrid data-ax5grid="first-grid" style="height: 100%; width : 100%; overflow: auto"></div>
            <div id="paging_navi"></div>
            <a href="/dili/noticeDtl?type=c" class="btn btn-primary" id="writeBtn" style="float: right;">글쓰기</a>
        </div>


        <!-- 검색 div -->
        <div style="margin:120px auto 0px auto; width:500px">
            <div class="input-group">
                <select name="category" class="input-group-prepend btn btn-light float-left w-25">
                     <option value="00" selected>제목</option>
                     <option value="01">내용</option>
                     <option value="02">제목 + 내용</option>
                     <option value="03">작성자</option>
                </select>

                <input type="text" name="searchStr" class="form-control w-50" placeholder="검색어를 입력하세요.">

                <div class="input-group-append" style="width:75px;">
                    <button id="searchBtn" class="btn btn-primary" type="button">조회</button>
                </div>
            </div>
        </div>

    </div>

{% endblock %}