{% extends 'common/base.html' %}

{% block content %}
    <div class="container" style="margin-top:30px"><!--margin 임시로 줌. 이후 수정 필요 -->
        <!-- 제목 -->
        <div>
            <h5><b>공지사항</b></h5>
        </div>

        <!-- 게시글 목록 table -->
        <table class="table table-striped table-hover">
            <colgroup>
                <col style="width:5%;" />
                <col style="width:10%;" />
                <col style="width:auto;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:7%;" />
            </colgroup>

            <thead class="text-center">
                <tr class="text-center">
                    <th>NO</th>
                    <th>분류</th> <!-- 말머리 -->
                    <th>글제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>

            <tbody>
            <!--
                <c:choose>
                    <c:when test="${empty boardList }" >-->
                        <!-- UI 테스트용 -->
                        <tr>
                            <td class="text-center">10</td>
                            <td class="text-center">복지</td>
                            <td><a href="#">2020년도 건강검진 실시 안내</a></td>
                            <td class="text-center"><a href="#">남궁혜연</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">100</td>
                        </tr>
                        <tr>
                            <td class="text-center">9</td>
                            <td class="text-center">복지</td>
                            <td><a href="#">2020년 추석 선물 세트 신청 안내</a></td>
                            <td class="text-center"><a href="#">김혜연</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">20</td>
                        </tr>
                        <tr>
                            <td class="text-center">8</td>
                            <td class="text-center">발령</td>
                            <td><a href="#">소속변경에 따른 인사발령 공지</a></td>
                            <td class="text-center"><a href="#">이현주</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">15</td>
                        </tr>
                        <tr>
                            <td class="text-center">7</td>
                            <td class="text-center">그룹웨어</td>
                            <td><a href="#">카드영수증 / 카드지출결의 사용 안내</a></td>
                            <td class="text-center"><a href="#">김혜연</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">20</td>
                        </tr>
                        <tr>
                            <td class="text-center">6</td>
                            <td class="text-center">공지</td>
                            <td><a href="#">(참고자료) 오픈소스 및 Tool 목록</a></td>
                            <td class="text-center"><a href="#">황규정</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">11</td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td class="text-center">복지</td>
                            <td><a href="#">2020년도 건강검진 실시 안내</a></td>
                            <td class="text-center"><a href="#">남궁혜연</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">100</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td class="text-center">복지</td>
                            <td><a href="#">2020년 추석 선물 세트 신청 안내</a></td>
                            <td class="text-center"><a href="#">김혜연</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">20</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td class="text-center">발령</td>
                            <td><a href="#">소속변경에 따른 인사발령 공지</a></td>
                            <td class="text-center"><a href="#">이현주</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">15</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td class="text-center">그룹웨어</td>
                            <td><a href="#">카드영수증 / 카드지출결의 사용 안내</a></td>
                            <td class="text-center"><a href="#">김혜연</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">20</td>
                        </tr>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">공지</td>
                            <td><a href="#">(참고자료) 오픈소스 및 Tool 목록</a></td>
                            <td class="text-center"><a href="#">황규정</a></td>
                            <td class="text-center">2020-08-01</td>
                            <td class="text-center">11</td>
                        </tr>
                        <!--
                        실사용용
                        <tr><td colspan="5" align="center">데이터가 없습니다.</td></tr>

                    </c:when>
                    <c:when test="${!empty boardList}">
                        <c:forEach var="list" items="${boardList}">
                            <tr>
                                <td class="text-center"><c:out value="${list.bid}"/></td>
                                <td class="text-center"><c:out value="${list.category}"/></td>
                                <td><a href="#"><c:out value="${list.title}"/></a></td>
                                <td class="text-center"><a href="#"><c:out value="${list.reg_id}"/></a></td>
                                <td class="text-center"><c:out value="${list.view_cnt}"/></td>
                                <td class="text-center"><c:out value="${list.reg_dt}"/></td>
                            </tr>
                        </c:forEach>
                    </c:when>
                </c:choose>
                -->
            </tbody>
        </table>

        <!-- 글쓰기 -->
        <div>
             <button type="submit" class="btn btn-primary float-right">글쓰기</button>
		</div>

        <br/>

        <!-- 페이징 -->
        <div class="container">
            <ul class="pagination justify-content-center" style="margin:20px 0">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>

        <!-- 검색 div -->
    <!--    <div class="container">
            <div class="input-group justify-content-center">
                <div class="input-group-prepend">
                    <select class="btn btn-light">
                         <option value="#" selected>검색조건</option>
                         <option value="#">제목</option>
                         <option value="#">내용</option>
                         <option value="#">제목 + 내용</option>
                         <option value="#">작성자</option>
                    </select>
                </div>

                <div class="input-group-text w-25">
                    <input type="text" class="form-control" placeholder="검색어를 입력하세요.">
                </div>

                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">조회</button>
                </div>
            </div>
        </div>-->
        <div class="container">
            <div class="input-group">
                    <select class="input-group-prepend btn btn-light float-left">
                         <option value="#" selected="">검색조건</option>
                         <option value="#">제목</option>
                         <option value="#">내용</option>
                         <option value="#">제목 + 내용</option>
                         <option value="#">작성자</option>
                    </select>


                <!--<div class="input-group-text w-25">-->
                    <input type="text" class="form-control w-25" placeholder="검색어를 입력하세요.">
                <!--</div>-->

                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">조회</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}