<script type="text/javascript">
/* 메인 화면에서 받는 이메일 파라미터 */
var param = {
    "email"     : sessionStorage.getItem("email"),
}

/*********************************************************************
*   Dialog Setting
*********************************************************************/
var n_dialog = new ax5.ui.dialog();
var n_title =  '<span style="color:#fd7e14;font-size:20px;"><i class="fa fa-check-circle"></i></span> CHECK';

n_dialog.setConfig({
    title: n_title,
    theme : 'info',
    lang:{
        "ok": "확인", "cancel": "취소"
    }
});

$(document).ready(function(){
    var number= $('#hidden_selectNumber').val();
    console.log("==========> number" +number);
    $('#ans_Id').text(param.email);
    console.log("==========> param.email :"+param.email);
    getQnAnsw(number);

});

/* 원글 정보 데이터 가져오기 */
function getQnAnsw(number){
    var param = {
        "number" : number
    }

    /* 정보 조회 */
    $.ajaxCall( param, {
         'method' : 'GET',
         'url' : "{% url 'dili_api:questionAw' %}",
         'dataType' : 'json',
         'data' : JSON.stringify(param),
         'async' : false,
         'callbackFn' : function(data){
            // 로그
            console.log("data : ",data);
            // 리턴
            qnaAnswer(data);
         }
    });
}
var originNo;
var originDepth;
var originSort;
var originTitle;
var originContents;

/* 원글 정보 데이터 셋팅 */
function qnaAnswer(data){
        console.log("Start")
        console.log(data)
        console.log(typeof(data))

        originNo= data[0].QNA_ORIGIN_NO;
        originDepth = data[0].DATA_DEPTH;
        originSort = data[0].QNA_SORTS;

        var get_qnaNo = data[0].QNA_NO;
        var get_qnaTt = data[0].QNA_TITLE;
        var get_qnaCont = data[0].QNA_MAIN;
        originTitle = get_qnaTt;
        originContents = get_qnaCont;

        $('#ans_title').val(get_qnaTt);
        $('#ans_content').text(get_qnaCont);

};

/* 게시글(원글) 돌아가기 버튼 클릭 이벤트 */
function onClickBackBtn() {

    var number= $('#hidden_selectNumber').val();
    var url = "{% url 'dili_api:questionEditPop' %}" + "/?number=" +number ;
    $('#qnaDiv').load(url);

};

function onClickResetBtn() {
    $('#ans_title').val(originTitle);
    $('#ans_content').val(originContents);
};

/* 답변등록 버튼 클릭 이벤트 */
function onClickUpdateBtn() {

    var asWrID = $('#ans_Id').text();
    var asTitle = $('#ans_title').val();
    var asContents = $('#ans_content').val();
    var number= $('#hidden_selectNumber').val();


    var param = {
        "asWrID"     : asWrID,
        "asTitle"     : asTitle,
        "asContents" : asContents,
        "number"     : number
    }

    if( $('#ans_title').val() == "" || $('#ans_title').val() == null ){
        alertMsg("제목을 입력해 주세요.");
    } else if ($('#ans_content').val() == "" || $('#ans_content').val() == null){
        alertMsg("내용을 입력해 주세요.");
    } else {

        n_dialog.confirm('수정 하시겠습니까?',function(){
            if(this.key == 'ok'){       //확인클릭시
                $.ajaxCall( param, {
                    method:'POST',
                    url : "{% url 'dili_api:qnaUpdate' %}",
                    dataType:'json',
                    data:JSON.stringify(param),
                    callbackFn:function(data){
                        if(data){
                            // 리턴
                             url = "{% url 'dili_api:questionEditPop' %}" + "/?number=" +number ;
                             $('#grd_QnAListTable').load(url);
                             $('#closeBtn').click();
                             alertMsg("성공적으로 수정되었습니다.");
                             console.log("수정되었습니다..");

                            //sFlag = true;
                            //fileSave();
                        } else{
                            alertMsg("수정에 실패하였습니다.");
                            console.log("수정에 실패하였습니다.");
                            location.reload();
                        }
                    }
               });
            }else{     //취소클릭시
                alertMsg("취소하였습니다.");
                console.log("취소하였습니다.");
                //location.reload();
            }

        });
    }
};



</script>
<div class="row">
    <div class="col-sm-12">
        <div class="mb-4" role="alert">
            <h5>
                <b>Q&A 게시글 수정</b>
            </h5>
        </div>
        <center>
            <div id="grd_QnAAnsTable" style="overflow:auto;">
                <form method="post" id="answerQ" action="">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width:200px;text-align:center;">작성자ID</th>
                                <td><span id="ans_Id" name="ans_Id"></span></td>
                            </tr>
                            <tr>
                                <th style="width:200px;text-align:center;">제목</th>
                                <td><input type="text" id="ans_title" name="ans_title" style="width:100%;height:30px;" maxlength="495"></td>
                            </tr>
                            <tr>
                                <th style="width:200px;text-align:center;">내용</th>
                                <td>
                                    <textarea id="ans_content" name="ans_content" style="width:100%;height:300px;overflow-y:scroll;" placeholder="내용을 입력하세요" wrap="hard" maxlength="1000"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex-height mb-2" style="float:right;">
                        <button class="button" id="submitBtn" type="button" onclick="onClickUpdateBtn()">수정</button>
                        <button class="button" id="resetBtn" type="button" onclick="onClickResetBtn()">초기화</button>
                        <button class="button" id="closeBtn" type="button" onclick="onClickBackBtn()">취소</button>
                    </div>
                </form>
            </div>
        </center>
    </div>
</div>
