<script type="text/javascript">
$(document).ready(function(){
debugger;
    var number = $('#hidden_selectNumber').val();
    console.log("==========> number" +number);
    getEditQnaDetail(number);

});


function getEditQnaDetail(number){
    var param = {
        "number" : number
    }

    /* 정보 조회 */
    $.ajaxCall( param, {
         'method' : 'GET',
         'url' : "{% url 'dili_api:questiondetail' %}",
         'dataType' : 'json',
         'data' : JSON.stringify(param),
         'async' : false,
         'callbackFn' : function(data){
            // 로그
            console.log("data : ",data);
            // 리턴
            qnaDtSet(data);
         }
    });
}

function qnaDtSet(data){
        console.log("Start")
        console.log(data)
        console.log(typeof(data))

        var get_qnaNo = data[0].QNA_NO;
        var get_qnaTt = data[0].QNA_TITLE;
        var get_qnaCont = data[0].QNA_MAIN;
        var get_qnaWrNm = data[0].QNA_WR_NM;
        var get_qnaDt = data[0].QNA_RGS_DATE;
        var get_qnaRwNm = data[0].QNA_REWR_NM;
        var get_qnaRwDt = data[0].QNA_REWR_DATE;
        var get_qnaOpen = data[0].QNA_OPEN_YN;
        var get_qnaCnt = data[0].QNA_CNT;
        var get_qnaPw = data[0].PASSWD;
debugger;
        $('#ipt_qnatitle').text(get_qnaTt);
        $('#sbx_qnaContent').text(get_qnaCont);
        $('#ipt_wrNm').text(get_qnaWrNm);
        $('#ipt_wrDt').text(get_qnaDt);


};


/* 닫기 버튼 클릭 이벤트 */
function onClickCloseBtn() {
    var url = "{% url 'dili_api:question' %}" ;
    $('#testDiv').load(url);

};


</script>
<div style="width :450px;">
    <div class="flex-height d-flex m-0">
        <form method="post" id="submitEmp" action="">
            <table>
                <tr>
                    <td colspan="3" style="height:80px;font-size:200%"><h1><div id="ipt_qnatitle" name="ipt_qnatitle" readonly></div></h1></td>
                </tr>
                <tr>
                    <td><b><span id="ipt_wrNm"></span></b>&nbsp; <span id="ipt_wrDt"></span></td>
                    <td></td>
                    <td>조회수 <b>19</b></td>
                </tr>
                <tr>
                    <h2>
                        <td colspan="3" style="height:50px;font-size:100%"><div id="sbx_qnaContent" name="sbx_qnaContent" style="width:125px;"></div></td>
                    </h2>
                </tr>
                <!-- 버튼 -->
                <tr>
                    <td colspan="3">
                        <div class="flex-height mt-4" style="float:right;">
                            <button class="button" id="submitBtn" type="button" onclick="onClickSubmitBtn()">수정</button>
                            <button class="button" id="deleteBtn" type="button" onclick="onClickDeleteBtn()">삭제</button>
                            <button class="button" id="closeBtn" type="button" onclick="onClickCloseBtn()" >닫기</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>