<script type="text/javascript">

/* 메인 화면에서 받는 이메일 파라미터 */
var param = {
    "email"     : sessionStorage.getItem("email"),
}

/*********************************************************************
*   Dialog Setting
*********************************************************************/
var n_dialog = new ax5.ui.dialog();
var n_title =  '<span style="color:#fd7e14;font-size:20px;"><i class="fa fa-check-circle"></i></span> CHECK';

n_dialog.setConfig({
    title: n_title,
    theme : 'info',
    lang:{
        "ok": "확인", "cancel": "취소"
    }
});

$(document).ready(function(){
    $('#qs_wn').text(param.email);

});


/* 등록버튼 클릭 이벤트 */
function onClickSubmitBtn() {
    var ipt_wrId = $('[name="qs_wn"]').val();
    var ipt_qnatitle = $('[name="qs_title"]').val();
    var sbx_qnaContent = $('[name="qs_content"]').val();

    var param = {
        "ipt_wrId"     : ipt_wrId,
        "ipt_qnatitle"     : ipt_qnatitle,
        "sbx_qnaContent" : sbx_qnaContent,
        "sessionId"         : sessionStorage.getItem("email")      //로그인한 사용자 아이디
    }

    /* 유효성 검증 */
    if( $('[name="qs_title"]').val() == "" || $('[name="qs_title"]').val() == null ){
        alertMsg("제목을 입력해 주세요.");

    } else if ($('[name="qs_content"]').val() == "" || $('[name="qs_content"]').val() == null){
        alertMsg("내용을 입력해 주세요.");

    } else {
       n_dialog.confirm('등록하시겠습니까?',function(){
                if(this.key == 'ok'){       //확인클릭시
                    $.ajaxCall( param, {
                        method:'POST',
                        url : "{% url 'dili_api:questionWr' %}",
                        dataType:'json',
                        data:JSON.stringify(param),
                        callbackFn:function(data){
                            if(data){
                                // 리턴
                                 url = "{% url 'dili_api:question' %}";
                                 $('#grd_QnAListTable').load(url);
                                 $('#closeBtn').click();
                                 alertMsg("성공적으로 등록되었습니다.");
                                 console.log("등록되었습니다.");

                            } else{
                                alertMsg("등록에 실패하였습니다.");
                                console.log("등록에 실패하였습니다.");
                                location.reload();
                            }
                        }
                   });
                }else{     //취소클릭시
                    alertMsg("취소하였습니다.");
                    console.log("취소하였습니다.");
                }

            });
        }

};

/* 초기화 버튼 클릭 이벤트 */
function onClickResetBtn() {
debugger;
    $('#qs_title').val("");
    $('#qs_content').val("");
};


/* 목록 버튼 클릭 이벤트 */
function onClickCloseBtn() {
    var url = "{% url 'dili_api:question' %}" ;
    $('#testDiv').load(url);

};

</script>

<div class="row">
    <div class="col-sm-12">
        <div class="mb-4" role="alert">
            <h5>
                <b>Q&A 등록</b>
            </h5>
        </div>
        <center>
            <div id="grd_QnARegTable" style="overflow:auto;">
                <form method="post" id="submitEmp" action="">
                    <div >
                        <span class="requiredText" style="float:left;margin-top:20px;"><b>* 는 필수 입력 항목입니다.</b></span>
                        <span class="flex-height mb-2" style="float:right;">
                            <button class="button" id="closeBtn" type="button" onclick="onClickCloseBtn()" >목록</button>
                        </span>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width:200px;text-align:center;">작성자ID</th>
                                <td><span id="qs_wn" name="qs_wn"></span></td>
                            </tr>
                            <tr>
                                <th style="width:200px;text-align:center;"><span class="requiredTag mr-1">*</span>제목</th>
                                <td><input type="text" id="qs_title" name="qs_title" style="width:100%;height:30px;" maxlength="495" placeholder="제목을 입력하세요"></td>
                            </tr>
                            <tr>
                                <th style="width:200px;text-align:center;"><span class="requiredTag mr-1">*</span>내용</th>
                                <td>
                                    <textarea  id="qs_content" name="qs_content" style="width:100%;height:300px;overflow-y:scroll;" placeholder="내용을 입력하세요" wrap="hard" maxlength="1000"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex-height mb-2" style="float:right;">
                        <button class="button" id="submitBtn" type="button" onclick="onClickSubmitBtn()">등록</button>
                        <button class="button" id="resetBtn" type="button" onclick="onClickResetBtn()">초기화</button>
                    </div>
                </form>
            </div>
        </center>
    </div>
</div>