<script type="text/javascript">

/* 메인 화면에서 받는 이메일, 권한 파라미터 */
var param = {
    "name" : '',
    "email" : sessionStorage.getItem("email"),
    "authId" : sessionStorage.getItem("authId")
}

/* 게시글 조회해온 데이터 저장 변수 (for 페이징) */
var dataList;

$(document).ready(function(){

    /* 전체 게시글 조회 */
    $.ajaxCall( param, {
         'method' : 'GET',
         'url' : "{% url 'dili_api:getquestionInfo' %}",
         'dataType' : 'json',
         'data' : JSON.stringify(param),
         'async' : false,
         'callbackFn' : function(data){
            // 로그
            //console.log("data : ",data)
            // 리턴
            pagingSet(data);
         }
    });

    /* 검색 엔터키 이벤트 */
    $('#ipt_searchQna').keydown(function(e){
        //엔터키 입력 + 이름컬럼에 값이 있는 경우.
        if ( e.keyCode == 13 && $('#ipt_searchQna').val() != 'undefined' ) {
            var option = $('#searchOption').val();
            var keyword = $('#ipt_searchQna').val();

            var param = {
                "option" : option,
                "keyword" : keyword
            }

            /* 검색 후 데이터 배열로 변환해서 리턴 */
            $.ajaxCall( param, {
                 'method' : 'GET',
                 'url' : "{% url 'dili_api:qnaSearch' %}",
                 'dataType' : 'json',
                 'data' : JSON.stringify(param),
                 'async' : false,
                 'callbackFn' : function(data){
                    var dataArr = JSON.parse(data)
                    // 로그
                    console.log("dataArr : ",dataArr)
                    // 리턴
                    pagingSet(dataArr);
                 }
            });
        }
    });

});

/* 검색버튼 이벤트 */
function onclickSearch(){
    var option = $('#searchOption').val();
    var keyword = $('#ipt_searchQna').val();

    var param = {
        "option" : option,
        "keyword" : keyword
    }

    /* 검색 후 데이터 배열로 변환해서 리턴 */
    $.ajaxCall( param, {
         'method' : 'GET',
         'url' : "{% url 'dili_api:qnaSearch' %}",
         'dataType' : 'json',
         'data' : JSON.stringify(param),
         'async' : false,
         'callbackFn' : function(data){
            var dataArr = JSON.parse(data)
            // 로그
            console.log("dataArr : ",dataArr)
            // 리턴
            pagingSet(dataArr);
         }
    });

};

/* 가져온 data를 페이징 처리 없이 그리드에 그려주는 함수 (현재 미사용)*/
function QnAListGrd(data){

    var size = data.length;
    var QnAListTable = '<table class="table table-bordered text-center">';
    QnAListTable += '<thead>';
    QnAListTable += '<tr>';
    QnAListTable += '<th class="text-center">NO</th>';
    QnAListTable += '<th class="text-center">제목</th>';
    QnAListTable += '<th class="text-center">작성자</th>';
    QnAListTable += '<th class="text-center">작성일시</th>';
    QnAListTable += '</tr>';
    QnAListTable += '</thead>';
    QnAListTable += '<tbody>';

    console.log("Start")
    console.log(data)
    console.log(typeof(data))

    if(data.length > 0) {
        for(var i = 0; i < size; i++){


            QnAListTable += '<tr id ="grd_QnAList")>';
            QnAListTable += '<td id="qnaOrNo" class="pt-3-half">'+(i+1)+'</td>';
            if(data[i].QNA_DEL_YN == 'Y'){
                QnAListTable += '<td id="qnaTitle" class="pt-3-half" style="text-align:left;color:grey;" >';
                for(var j = 0; j < data[i].DATA_DEPTH; j++){
                    QnAListTable += "　　";
                }

                if(data[i].QNA_SORTS != 0){
                    QnAListTable += "↳　";
                }
                QnAListTable += '<span style="text-decoration:line-through;">삭제 된 답변입니다.</span></td>';
            }else{
                QnAListTable += '<td id="qnaTitle" onclick="onClickEvt(\''+data[i].QNA_NO+'\')" class="pt-3-half" style="text-align:left;">';


                for(var j = 0; j < data[i].DATA_DEPTH; j++){
                    QnAListTable += "　　";
                }

                if(data[i].QNA_SORTS != 0){
                    QnAListTable += "↳　";
                }
                QnAListTable += data[i].QNA_TITLE+'</td>';

             }
            QnAListTable += '<td id="qnaWrt" class="pt-3-half" width="300">'+data[i].QNA_WR_NM+'</td>';
            QnAListTable += '<td id="qnaRgd" class="pt-3-half" width="200">'+data[i].QNA_RGS_DATE+'</td>';
            QnAListTable += '</tr>';

        }
    }


    QnAListTable += '</tbody>';
    QnAListTable += '</table>';


    document.getElementById('grd_QnAListTable').innerHTML = QnAListTable;

    $("#ipt_searchName").click(function(){
        $('[name="ipt_searchName"]').val("");
    });
};

/* 그리드 제목 클릭 시 해당 게시글 상세페이지로 이동 함수 */
function onClickEvt(i) {

    var number = i;
    $('#hidden_selectNumber').val(number);

    var url = "{% url 'dili_api:questionEditPop' %}" + "/?number=" +number ;

    $('#qnaDiv').load(url);

};
function onClickNO(){
    alertMsg("해당 게시글에 권한이 없습니다.\n 게시글은 본인만 확인 가능합니다.");
}

/* 게시글 등록 페이지 이동 함수 */
function onclickNewQna() {

    var url = "{% url 'dili_api:questionWrPop' %}";

    $('#qnaDiv').load(url);

};

/* 페이징처리된 번호 클릭시 해당 페이지로 이동 함수 */
function onClickPage(num){

    paging2(dataList, num);
}

/* 게시글 조회, 검색 후 가져온 데이터를 변수에 저장하고 페이징 처리해주는 함수 */
function pagingSet(data){
    dataList = data;
    paging2(data, 1);

}



/* 데이터를 현재 페이지 기준으로 그리드에 데이터 그려주고 페이징 처리해주는 함수*/
function paging(data, currentPage){

    var numberPerPage = 10; //한페이지당 게시글 수
    var pagePerLine = 10; //한 라인당 페이지 수

    var totalData = data.length; //조회결과 데이터 수
    var totalPage = Math.ceil(totalData/numberPerPage); // 전체 페이지 수
    var totalLine = Math.ceil(totalPage/pagePerLine); // 전체 라인 수


    var first = parseInt(currentPage/pagePerLine); // 이전 라인 ◀◀
    if(currentPage%pagePerLine == 0){ first--;}
    var last = first+2; // 다음 라인 ▶▶

    var next = currentPage+1; // 다음 페이지 ▶
    var prev = currentPage-1; // 이전 페이지 ◀

    // 테이블 생성 HTML 코드
    var QnAListTable = '<table class="table table-bordered text-center">';
    QnAListTable += '<thead>';
    QnAListTable += '<tr>';
    QnAListTable += '<th class="text-center">NO</th>';
    QnAListTable += '<th class="text-center">제목</th>';
    QnAListTable += '<th class="text-center">작성자</th>';
    QnAListTable += '<th class="text-center">작성일시</th>';
    QnAListTable += '</tr>';
    QnAListTable += '</thead>';
    QnAListTable += '<tbody>';

    var pageStNo = 10*(currentPage-1);
    var pageEdNo = (currentPage*10)-1;

    if( (totalData-1) < pageEdNo){ pageEdNo = (totalData-1);}

    for(var i = pageStNo; i <= pageEdNo; i++){

        QnAListTable += '<tr id ="grd_QnAList")>';
        QnAListTable += '<td id="qnaOrNo" class="pt-3-half" style="width:110px;">'+(i+1)+'</td>';

        if(data[i].QNA_DEL_YN == 'Y'){
            QnAListTable += '<td id="qnaTitle" class="pt-3-half" style="text-align:left;color:grey;" >';
            for(var j = 0; j < data[i].DATA_DEPTH; j++){
                QnAListTable += "　　";
            }

            if(data[i].QNA_SORTS != 0){
                QnAListTable += "↳　";
            }
            QnAListTable += '<span style="text-decoration:line-through;">삭제된 게시글 입니다.</span></td>';
        }else{
            QnAListTable += '<td id="qnaTitle" onclick="onClickEvt(\''+data[i].QNA_NO+'\')" class="pt-3-half" style="text-align:left;">';


            for(var j = 0; j < data[i].DATA_DEPTH; j++){
                QnAListTable += "　　";
            }

            if(data[i].QNA_SORTS != 0){
                QnAListTable += "↳　";
            }
            QnAListTable += data[i].QNA_TITLE+'</td>';

         }

        QnAListTable += '<td id="qnaWrt" class="pt-3-half" width="300">'+data[i].QNA_WR_NM+'</td>';
        QnAListTable += '<td id="qnaRgd" class="pt-3-half" width="200">'+data[i].QNA_RGS_DATE+'</td>';
        QnAListTable += '</tr>';
    }
    if((pageEdNo - pageStNo) < 9){
        for(var i = 9; i > (pageEdNo - pageStNo); i--){
            QnAListTable += '<tr><td class="pt-3-half"></td><td>　</td><td></td><td></td></tr>';

        }
    }
    QnAListTable += '</tbody>';
    QnAListTable += '</table>';

    // 해당 위치에 QnAListTable HTML 코드 입력
    document.getElementById('grd_QnAListTable').innerHTML = QnAListTable;

    // 페이징 생성 HTML 코드
    var QnaPaging = "";

    if(currentPage > 10){
        QnaPaging += "<a id='pg_pPrev' onclick='onClickPage("+(((first-1)*10)+1)+")' style='color:black;cursor:pointer;'>◀◀</a>";
    }
    if(currentPage > 1){
        QnaPaging += "<a id='pg_prev' onclick='onClickPage("+prev+")' style='color:black;padding-left:5px;cursor:pointer;'>◀</a>";
    }

    var tagStNo = (first*10)+1;
    var tagEdNo = (last -1)*10;
    if( totalPage < tagEdNo){ tagEdNo = totalPage;}
    for(var i=tagStNo; i <= tagEdNo; i++){
        if( i == currentPage){
            QnaPaging += "<a href='#' id='pg_"+i+"' style='font-weight:bold;color:red;padding-left:5px;'> "+i+" </a>";

        }else{
            QnaPaging += "<a id='pg_"+i+"' onclick='onClickPage("+i+")' style='color:black;padding-left:5px;cursor:pointer;'> "+i+" </a>";
        }

    }
    if(currentPage < totalPage){
        QnaPaging += "<a id='pg_next' onclick='onClickPage("+next+")' style='color:black;padding-left:5px;cursor:pointer;'> ▶ </a>";
    }

    if(totalLine != 0 && (last-1) < totalLine){
        QnaPaging += "<a id='pg_nNext' onclick='onClickPage("+(((last-1)*10)+1)+")'  style='color:black;padding-left:5px;cursor:pointer;'> ▶▶ </a>";
    }

    // 해당 위치에 QnaPaging HTML 코드 입력
    document.getElementById('pagination').innerHTML = QnaPaging;

};


/* 데이터를 현재 페이지 기준으로 그리드에 데이터 그려주고 페이징 처리해주는 함수___ 임시로 본인이 쓴글만 확인하도록 만든 임시사용 함수입니다 */
function paging2(data, currentPage){

    var numberPerPage = 10; //한페이지당 게시글 수
    var pagePerLine = 10; //한 라인당 페이지 수

    var totalData = data.length; //조회결과 데이터 수
    var totalPage = Math.ceil(totalData/numberPerPage); // 전체 페이지 수
    var totalLine = Math.ceil(totalPage/pagePerLine); // 전체 라인 수

    /* 권한설정까지 셋팅 */
    var isAdmin = checkEmpAuthByEmail(sessionStorage.getItem("email"), "ADMIN");
    var sessionID = sessionStorage.getItem("email");

    var first = parseInt(currentPage/pagePerLine); // 이전 라인 ◀◀
    if(currentPage%pagePerLine == 0){ first--;}
    var last = first+2; // 다음 라인 ▶▶

    var next = currentPage+1; // 다음 페이지 ▶
    var prev = currentPage-1; // 이전 페이지 ◀

    // 테이블 생성 HTML 코드
    var QnAListTable = '<table class="table table-bordered text-center">';
    QnAListTable += '<thead>';
    QnAListTable += '<tr>';
    QnAListTable += '<th class="text-center">NO</th>';
    QnAListTable += '<th class="text-center">제목</th>';
    QnAListTable += '<th class="text-center">작성자</th>';
    QnAListTable += '<th class="text-center">작성일시</th>';
    QnAListTable += '</tr>';
    QnAListTable += '</thead>';
    QnAListTable += '<tbody>';

    var pageStNo = 10*(currentPage-1);
    var pageEdNo = (currentPage*10)-1;

    if( (totalData-1) < pageEdNo){ pageEdNo = (totalData-1);}

    for(var i = pageStNo; i <= pageEdNo; i++){

        QnAListTable += '<tr id ="grd_QnAList")>';
        QnAListTable += '<td id="qnaOrNo" class="pt-3-half" style="width:110px;">'+(i+1)+'</td>';
        if(sessionID == data[i].ORIGIN_WR  || isAdmin ){
                if(data[i].QNA_DEL_YN == 'Y'){
                    QnAListTable += '<td id="qnaTitle" class="pt-3-half" style="text-align:left;color:grey;" >';
                    for(var j = 0; j < data[i].DATA_DEPTH; j++){
                        QnAListTable += "　　";
                    }

                    if(data[i].QNA_SORTS != 0){
                        QnAListTable += "↳　";
                    }
                    QnAListTable += '<span style="text-decoration:line-through;">삭제된 게시글 입니다.</span></td>';
                }else{
                    QnAListTable += '<td id="qnaTitle" onclick="onClickEvt(\''+data[i].QNA_NO+'\')" class="pt-3-half" style="text-align:left;">';


                    for(var j = 0; j < data[i].DATA_DEPTH; j++){
                        QnAListTable += "　　";
                    }

                    if(data[i].QNA_SORTS != 0){
                        QnAListTable += "↳　";
                    }
                    QnAListTable += data[i].QNA_TITLE+'</td>';

                 }
        }else{
                if(data[i].QNA_DEL_YN == 'Y'){
                    QnAListTable += '<td id="qnaTitle" class="pt-3-half" style="text-align:left;color:grey;" >';
                    for(var j = 0; j < data[i].DATA_DEPTH; j++){
                        QnAListTable += "　　";
                    }

                    if(data[i].QNA_SORTS != 0){
                        QnAListTable += "↳　";
                    }
                    QnAListTable += '<span style="text-decoration:line-through;">삭제된 게시글 입니다.</span></td>';
                }else{
                    QnAListTable += '<td id="qnaTitle" onclick="onClickNO()" class="pt-3-half" style="text-align:left;">';


                    for(var j = 0; j < data[i].DATA_DEPTH; j++){
                        QnAListTable += "　　";
                    }

                    if(data[i].QNA_SORTS != 0){
                        QnAListTable += "↳　";
                    }
                    QnAListTable += data[i].QNA_TITLE+ '&nbsp; 🔒 </td>';

                 }
        }
        QnAListTable += '<td id="qnaWrt" class="pt-3-half" width="300">'+data[i].QNA_WR_NM+'('+maskingNm(data[i].EMP_NAME)+')</td>';
        QnAListTable += '<td id="qnaRgd" class="pt-3-half" width="200">'+data[i].QNA_RGS_DATE+'</td>';
        QnAListTable += '</tr>';
    }
    if((pageEdNo - pageStNo) < 9){
        for(var i = 9; i > (pageEdNo - pageStNo); i--){
            QnAListTable += '<tr><td class="pt-3-half"></td><td>　</td><td></td><td></td></tr>';

        }
    }
    QnAListTable += '</tbody>';
    QnAListTable += '</table>';

    // 해당 위치에 QnAListTable HTML 코드 입력
    document.getElementById('grd_QnAListTable').innerHTML = QnAListTable;

    // 페이징 생성 HTML 코드
    var QnaPaging = "";

    if(currentPage > 10){
        QnaPaging += "<a id='pg_pPrev' onclick='onClickPage("+(((first-1)*10)+1)+")' style='color:black;cursor:pointer;'>◀◀</a>";
    }
    if(currentPage > 1){
        QnaPaging += "<a id='pg_prev' onclick='onClickPage("+prev+")' style='color:black;padding-left:5px;cursor:pointer;'>◀</a>";
    }

    var tagStNo = (first*10)+1;
    var tagEdNo = (last -1)*10;
    if( totalPage < tagEdNo){ tagEdNo = totalPage;}
    for(var i=tagStNo; i <= tagEdNo; i++){
        if( i == currentPage){
            QnaPaging += "<a href='#' id='pg_"+i+"' style='font-weight:bold;color:red;padding-left:5px;'> "+i+" </a>";

        }else{
            QnaPaging += "<a id='pg_"+i+"' onclick='onClickPage("+i+")' style='color:black;padding-left:5px;cursor:pointer;'> "+i+" </a>";
        }

    }
    if(currentPage < totalPage){
        QnaPaging += "<a id='pg_next' onclick='onClickPage("+next+")' style='color:black;padding-left:5px;cursor:pointer;'> ▶ </a>";
    }

    if(totalLine != 0 && (last-1) < totalLine){
        QnaPaging += "<a id='pg_nNext' onclick='onClickPage("+(((last-1)*10)+1)+")'  style='color:black;padding-left:5px;cursor:pointer;'> ▶▶ </a>";
    }

    // 해당 위치에 QnaPaging HTML 코드 입력
    document.getElementById('pagination').innerHTML = QnaPaging;

};

/* 이름 마스킹처리 */
function maskingNm(strName){
    return strName.substr(0, 1) + "*" + strName.substr(1+"*".length);

}

</script>
    <input type="text" class="form-control" id="hidden_selectNumber" name="hidden_selectNumber" maxlength="30" readonly hidden/>

<div id="qnaDiv">

<!-- Modal Div -->
<div id="qnaModalDiv" class="modalUi">
    <div id="qnaModal">
    </div>
    <a class="modal_close_btn" id="exitqnaModalBtn">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path fill-rule="evenodd" d="
           M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
           <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </a>
</div>




                    <!-- Modal body -->
<div class="row">
    <div class="col-sm-12">
        <div class="mb-4" role="alert">
            <h5>
                <b>Q&A</b>
            </h5>
        </div>
        <div class="accordion mb-4" id="grp_search">
            <div class="card">
                <div class="card-header p-0" id="head_search">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_search" aria-expanded="true" aria-controls="collapseOne">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            Q&A 검색
                        </button>
                    </h2>
                </div>
                <div id="col_search" class="collapse show" aria-labelledby="head_search" data-parent="#grp_search">
                    <div class="card-body flex-height d-flex m-0 p-2">
                        <div class="align-self-center mr-3">
                            <select id="searchOption" class="form-control" name="searchOption">
                                <option value = "00" selected>제목</option>
                                <option value = "01">내용</option>
                                <option value = "02">제목+내용</option>
                                <option value = "03">작성자</option>
                            </select>
                        </div>
                        <div class="align-self-center mr-3">
                            <input type="text" class="form-control" id="ipt_searchQna" name="ipt_searchQna" placeholder="검색어를 입력해주세요"/>
                        </div>
                        <div class="align-self-center mr-3">
                            <button class="button" id="searchBtn" onclick="onclickSearch()"  type="button">조회</button>
                        </div>
                        <div class="align-self-end align-self-center mr-3">
                            <button class="button" id="questionWrBtn" onclick="onclickNewQna()" type="button">글쓰기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
<!-- 게시글 목록 Div -->
    <center>
        <div id="grd_QnAListTable" style="overflow:auto; height:600px;"></div>
        <div id="pagination" style="margin-bottom:30px;"></div>
    </center>

</div>