
{% load static %}

        <script type="text/javascript">
        $(document).ready(function(){
            <!--    공통코드 조회    -->
            <!--    1. 부서    -->
            retrieveCmmCd('SLIN_BZDP',settingSlinBzdp);
            retrieveCmmCd('BSIS_YEAR',settingBaseYear);

            if(sessionStorage.getItem("authId") != "ADMIN") {
                $("#ipt_searchOcemName").val(sessionStorage.getItem("email"));
            }

             //현재 날짜 가져오기
            var today = new Date();
            var year = today.getFullYear(); // 년도
            var month = today.getMonth();  // 월 (today.getMonth()는 0~11로 출력)
            var date = today.getDate();  // 날짜
            var day = today.getDay();  // 요일 (0~6으로 출력, 0:일요일, 1:월요일, 6:토요일)

            <!--    공통코드 함수    -->
            function retrieveCmmCd(grp_id, callBackFunc){
                var param = {
                    "grp_id" : grp_id
                }

                var url = "{% url 'dili_api:retrieveCmmCd' %}";
                submissionCallMap(param,'GET',url,callBackFunc);


            };

            function settingSlinBzdp(data){
                 var deptList = '';
                //deptList += '<option value="00">전체</option>'

                if(data.length > 0) {
                    for(var i=0; i < data.length; i++){
                        deptList += '<option value="'+data[i].CMM_CD+'">'+ data[i].CMM_CD_NAME +'</option>'
                    }
                }

                document.getElementById('sbx_dept').innerHTML = deptList;

                if (sessionStorage.getItem("deptCd") == "01") {
                    $("#sbx_dept option:eq(01)").attr("selected", "selected");
                } else if (sessionStorage.getItem("deptCd") == "02") {
                    $("#sbx_dept option:eq(02)").attr("selected", "selected");
                } else if (sessionStorage.getItem("deptCd") == "03") {
                    $("#sbx_dept option:eq(03)").attr("selected", "selected");
                } else if (sessionStorage.getItem("deptCd") == "04") {
                    $("#sbx_dept option:eq(04)").attr("selected", "selected");
                } else if (sessionStorage.getItem("deptCd") == "05") {
                    $("#sbx_dept option:eq(05)").attr("selected", "selected");
                } else if (sessionStorage.getItem("deptCd") == "06") {
                    $("#sbx_dept option:eq(06)").attr("selected", "selected");
                } else {
                    $("#sbx_dept option:eq(00)").attr("selected", "selected");
                }
            }

            function settingBaseYear(data){
                var wrkDtYy = '';
                if(data.length > 0) {
                    for(var i=0; i < data.length; i++){
                        wrkDtYy += '<option value="'+data[i].CMM_CD+'">'+ data[i].CMM_CD_NAME +'</option>'
                    }
                }

                document.getElementById('sbx_wrkDtYy').innerHTML = wrkDtYy;
                $("#sbx_wrkDtYy").val(year);
                $("#sbx_wrkDtMm").val(month+1);

                <!-- 근무현황(종합) 상세화면일때 해당 직원정보(이름, 이메일, 부서) 셋팅함수 호출-->
                if(sessionStorage.getItem("authId") == "ADMIN") {
                    if($('#hidden_selectDt').val() != undefined){
                        var selectDt = $('#hidden_selectDt').val();
                        var selectDept = $('#hidden_selectDept').val();
                        var selectName = $('#hidden_selectName').val();
                        var selectEmail = $('#hidden_selectEmail').val();

                        getSelectedInfo(selectDt, selectDept, selectName, selectEmail);

                    }
                }

            }

            var userEmail = sessionStorage.getItem("email");
            if( userEmail == "jsshin"
             || userEmail == "hjulee"
             || userEmail == "ywlee") {
                $('#wrkTimeConfirm').css("display", '');
                $('#wrkTimeGen').css("display", '');
            } else {
                $('#wrkTimeConfirm').css("display", 'none');
                $('#wrkTimeGen').css("display", 'none');
            }

            // 성명 삭제 버튼 클릭 이벤트
            $('#btn_delApvlSearchName').click(function(){
                $('#ipt_searchOcemName').val('');
                $('#ipt_searchOcemEmail').val('');
                $('#ipt_searchOcemNamePop').val('');
                $('#ipt_searchOcemEmailPop').val('');
            });


         });


        $("#searchBtn").click(function(){

            /*********************************************************************
            *   Session Email 값 기준 근무 결재요청 리스트 조회
            *********************************************************************/
            var monthChk;
            if($('#sbx_wrkDtMm').val().length == 1){
                monthChk = "0"+$('#sbx_wrkDtMm').val();
            } else {
                monthChk = $('#sbx_wrkDtMm').val();
            }
            var setMDt = $('#sbx_wrkDtYy').val() + "-" + monthChk;

            var param = {
                "dept" : $("#sbx_dept").val(),
                "email" : $("#ipt_searchOcemEmail").val(),
                "wrkDivs" : $("#sbx_wrkKind").val(),
                "apvlStus" : $("#sbx_apvlStatus").val(),
                "wrkDt" : setMDt
            }

            var url = "{% url 'dili_api:getScheduleStatLst' %}";
            submissionCallMap(param,'GET',url,scheduleStatLst);


        });

        $("#excelDownBtn").click(function(){
            fnExcelReport('selData', '근무현황관리');
        });

        /* 근무시간확정 버튼 클릭 */
        $("#wrkTimeConfirm").click(function(){
            var gridCnt = $('#ipt_gridCnt').val();

            var deptCd   = $("#sbx_dept").val();
            var deptNm   = $("#sbx_dept option:checked").text();
            var email    = $("#ipt_searchOcemEmail").val();
            var emailNm  = $("#ipt_searchOcemName").val();
            var wrkDivs  = $("#sbx_wrkKind").val();
            var apvlStus = $("#sbx_apvlStatus").val();

            console.log( " gridCnt : "+gridCnt);
            if(gridCnt < 1) {
                alertMsg('근무시간 확정 대상을 조회하십시오.');
                return false;
            }
            var strTh1AprvNm = sessionStorage.getItem("email");
            var monthChk;
            if($('#sbx_wrkDtMm').val().length == 1){
                monthChk = "0"+$('#sbx_wrkDtMm').val();
            } else {
                monthChk = $('#sbx_wrkDtMm').val();
            }
            var setMDt = $('#sbx_wrkDtYy').val() + "-" + monthChk;
            console.log("deptCd : "+deptCd + ", email : " + email+", monthChk : "+monthChk);
            if(deptCd == "00" && email == ""){
                cf_dialog.confirm('['+monthChk+']월 전체 인원의 근무시간을 확정하시겠습니까?', function(){
                    if(this.key == 'ok') {
                        fnWrkTimeSave(deptCd, email, wrkDivs, apvlStus, strTh1AprvNm, setMDt);
                    }
                });
            }else if(deptCd != "00" && email == ""){
                cf_dialog.confirm('['+deptNm+'] 부서의 '+monthChk+'월 근무시간을 확정하시겠습니까?', function(){
                    if(this.key == 'ok') {
                        fnWrkTimeSave(deptCd, email, wrkDivs, apvlStus, strTh1AprvNm, setMDt);
                    }
                });
            }else if(email != ""){
                cf_dialog.confirm('['+emailNm+'] 직원의 '+monthChk+'월 근무시간을 확정하시겠습니까?', function(){
                    if(this.key == 'ok') {
                        fnWrkTimeSave(deptCd, email, wrkDivs, apvlStus, strTh1AprvNm, setMDt);
                    }
                });
            }
        });

        function fnWrkTimeSave(deptCd, email, wrkDivs, apvlStus, strTh1AprvNm, setMDt){
            var param = {
                "dept" : deptCd,
                "email" : email,
                "wrkDivs" : wrkDivs,
                "apvlStus" : apvlStus,
                "th1AprvNm" : strTh1AprvNm,
                "wrkDt" : setMDt
            }
            $.ajaxCall( param, {
                 'method'           : 'POST',
                 'url'              : "{% url 'dili_api:saveWrkTimeConfirm' %}",
                 'dataType'         : 'json',
                 'data'             : JSON.stringify(param),
                 'async'            : false,
                 'callbackFn'       : function(data){
                    alertMsg('근무시간이 확정 되었습니다.');
                    $("#searchBtn").click();
                 }
            });
        }

        /* 근무시간생성 버튼 클릭 */
        $("#wrkTimeGen").click(function(){
            var today = new Date();
            var todayMon = (today.getMonth()+1);

            var deptCd   = $("#sbx_dept").val();
            var deptNm   = $("#sbx_dept option:checked").text();
            var email    = $("#ipt_searchOcemEmail").val();
            var emailNm  = $("#ipt_searchOcemName").val();
            var wrkDivs  = $("#sbx_wrkKind").val();
            var apvlStus = $("#sbx_apvlStatus").val();

            var strTh1AprvNm = sessionStorage.getItem("email");
            var monthChk;

            if(todayMon.length == 1){
                todayMon = "0"+todayMon;
            }

            if($('#sbx_wrkDtMm').val().length == 1){
                monthChk = "0"+$('#sbx_wrkDtMm').val();
            } else {
                monthChk = $('#sbx_wrkDtMm').val();
            }
            var setMDt = $('#sbx_wrkDtYy').val() + "-" + monthChk;
            console.log("deptCd : "+deptCd + ", email : " + email+", monthChk : "+monthChk);
            console.log("monthChk : "+monthChk+", todayMon : "+todayMon);


            if(monthChk < todayMon){
                alertMsg('이번달 이후 데이터만 생성 가능합니다.');
                return false;
            }

            cf_dialog.confirm('['+monthChk+']월 근무시간을 생성하시겠습니까?\n기등록된 데이터는 삭제됩니다.', function(){
                if(this.key == 'ok') {
                    fnWrkTimeGen(setMDt);
                }
            });
        });

        function fnWrkTimeGen(setMDt){
            var param = {
                "wrkDt" : setMDt
            }
            $.ajaxCall( param, {
                 'method'           : 'POST',
                 'url'              : "{% url 'dili_api:saveWrkTimeGen' %}",
                 'dataType'         : 'json',
                 'data'             : JSON.stringify(param),
                 'async'            : false,
                 'callbackFn'       : function(data){
                    alertMsg('근무시간이 생성 되었습니다.');
                    $("#searchBtn").click();
                 }
            });
        }

        function fnExcelReport(id, title) {
            var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
            tab_text = tab_text + '<head><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">';
            tab_text = tab_text + '<xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>'
            tab_text = tab_text + '<x:Name>근무현황관리</x:Name>';
            tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
            tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
            tab_text = tab_text + "<table border='1px'>";

            var exportTable = $('#' + id).clone();
            exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
            tab_text = tab_text + exportTable.html();
            tab_text = tab_text + '</table></body></html>';
            var data_type = 'data:application/vnd.ms-excel';
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");
            var fileName = title + '.xls';

            //Explorer 환경에서 다운로드
            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                if (window.navigator.msSaveBlob) {
                    var blob = new Blob([tab_text], {
                    type: "application/csv;charset=utf-8;"
                });
                navigator.msSaveBlob(blob, fileName);
                }
            } else {
                var blob2 = new Blob([tab_text], {
                type: "application/csv;charset=utf-8;"
            });

            var filename = fileName;
            var elem = window.document.createElement('a');
            elem.href = window.URL.createObjectURL(blob2);
            elem.download = filename;
            document.body.appendChild(elem);
            elem.click();
            document.body.removeChild(elem);
            }
        }

        function scheduleStatLst(data) {

            var scheduleStatLstTable = '<table class="table table-bordered text-center" id="selData">';// custom-table : 헤더 고정하기 위하여 사용
            scheduleStatLstTable += '<thead>';
            scheduleStatLstTable += '<tr>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">순번</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">부서</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">성명</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">일자(요일)</th>';
            //scheduleStatLstTable += '<th class="text-center fixedHeader">근무구분</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">시작시간</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">종료시간</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">기본근무시간</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">휴게</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">연장</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">야간</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">주휴</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">연차</th>';
            scheduleStatLstTable += '<th class="text-center fixedHeader">승인상태</th>';
            scheduleStatLstTable += '</tr>';
            scheduleStatLstTable += '</thead>';
            scheduleStatLstTable += '<tbody>';

            var nghtWrkYn = 0; //연장
            var nghtSftYn = 0; //야간
            var hldyWrkYn = 0; //주휴
            var allWrkTm = 0; //총근무시간
            var tmpSumTotalWkrTm = 0;
            var tmpSumTotalnghtWrkTm = 0;
            var tmpSumTotalnghtSftTm = 0;
            var tmpSumTotalhldyWrkTm = 0;
            var tmpSumTotalPtoTm = 0;
            var tmpSumTotalRestTm = 0;

            if(data.length > 0) {
                $('#ipt_gridCnt').val(data.length);
                for(var i = 0; i < data.length; i++){
                    scheduleStatLstTable += '<tr>';
                    scheduleStatLstTable += '<td id="no'+i+'" class="pt-3-half">'+(i+1)+'</td>';
                    scheduleStatLstTable += '<td id="deptNm" class="pt-3-half">'+data[i].DEPT_NAME+'</td>';
                    scheduleStatLstTable += '<td id="ocemName" class="pt-3-half">'+data[i].EMP_NAME+'</td>';
                    scheduleStatLstTable += '<td id="wrkDt" class="pt-3-half">'+data[i].WRK_DT+'('+data[i].DOW_DT+')</td>';
                    var star = '';
                    if(data[i].APVL_REQ_YN == 'N') {
                        star += '★';
                    }
                    //scheduleStatLstTable += '<td id="wrkDivs" class="pt-3-half">'+star + data[i].WRK_DIVS+'</td>';
                    scheduleStatLstTable += '<td id="wrkStrtTm" class="pt-3-half">'+data[i].JOB_STRT_TM + '</td>';
                    scheduleStatLstTable += '<td id="wrkEndTm" class="pt-3-half">'+data[i].JOB_END_TM + '</td>';
                    scheduleStatLstTable += '<td id="allWrkTm" class="pt-3-half">'+data[i].WRK_TM + '</td>'; //총근무시간
                    scheduleStatLstTable += '<td id="totalRestTm" class="pt-3-half">'+data[i].REST_TM+ '</td>'; //휴게
                    scheduleStatLstTable += '<td id="nghtWrkYn" class="pt-3-half">'+data[i].NGHT_WRK_TM+ '</td>'; //야근근무시간(연장)
                    scheduleStatLstTable += '<td id="nghtSftYn" class="pt-3-half">'+data[i].NGHT_SFT_TM+ '</td>'; //연장근무시간 (22시 이후)(야간)
                    scheduleStatLstTable += '<td id="hldyWrkYn" class="pt-3-half">'+data[i].HLDY_WRK_TM+ '</td>'; //주휴
                    scheduleStatLstTable += '<td id="ptoKdYn" class="pt-3-half">'+data[i].PTO_KD_TM+ '</td>'; //연차
                    scheduleStatLstTable += '<td id="apvlStus" class="pt-3-half">'+data[i].APVL_STTS_CD_NM+'</td>'; //승인상태
                    scheduleStatLstTable += '</tr>';

                     if(data[i].NGHT_WRK_TM != ""){
                        var tmpnght = Number(data[i].NGHT_WRK_TM.substring(0,2) * 60 ) + Number(data[i].NGHT_WRK_TM.substring(3,5) % 60 );
                        tmpSumTotalnghtWrkTm += Number(tmpnght);
                    } //연장

                    if(data[i].NGHT_SFT_TM != ""){
                        var tmpSft = Number(data[i].NGHT_SFT_TM.substring(0,2) * 60 ) + Number(data[i].NGHT_SFT_TM.substring(3,5) % 60 );
                        tmpSumTotalnghtSftTm += Number(tmpSft);
                    } //야간

                    if(data[i].HLDY_WRK_TM != ""){
                        var tmphldy = Number(data[i].HLDY_WRK_TM.substring(0,2) * 60 ) + Number(data[i].HLDY_WRK_TM.substring(3,5) % 60 );
                        tmpSumTotalhldyWrkTm += Number(tmphldy);
                    } //주휴

                    if(data[i].WRK_TM != ""){
                        var tmpAll = Number(data[i].WRK_TM.substring(0,2) * 60 ) + Number(data[i].WRK_TM.substring(3,5) % 60 );
                        tmpSumTotalWkrTm += Number(tmpAll);
                    } //기본근무

                    if(data[i].PTO_KD_TM != ""){
                        var tmpPTO = Number(data[i].PTO_KD_TM.substring(0,2) * 60 ) + Number(data[i].PTO_KD_TM.substring(3,5) % 60 );
                        tmpSumTotalPtoTm += Number(tmpAll);
                    } //연차

                    tmpSumTotalRestTm += data[i].REST_TM; //휴게시간

                }
            }

            var sumTotalWkrTm = getTotalTm(tmpSumTotalWkrTm); //기본

            var nghtWrkYn = getTotalTm(tmpSumTotalnghtWrkTm); //연장

            var nghtSftYn = getTotalTm(tmpSumTotalnghtSftTm); //야간

            var hldyWrkYn = getTotalTm(tmpSumTotalhldyWrkTm); //주휴

            var sumTotalPtoTm = getTotalTm(tmpSumTotalPtoTm); // 연차

            var sumTotalRestTm = getTotalTm(tmpSumTotalRestTm); // 휴게

            //합계 표시
            scheduleStatLstTable += '<tr>';
            scheduleStatLstTable += '<td>합계</td>';
            scheduleStatLstTable += '<td>-</td>';
            scheduleStatLstTable += '<td>-</td>';
            scheduleStatLstTable += '<td>-</td>';
            scheduleStatLstTable += '<td>-</td>';
            scheduleStatLstTable += '<td>-</td>';
            scheduleStatLstTable += '<td>'+sumTotalWkrTm+'</td>'; //총근무시간
            scheduleStatLstTable += '<td>'+sumTotalRestTm+'</td>';
            scheduleStatLstTable += '<td>'+nghtWrkYn+'</td>'; //연장
            scheduleStatLstTable += '<td>'+nghtSftYn+'</td>'; //야간
            scheduleStatLstTable += '<td>'+hldyWrkYn+'</td>'; //주휴
            scheduleStatLstTable += '<td>'+sumTotalPtoTm+'</td>';
            scheduleStatLstTable += '<td>-</td>';
            scheduleStatLstTable += '</tr>';
            scheduleStatLstTable += '</thead>';
            scheduleStatLstTable += '</tbody>';

            document.getElementById('grid_stat').innerHTML = scheduleStatLstTable;
        }

        function getTotalTm(tm) {

            var hour = Math.floor(tm/60);
            var minute = Math.floor(tm%60);

            return lpad((hour).toString(),2,"0")+":"+lpad((minute).toString(),2,"0");
        }

        $("#ipt_searchOcemName").click(function(){
            //부모창에서 여는 직원 조회 팝업임을 표시
            $('#apvlReqIptFlagHidden').text("scheduleStat");

            var url = "{% url 'dili_api:empMgmtPop' %}" ;
            modal('empModalDiv');
            $('#empModal').load(url);
            $('#empModalDiv').css("z-index", 15);
        });

        $('#ipt_searchOcemNamePop').click(function() {

            if($('#apvlReqHidden').text() == 'scheduleStat'){
                //부모창에서 연 경우, 직원 조회 > 이름, 이메일 세팅
                $('#ipt_searchOcemName').val($('#ipt_searchOcemNamePop').val());
                $('#ipt_searchOcemEmail').val($('#ipt_searchOcemEmailPop').val());
                $('#apvlReqIptFlagHidden').text('')
            }
        });

        $('#exitEmpModalBtn').click(function(){
            $('#empModal').empty();
            $('.model_layout').empty();
        });

        function getSelectedInfo(selectDt, selectDept, selectName, selectEmail){

            // 부서 setting
            $("#sbx_dept").val(selectDept)

            // 성명 setting
            $('#ipt_searchOcemNamePop').val(selectName);
            $('#ipt_searchOcemName').val(selectName);
            $('#ipt_searchOcemEmail').val(selectEmail);

            // 일자 setting
            var year = selectDt.split("-")[0];
            var month = selectDt.split("-")[1];
            $("#sbx_wrkDtYy").val(year);
            $("#sbx_wrkDtMm").val(month);

            $("#searchBtn").click();

        }

    </script>
    <!--직원조회 모달 영역 -->
    <div id="empModalDiv" class="modalUi">
        <div id="empModal">
        </div>
        <a class="modal_close_btn" id="exitEmpModalBtn">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="
               M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
               <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <span id="apvlEmpEmailHidden" class="model_layout" style="display:none;" ></span>
            <span id="apvlReqHidden" style="display:none;" >scheduleStat</span>
            <span id="apvlReqIptFlagHidden" class="model_layout" style="display:none;" ></span>
        </a>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="mb-4" role="alert">
                <h5>
                    <b>근무현황관리</b>
                </h5>
            </div>

            <!-- 1. 조회영역 -->
            <div class="accordion mb-4" id="grp_search">
                <div class="card">

                    <div class="card-header p-0" id="head_search">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse" data-target="#col_search" aria-expanded="true" aria-controls="collapseOne">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                                조회
                            </button>
                        </h2>
                    </div>

                    <div id="col_search" class="collapse show" aria-labelledby="head_search" data-parent="#grp_search">
                        <div class="card-body flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3">부서</div>
                            <div class="align-self-center mr-5">
                                <select id="sbx_dept" class="form-control" name="type">
                                </select>
                            </div>
                            <div class="align-self-start align-self-center mr-3">성명</div>
                            <div class="align-self-center mr-1">
                                <input type="text" class="form-control" id="ipt_searchOcemName" name="ipt_searchOcemName" placeholder="이름을 입력해주세요." maxlength="10" readonly/>
                                <input type="hidden" class="form-control" id="ipt_searchOcemEmail" name="ipt_searchOcemEmail" readonly/>
                                <input type="hidden" class="form-control" id="ipt_searchOcemNamePop" name="ipt_searchOcemNamePop" readonly/>
                                <input type="hidden" class="form-control" id="ipt_searchOcemEmailPop" name="ipt_searchOcemEmailPop" readonly/>
                            </div>
                            <div class="align-self-left mr-5">
                                <button type="button" id="btn_delApvlSearchName" class="delInptButton">x</button>
                            </div>
                            <div class="align-self-start align-self-center mr-3">근무구분</div>
                            <div class="align-self-center mr-5">
                                <select id="sbx_wrkKind" class="form-control" name="type">
                                    <option value = "00" selected>전체</option>
                                    <option value = "01">야근근무</option>
                                    <option value = "02">휴일근무</option>
                                    <option value = "03">연차</option>
                                    <option value = "04">반차</option>
                                    <option value = "05">정상근무</option>
                                    <option value = "06">야근(미승인)</option>
                                </select>
                            </div>
                            <div class="align-self-end align-self-center">
                                <button class="button" id="searchBtn">조회</button>
                                <button class="button" id="excelDownBtn">엑셀다운로드</button>
                                <button class="button" id="wrkTimeGen">근무시간생성</button>
                            </div>
                        </div>
                        <div class="card-body flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3">일자</div>
                            <div class="align-self-center mr-1">
                                <select id="sbx_wrkDtYy" class="form-control" name="type">
                                </select>
                            </div>
                            <div class="align-self-center mr-5">
                                <select id="sbx_wrkDtMm" class="form-control" name="type">
                                    <option value = "1">1월</option>
                                    <option value = "2">2월</option>
                                    <option value = "3">3월</option>
                                    <option value = "4">4월</option>
                                    <option value = "5">5월</option>
                                    <option value = "6">6월</option>
                                    <option value = "7">7월</option>
                                    <option value = "8">8월</option>
                                    <option value = "9">9월</option>
                                    <option value = "10">10월</option>
                                    <option value = "11">11월</option>
                                    <option value = "12">12월</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" class="form-control" id="ipt_gridCnt" name="ipt_gridCnt" readonly/>
            <div id="grp_grid">
                <div class="p-0">
                    <div class="d-flex justify-content-center" style="height:0; visibility:hidden;">
                        <input type="text" name="date" id="monthpickerData" />
                    </div>
                    <!-- 3-1. 사원 Schedule Grid 영역 주단위 -->
                    <div id="grp_showWeek">
                        <!--현황 table 영역 -->
                        <div style="width:100%; height:460px; overflow:auto" id="grid_stat">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

