    <script type="text/javascript">
    /*********************************************************************
    *   Dialog Setting
    *********************************************************************/
    var n_dialog = new ax5.ui.dialog();
    var n_title =  '<span style="color:#fd7e14;font-size:20px;"><i class="fa fa-check-circle"></i></span> CHECK';

    n_dialog.setConfig({
        title: n_title,
        theme : 'info',
        lang:{
            "ok": "확인", "cancel": "취소"
        }
    });

    /*********************************************************************
    *   Session Email 값 기준 연차정보 조회
    *********************************************************************/
    function setAnhoMgmt(){
        var param = {
            "email"         : sessionStorage.getItem("email")
        }

        $.ajaxCall( param, {
             'method'       : 'GET',
             'url'          : "{% url 'dili_api:getYryMgmt' %}",
             'dataType'     : 'json',
             'data'         : JSON.stringify(param),
             'async'        : false,
             'callbackFn'   : function(data){
                if (data.length > 0) {
                    $('#txt_allAnhoDays').text(data[0].ALL_YRY_DAYS) //전체연차일수
                    $('#txt_rmnAnhoDays').text(data[0].ALL_YRY_DAYS - data[0].USE_YRY_DAYS) //남은연차일수

                }
                else {
                    $('#txt_allAnhoDays').text(0) //전체연차일수
                    $('#txt_rmnAnhoDays').text(0) //남은연차일수
                }
             }
        });
    }



    $(document).ready(function(){
        // 공통 코드 조회 - '결재 구분'
        //retrieveCmmCd("ptoKdCd", 'PTO_KD_CD');

        // 결재 구분 기본 선택 값 지정 - '야간근무'
        //$('input[name="APVL_REQ_DIVS_CD"][value="01"]').prop("checked", true)
        //$("input:radio[name='APVL_REQ_DIVS_CD']:radio[value='01']").prop('checked', true);

        /*********************************************************************
        *   남은 연차 조회
        *********************************************************************/
        setAnhoMgmt();
/*
        var param = {
            "email" : sessionStorage.getItem("email")
        }

        $.ajaxCall( param, {
            'method' : 'GET',
            'url' : "{% url 'dili_api:getYryUseDays' %}",
            'dataType' : 'json',
            'data' : JSON.stringify(param),
            'async' : false,
            'callbackFn' : function(data){

            // 리턴
            useYryYn(data);
            }
        });
*/
        function useYryYn(data) {
            if(data[0].USE_YRY_YN == 'N') {
                $('#exitSchdModal').click();
            }
        }

        /*********************************************************************
        *   btn_datepicker1 Btn Click Event - 일달력호출
        *********************************************************************/
        $("#btn_datepicker1").click(function(){

            $("#datepickerData1").datepicker("show");
        });

        /*********************************************************************
        *   btn_datepicker2 Btn Click Event - 일달력호출
        *********************************************************************/
        $("#btn_datepicker2").click(function(){
            if($("#ipt_holiTerm1").val() == "") {
                alert("시작 일자를 먼저 선택해주세요.");
                return;
            }
            $("#datepickerData2").datepicker("show");
        });

        /*********************************************************************
        *   클릭한 달력 datepickerData1에 value 값 담기
        *********************************************************************/
        $("#datepickerData1").datepicker({
            onSelect:function(dateText, inst) {

                var tempData = $('#datepickerData1').val();

                $("#ipt_holiTerm2").val("");
                $("#ipt_holiTerm1").val(tempData);
            }
        });

        /*********************************************************************
        *   클릭한 달력 datepickerData2에 value 값 담기
        *********************************************************************/
        $("#datepickerData2").datepicker({

            onSelect:function(dateText, inst) {

                var tempData = $('#datepickerData2').val();

                $("#ipt_holiTerm2").val(tempData);
                dateCalcu();
            }
        });

        function dateCalcu() {
            var tempData1 = $("#ipt_holiTerm1").val().split('-');
            var tempData2 = $("#ipt_holiTerm2").val().split('-');

            var arrDate1 = new Date(tempData1[0], tempData1[1], tempData1[2]);
            var arrDate2 = new Date(tempData2[0], tempData2[1], tempData2[2]);

            var diffDate = arrDate2 - arrDate1;
            var currDate = 24 * 60 * 60 * 1000;

            if(parseInt(diffDate/currDate)+1 < 0) {
                alert("시작일자와 종료일자를 다시 확인해주세요.");
                $("#ipt_holiTerm2").val("");
                return;
            }
            else {
                $("#ipt_holiDays").val(parseInt(diffDate/currDate)+1);
            }

        }

    });


    /*********************************************************************
    *   휴가종류 값 변경 시 반차유형 div show, hide 처리
    *********************************************************************/
    $(document).on("change","input:radio[name='ptoKdCd']",function(){
            console.log("컴포넌트::onchange");
            if($("input[name='ptoKdCd']:checked").val() == '01') {
                $('#hdoKdCdDiv').removeClass("d-block flex-height d-flex m-0 p-2");
                $('#hdoKdCdDiv').addClass("d-none");
            }
            else if($("input[name='ptoKdCd']:checked").val() == '02') {
                $('#hdoKdCdDiv').removeClass("d-none");
                $('#hdoKdCdDiv').addClass("d-block flex-height d-flex m-0 p-2");
            }
    });

    $(document).on("change","input:radio[name='APVL_REQ_DIVS_CD']",function(){
            console.log("동적컴포넌트::onchange");
            var url = "";
            if($("input[name='APVL_REQ_DIVS_CD']:checked").val() == '01') {
                url = "{% url 'dili_api:apvlReqPop' %}" ;
            } else if($("input[name='APVL_REQ_DIVS_CD']:checked").val() == '02') {
                url = "{% url 'dili_api:yryApvlReq' %}" ;
            } else if($("input[name='APVL_REQ_DIVS_CD']:checked").val() == '03') {
                url = "{% url 'dili_api:wrkApvlReq' %}" ;
            }
            $('#testDi2v').load(url);
    });

    function btnReqEvt2() {
        if($('input[name="ptoKdCd"]:checked').val() == "") {
            alertMsg("휴가종류를 선택해주세요.");
            return;
        }

        if($("#ipt_holiTerm1").val() == "") {
            alertMsg("휴가기간을 선택해주세요.");
            return;
        }

        if($("#txa_holiRsn").val() == "") {
            alertMsg("휴가사유를 입력해주세요.");
            return;
        }

        if($("#ipt_emerCtpl").val() == "") {
            alertMsg("비상연락망을 입력해주세요.");
            return;
        }

        n_dialog.confirm('저장하시겠습니까?',function(){
            if(this.key == 'ok'){
                if(Number($('#txt_rmnAnhoDays').text()) == 0){
                    alertMsg("남은연차가 없습니다.");
                    return;
                }
                if(Number($('#txt_rmnAnhoDays').text()) < Number($('#ipt_holiDays').val())){
                    alertMsg("남은연차일수 보다 등록하실 연차일수가 더 큽니다.");
                    return;
                }
                var param = [];

                var tmpParam = {
                    "email" : sessionStorage.getItem("email"),
                    "apvlReqDivs" : $('input[name="ptoKdCd"]:checked').val(),    //01: 야근, 02:휴일, 03: 연차
                    "wrkDt" : $("#ipt_holiTerm1").val(),
                    "wrkTme" : "000000",
                    "wrkReqRsn": $("#txa_holiRsn").val(),
                    "th1AprvStus": "01",
                    "th1AprvNm": "hykim@infogen.co.kr",
                    "th2AprvStus": "01",
                    "th2AprvNm": "yblee1987@infogen.co.kr",
                    "holiDays" : $("#ipt_holiDays").val(),
                    "emerCtpl" : $("#ipt_emerCtpl").val()

                }

                param.push(tmpParam);

                if($("#ipt_holiDays").val()-1 > 0) {
                    var date = new Date($("#ipt_holiTerm1").val().substring(0,4), $("#ipt_holiTerm1").val().substring(5,7)-1,$("#ipt_holiTerm1").val().substring(8,10));
                    for(var i=0; i<$("#ipt_holiDays").val()-1; i++) {

                        date.setDate(date.getDate() + 1)

                        var tmpParam = {
                            "email" : sessionStorage.getItem("email"),
                            "apvlReqDivs" : $('input[name="ptoKdCd"]:checked').val(),    //01: 야근, 02:휴일, 03: 연차
                            "wrkDt" : setWeek(date).baseDate,
                            "wrkTme" : "000000",
                            "wrkReqRsn": $("#txa_holiRsn").val(),
                            "th1AprvStus": "01",
                            "th1AprvNm": "hykim@infogen.co.kr",
                            "th2AprvStus": "01",
                            "th2AprvNm": "yblee1987@infogen.co.kr",
                            "holiDays" : $("#ipt_holiDays").val(),
                            "emerCtpl" : $("#ipt_emerCtpl").val()

                        }
                        param.push(tmpParam);
                    }
                }
                $.ajaxCall( param, {
                     method : 'POST',
                     'url' : '/dili/saveYryApvlReq/post',
                     'dataType' : 'json',
                     'data' : JSON.stringify(param),
                     'async' : false,
                     'callbackFn' : function(data){

                        // 리턴
                        g_toast.push('저장 되었습니다.');
                        $('#exitSchdModal').click();
                     }
                });
            }
        });
    }

    </script>

<input id="yryType" type="radio" name="APVL_REQ_DIVS_CD" value="00" style="display : none;">
<div style="width :600px;">
    <div class="mb-4" role="alert">
            <h5>
                <b>연차결재요청 등록</b>
            </h5>
        <div role="alert">
            <h6 style="text-align: right">
                <span id="sp_apvlReqBfr" class="requiredText"><b>* 는 필수 입력 항목입니다.</b></span>
            </h6>
        </div>
    </div>
    <table>
        <tr>
            <td>
<!--
                 <div class="card-body flex-height d-flex">
                    <div class="align-self-start align-self-center mr-3">휴가기간</div>
                    <input type="hidden" name="date" id="datepickerData1"/>
                    <div id="btn_datepicker1" class="align-self-center mr-5" >
                        <input type="text" class="form-control" id="ipt_holiTerm1" name="ipt_holiTerm" placeholder="" maxlength="24"/>
                    </div>
                    ~
                    <input type="hidden" name="date" id="datepickerData2"/>
                    <div id="btn_datepicker2" class="align-self-center mr-5" >
                        <input type="text" class="form-control" id="ipt_holiTerm2" name="ipt_holiTerm" placeholder="" maxlength="24"/>
                    </div>
                </div>

                <div class="card-body flex-height d-flex">
                    <div class="align-self-start align-self-center mr-3">휴가일수</div>
                    <div class="align-self-center mr-5">
                        <input type="text" class="form-control" id="ipt_holiDays" name="ipt_holiDays" maxlength="4" readonly/>
                    </div>
                </div>

                <div class="card-body flex-height d-flex">
                    <div class="align-self-start align-self-center mr-5">사유</div>
                    <div class="align-self-center mr-5">
                        <textarea id="txa_holiRsn" name="holiRsn" maxlength="500" placeholder="휴가 사유를 입력해주세요."></textarea>
                    </div>
                </div>

                <div class="card-body flex-height d-flex">
                    <div class="align-self-start align-self-center mr-2">비상연락망</div>
                   <div class="align-self-center mr-5">
                        <input type="text" class="form-control" id="ipt_emerCtpl" name="ipt_emerCtpl" placeholder="01012345678" maxlength="11"/>
                    </div>
                </div>

                 전체연차일수/ 남은연차일수 표기
                <div class="card-body flex-height d-flex">
                    <span> 남은 연차 일수 : </span>
                    <span id="txt_rmnAnhoDays">0</span>
                    <span> 일 / 총 연차 일수 : </span>
                    <span id="txt_allAnhoDays">0</span>
                    <span> 일</span>
                </div>

                <div class="card-body flex-height d-flex">
                    <div class="align-self-start align-self-center mr-3"></div>
                    <div class="align-self-center mr-7">
                        <button type="button" class="button" id="btn_req" onclick="btnReqEvt2()">요청</button>
                    </div>
                </div>
-->

                <div class="accordion mb-4" id="grp_yryApvlReq">
                    <div class="p-0" id="head_yryApvlReq">
                        <!-- Body -->
                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-5" style="font-weight:bold"><span class="requiredTag mr-1">*</span>휴가종류</div>
                            <div class="align-self-center mr-5">
                                <label class="mr-5"><input type="radio" name="ptoKdCd" value="01" checked> 연차 </label>
                                <label class="mr-5"><input type="radio" name="ptoKdCd" value="02"        > 반차 </label>
                            </div>
                        </div>

                        <div class="d-none" id="hdoKdCdDiv">
                            <div class="align-self-start align-self-center mr-5" style="font-weight:bold"><span class="requiredTag mr-1">*</span>반차유형</div>
                            <div class="align-self-center mr-5">
                                <label class="mr-3"><input type="radio" name="hdoKdCd" value="01" checked> 오전반차 </label>
                                <label class="mr-3"><input type="radio" name="hdoKdCd" value="02"        > 오후반차 </label>
                            </div>
                        </div>

                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold"><span class="requiredTag mr-1">*</span>휴가요청기간</div>
                                <div class="align-self-center mr-1">
                                    <div style="float: left;">
                                       <input type="date" class="align-self-start align-self-center form-control"        id="ipt_yryStrtDt"  style="width:150px;" name="ipt_yryStrtDt" />
                                    </div>
                                    <div style="float: left;">
                                        <span class="align-self-start align-self-center">&nbsp;~&nbsp;</span>
                                    </div>
                                    <div style="float: left;">
                                        <input type="date" class="align-self-start align-self-center mr-1 form-control"  id="ipt_yryEndDt"   style="width:150px;"  name="ipt_yryEndDt" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold"><span class="requiredTag mr-1">*</span>휴가요청사유</div>
                            <div class="align-self-center mr-7">
                                <textarea id="txa_reqBfrRsn" class="form-control" name="reqRsn" maxlength="210" style="resize: none; width:440px; height:70px;" placeholder="사유를 입력해주세요.(200자 이하)" onkeyup="chkLength(this, 200)"></textarea>
                            </div>
                        </div>

                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center" style="font-weight:bold;margin-right: 2rem!important;"><span class="requiredTag mr-1">*</span>비상연락망</div>
                            <div class="align-self-center mr-7">
                                <input type="text" class="form-control" id="ipt_emerCtpl" name="ipt_emerCtpl" placeholder="01012345678" maxlength="11"/>
                            </div>
                        </div>

                        <!-- 결재선 지정 영역 -->
                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 결재자 -->
                            <div class="align-self-center mr-5 " style="font-weight:bold">
                                <span class="mr-3"><span class="requiredTag mr-1">*</span>결재자</span>
                            </div>

                            <div class="align-self-center mr-3">
                                <div class="align-self-center mr-3">
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_apvlLnSearchNamePop" name="ipt_apvlLnSearchNamePop" placeholder="이름을 입력해주세요." maxlength="10" readonly/>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_apvlLnSearchEmailPop" name="ipt_apvlLnSearchEmailPop" style="width:235px; display:none;" readonly/>
                                </div>
                            </div>

                        </div>

                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 결재자 -->
                            <div class="align-self-center mr-5 " style="font-weight:bold">
                                <span class="mr-4">참조자&nbsp;</span>
                            </div>

                            <div class="align-self-center mr-1">
                                <div class="align-self-center mr-1">
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_refSearchNamePop" name="ipt_refSearchNamePop" placeholder="이름을 입력해주세요." maxlength="10" readonly/>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_refSearchEmailPop" name="ipt_refSearchEmailPop" style="width:235px; display:none;" readonly/>
                                </div>
                            </div>
                            <div class="align-self-center mr-5">
                                <button type="button" id="btn_delRefSearchNamePop" class="delInptButton">x</button>
                            </div>
                        </div>

                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 기안자 -->
                            <div class="align-self-center mr-5 " style="font-weight:bold">
                                <span class="mr-3">기안자&nbsp;&nbsp;</span>
                            </div>

                            <div class="align-self-center mr-3">
                                <div class="align-self-center mr-3">
                                    <span id="sp_apvlReqName"></span>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_apvlReqEmail" 	name="ipt_apvlReqEmail" style="width:235px; display:none;" readonly/>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_reqEmail" 		name="ipt_reqEmail" style="width:235px; display:none;" readonly/>
                                </div>
                            </div>

                        </div>

                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 기안일 -->
                            <div class="align-self-center mr-5 " style="font-weight:bold">
                                <span class="mr-3">기안일&nbsp;&nbsp;</span>
                            </div>

                            <div class="align-self-center mr-3">
                                <div class="align-self-center mr-3">
                                    <span id="sp_reqDt"></span>
                                </div>
                            </div>

                        </div>

                        <div id="apvlReqUpdDtDiv">
                            <div class="card-body flex-height d-flex m-0 p-2">
                                <!-- 수정일 -->
                                <div class="align-self-center mr-5 " style="font-weight:bold">
                                    <span class="mr-3">수정일&nbsp;&nbsp;</span>
                                </div>

                                <div class="align-self-center mr-3">
                                    <div class="align-self-center mr-3">
                                        <span id="sp_updDt"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="apvlReqAcptDiv">
                            <hr/>
                             <div class="card-body flex-height d-flex m-0 p-2">
                                <!-- 결재상태 -->
                                <div class="align-self-center mr-2 " style="font-weight:bold">
                                    <span class="mr-5">결재상태</span>
                                </div>

                                <div class="align-self-center mr-3">
                                    <div class="align-self-center mr-3">
                                        <span id="sp_apvlStts"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- 승인/반려사유 -->
                            <div class="flex-height d-flex m-0 p-2">
                                <div id="reqAcptRsnTit" class="align-self-start align-self-center mr-4" style="font-weight:bold">승인/반려사유</div>
                                <div class="align-self-center mr-7">
                                    <textarea id="txa_reqAcptRsnR" class="form-control" name="txa_reqAcptRsnR" maxlength="210" style="resize: none; width:440px;height:70px;" readonly></textarea>
                                </div>
                            </div>
                            <div class="card-body flex-height d-flex m-0 p-2">
                                <!-- 승인/반려일 -->
                                <div class="align-self-center mr-5 " style="font-weight:bold">
                                    <span id="acptDtTit" class="mr-3">승인/반려일</span>
                                </div>

                                <div class="align-self-center mr-3">
                                    <div class="align-self-center mr-3">
                                        <span id="sp_acptDt"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--전체연차일수/ 남은연차일수 표기-->
                        <div class="card-body flex-height d-flex">
                            <span> 남은 연차 일수 : </span>
                            <span id="txt_rmnAnhoDays">0</span>
                            <span> 일 / 총 연차 일수 : </span>
                            <span id="txt_allAnhoDays">0</span>
                            <span> 일</span>
                        </div>

                        <!-- 결재 요청 버튼 영역 -->
                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3"></div>
                            <div class="align-self-center mr-7">
                                <button class="button" id="btn_apvlBfrReq">저장</button>
                            </div>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>
