    <script type="text/javascript">
    /*********************************************************************
    *   Dialog Setting
    *********************************************************************/
    var n_dialog = new ax5.ui.dialog();
    var n_title =  '<span style="color:#fd7e14;font-size:20px;"><i class="fa fa-check-circle"></i></span> CHECK';

    n_dialog.setConfig({
        title: n_title,
        theme : 'info',
        lang:{
            "ok": "확인", "cancel": "취소"
        }
    });

    /*********************************************************************
    *   Session Email 값 기준 연차정보 조회
    *********************************************************************/
    function setAnhoMgmt(){
        var param = {
            "email"         : sessionStorage.getItem("email")
        }

        $.ajaxCall( param, {
             'method'       : 'GET',
             'url'          : "{% url 'dili_api:getYryMgmt' %}",
             'dataType'     : 'json',
             'data'         : JSON.stringify(param),
             'async'        : false,
             'callbackFn'   : function(data){
                if (data.length > 0) {
                    $('#txt_allAnhoDays').val(data[0].ALL_YRY_DAYS) //전체연차일수
                    $('#txt_rmnAnhoDays').val(data[0].ALL_YRY_DAYS - data[0].USE_YRY_DAYS) //남은연차일수
                    $('#sp_yryDays').text(data[0].YRY_DAYS)
                }
                else {
                    $('#txt_allAnhoDays').val(0) //전체연차일수
                    $('#txt_rmnAnhoDays').val(0) //남은연차일수
                }
             }
        });
    }



    $(document).ready(function(){
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        /* 사용자 권한 셋팅 */
        checkEmpAuthsByEmail(sessionStorage.getItem("email"), ["ADMIN", "GM", "USER"]);

        setAnhoMgmt();

        //TO DO : h5_apvlYryTit 등록/수정/상세 제목 변경
        //TO DO : btn_apvlYryReq 저장/수정 버튼 변경
        if ($('#currYryPopStts').val() == "register") {
            $('#h5_apvlYryTit').html("<b>연차결재요청 등록</b>");
            $('#btn_apvlYryReq').text("저장");
            //$('#ipt_wrkDt').prop('readOnly', false);
            $('#apvlYryUpdDtDiv').addClass('d-none');
            $('#apvlYryAcptDiv' ).addClass('d-none');
            $('#btn_apvlYryCncl').addClass('d-none');

            var nowDt = new Date();
            var strNowDt = nowDt.getFullYear() + '-' + fillZero(2, (nowDt.getMonth() + 1) + '') + '-' + fillZero(2, nowDt.getDate() + '');

            // 휴가 일자 시작일, 종료일 값 지정
            $('#ipt_holiTerm1').val(strNowDt);
            $('#ipt_holiTerm2').val(strNowDt);

            // 해당 날짜 스케줄관리 정보 있는지 확인 후 불러옴
            //$("#ipt_wrkDt").change();

            // 로그인한 사용자 소속 현장대리인 이름, 이메일 조회 후 값 세팅 ( 1, 2차 결재자 세팅 )
            retrieveEmpDeptPrByEmail(sessionStorage.getItem("email"), function(data) {
                if(data.length > 0) {
                    $('#ipt_yry1ApvlLnSearchNamePop').val(data[0].PR_NAME);
                    $("#ipt_yry1ApvlLnSearchEmailPop").val(data[0].EMP_PR);
                    $('#ipt_yry1ApvlLnSearchNamePop').prop('readOnly', true);

                    // 로그인한 사용자 소속 사업부장 이름, 이메일 조회 후 값 세팅
                    retrieveEmpDeptGmByEmail(sessionStorage.getItem("email"), function(data) {
                        if(data.length > 0) {
                            $('#ipt_yry2ApvlLnSearchNamePop').val(data[0].GM_NAME);
                            $("#ipt_yry2ApvlLnSearchEmailPop").val(data[0].EMP_GM);
                            $('#ipt_yry2ApvlLnSearchNamePop').prop('readOnly', true);
                        } else {
                            alertMsg("소속 부서 사업부장 정보가 존재하지 않습니다. 경영지원실에 문의해주세요.", function() {
                                $('#exitYryReqModalBtn').click();
                            });
                            return;
                        }
                    });

                }
				else {
                    alertMsg("소속 부서 현장대리인 정보가 존재하지 않습니다. 경영지원실에 문의해주세요.", function() {
                        $('#exitYryReqModalBtn').click();
                    });
                    return;
                }
            });

            // 참조자 1, 2 세팅 (추후 수정대상으로 수정전까지 하드코딩)
            $('#ipt_yry1RefSearchNamePop').val('김유진');
            $("#ipt_yry1RefSearchEmailPop").val('yjkim');

            $('#ipt_yry2RefSearchNamePop').val('이현주');
            $("#ipt_yry2RefSearchEmailPop").val('hjulee');

            // 기안자
            retrieveEmpNmByEmail(sessionStorage.getItem("email"), function(data) {
                $('#sp_yryReqName').text(data[0].EMP_NAME);
                $('#ipt_yryApvlReqEmail').val(sessionStorage.getItem("email"));
            });
            // 기안일
            $('#sp_yryReqDt').text(strNowDt);

        } else if($('#currYryPopStts').val() == "modify") {
		    //arrWrkDt 0 기안자 1 근무요청일시
            var arrWrkDt =$('#currYryPopParamArr').val().split(';');

            $('#h5_apvlYryTit').html("<b>연차결재요청 수정</b>");
            $('#btn_apvlYryReq').text("수정");
            $('#apvlYryUpdDtDiv').addClass('d-none');
            $('#apvlYryAcptDiv' ).addClass('d-none');

            // 결재 요청 정보 PK 트랜잭션
            var params = {
                "email"      : arrWrkDt[0],     // 기안자
                "wrkDt"      : arrWrkDt[1],     // 연차시작일
                "wrkSeq"     : arrWrkDt[6],     // 결재요청Seq
                "apvlReqDt"  : arrWrkDt[5]      // 근무요청일시
            }
            var url = "{% url 'dili_api:getApvlReqHistDetl' %}";

            submissionCallList( params, "GET", url, function(data) {
                console.log(data);
                setApvlReqHistDetl(data);
            });
        }

        /*********************************************************************
        *   Grid 선택한 행에 따라 상세보기
        *********************************************************************/
        function setApvlReqHistDetl(data) {
            if(data == undefined || data == null || data.length == 0) {

            } else {
                var reqEmail  = data[0].EMP_EMAIL;     //기안자
                var reqName   = data[0].EMP_NAME;      //기안명
                var reqDt     = data[0].APVL_REQ_DT;   //기안일자
                var ptoKdCd   = data[0].PTO_KD_CD;     //휴가종류
                var holiTerm1 = data[0].HOLI_TERM1;    //휴가시작일자
                var holiTerm2 = data[0].HOLI_TERM2;    //휴가종료일자
                var wrkSeq    = data[0].WRK_SEQ;       //결재요청Seq
                var holiRsn   = data[0].WRK_REQ_RSN;   //휴가요청사유
                var apvlEmail = data[0].TH1_APRV_NM;   //1차결재자 email
                var apvlName  = data[0].TH1_APRV_NAME; //1차결재자 명
                var apvl2Email= data[0].TH2_APRV_NM;   //2차결재자 email
                var apvl2Name = data[0].TH2_APRV_NAME; //2차결재자 명
                var refEmail  = data[0].REF_NM;        //참조자1 email
                var refName   = data[0].REF_NAME;      //참조자1 명
                var ref2Email = data[0].REF2_NM;       //참조자2 email
                var ref2Name  = data[0].REF2_NAME;     //참조자2 명
                console.log("ptoKdCd : "+ptoKdCd);

                /* 휴가종류 01 연차 02 반차 03 기타- 수정 불가 */
                if( ptoKdCd == "01" ) {
                    $('input[name="ptoKdCd"]:input[value="01"]').attr('checked', true);
                } else if( ptoKdCd == "02" ) {
                    $('input[name="ptoKdCd"]:input[value="02"]').attr('checked', true);
                } else if( ptoKdCd == "03" ) {
                    $('input[name="ptoKdCd"]:input[value="03"]').attr('checked', true);
                }
                $("input:radio[name=ptoKdCd]").attr("disabled", true); //비활성화

                /* 휴가 기간, */
                $("#ipt_holiTerm1").val(holiTerm1);
                $("#ipt_holiTerm2").val(holiTerm2);
                $("#ipt_wrkSeq").val(wrkSeq);
                $("#ipt_holiTerm1").attr("disabled", true);
                $("#ipt_holiTerm2").attr("disabled", true);


                /* 1차 결재자 */
                $("#ipt_yry1ApvlLnSearchEmailPop").val(apvlEmail);
                $("#ipt_yry1ApvlLnSearchNamePop").val(apvlName);

                /* 2차 결재자 */
                $("#ipt_yry2ApvlLnSearchEmailPop").val(apvl2Email);
                $("#ipt_yry2ApvlLnSearchNamePop").val(apvl2Name);

                /* 참조자1 */
                $("#ipt_yry1RefSearchEmailPop").val(refEmail);
                $("#ipt_yry1RefSearchNamePop").val(refName);

                /* 참조자2 */
                $("#ipt_yry2RefSearchEmailPop").val(ref2Email);
                $("#ipt_yry2RefSearchNamePop").val(ref2Name);

                /* 휴가요청사유 */
                $("#txa_holiRsn").val(holiRsn);

                // 기안자
                $('#sp_yryReqName').text(reqName);
                // 기안일
                $('#sp_yryReqDt').text(reqDt);

                // 휴가일수 계산
                dateCalcu();
            }
        }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        // 휴가 일자 시작일, 종료일 값 지정

        /*********************************************************************
        *   남은 연차 조회
        *********************************************************************/
        setAnhoMgmt();

        function useYryYn(data) {
            if(data[0].USE_YRY_YN == 'N') {
                $('#exitSchdModal').click();
            }
        }

        /*********************************************************************
        *   btn_datepicker1 Btn Click Event - 일달력호출
        *********************************************************************/
        $("#btn_datepicker1").click(function(){

            $("#datepickerData1").datepicker("show");
        });

        /*********************************************************************
        *   btn_datepicker2 Btn Click Event - 일달력호출
        *********************************************************************/
        $("#btn_datepicker2").click(function(){
            if($("#ipt_holiTerm1").val() == "") {
                alert("시작 일자를 먼저 선택해주세요.");
                return;
            }
            $("#datepickerData2").datepicker("show");
        });

        /*********************************************************************
        *   클릭한 달력 datepickerData1에 value 값 담기
        *********************************************************************/
        $("#datepickerData1").datepicker({
            onSelect:function(dateText, inst) {

                var tempData = $('#datepickerData1').val();

                $("#ipt_holiTerm2").val("");
                $("#ipt_holiTerm1").val(tempData);
            }
        });

        /*********************************************************************
        *   클릭한 달력 datepickerData2에 value 값 담기
        *********************************************************************/
        $("#datepickerData2").datepicker({

            onSelect:function(dateText, inst) {

                var tempData = $('#datepickerData2').val();

                $("#ipt_holiTerm2").val(tempData);

                dateCalcu();
            }
        });

    });


    // 평일계산기
    function calcWrkDate() {
        var tempData1 = $("#ipt_holiTerm1").val().split('-');
        var tempData2 = $("#ipt_holiTerm2").val().split('-');

        var date1 = new Date(tempData1[0], tempData1[1]-1, tempData1[2]);
        var date2 = new Date(tempData2[0], tempData2[1]-1, tempData2[2]);

        var count = 0;

        if ($('input[name="ptoKdCd"]:checked').val() == "02") {
            return 0.5;
        }

        if ($('input[name="ptoKdCd"]:checked').val() == "03") { //기타휴가는 0개
            return 0;
        }

        while(true) {
            var temp_date = date1;

            if(temp_date.getTime() > date2.getTime()) {
                console.log("count : " + count);
                break;
            }
            else {
                var tmp = temp_date.getDay();
                if(tmp == 0 || tmp == 6) {
                    // 주말
                    //console.log("주말");
                }
                else {
                    // 평일
                    //console.log("평일");
                    count++;
                }
                temp_date.setDate(date1.getDate() + 1);
            }
        }

        return count;
    }

    // 날짜 계산기
    function dateCalcu() {
        var tempData1 = $("#ipt_holiTerm1").val().split('-');
        var tempData2 = $("#ipt_holiTerm2").val().split('-');

        var arrDate1 = new Date(tempData1[0], tempData1[1] - 1, tempData1[2]);
        var arrDate2 = new Date(tempData2[0], tempData2[1] - 1, tempData2[2]);

        var diffDate = arrDate2 - arrDate1;
        var currDate = 24 * 60 * 60 * 1000;

        if(parseInt(diffDate/currDate)+1 < 0) {
            alert("시작일자와 종료일자를 다시 확인해주세요.");
            $("#ipt_holiTerm2").val("");
            return;
        }
        // 연차or기타/반차 일수 계산
        if ( $('input[name="ptoKdCd"]:checked').val() == "01"
          || $('input[name="ptoKdCd"]:checked').val() == "03") {
            if ($('#chkbox').prop("checked")) {
                $("#sp_holiDays").text(parseInt(diffDate/currDate) + 1);
                $("#ipt_holiDays").val(parseInt(diffDate/currDate) + 1);
            }
            else {
                var tmpCnt = calcWrkDate();
                $("#sp_holiDays").text(tmpCnt);
                $("#ipt_holiDays").val(tmpCnt);
            }

        }
        else {
            $("#sp_holiDays").text(0.5);
            $("#ipt_holiDays").val(0.5);
        }

    }


    // 공휴일 포함여부 값 변경 시 일수 계산
    $(document).on("change","#chkbox",function(){
        dateCalcu();
    });


    /*********************************************************************
    *   휴가종류 값 변경 시 반차유형 div show, hide 처리
    *********************************************************************/
    $(document).on("change","input:radio[name='ptoKdCd']",function(){
            console.log("컴포넌트::onchange");
            if ( $("input[name='ptoKdCd']:checked").val() == '01'
              || $("input[name='ptoKdCd']:checked").val() == '03') {
                $('#hdoKdCdDiv').removeClass("d-block flex-height d-flex m-0 p-2");
                $('#hdoKdCdDiv').addClass("d-none");

                $('#ipt_holiTerm2').prop("readOnly", "");
            }
            else if ($("input[name='ptoKdCd']:checked").val() == '02') {
                $('#hdoKdCdDiv').removeClass("d-none");
                $('#hdoKdCdDiv').addClass("d-block flex-height d-flex m-0 p-2");
                $('#hdoKdCdDiv').val("01");

                $('#ipt_holiTerm2').val($('#ipt_holiTerm1').val());
                $('#ipt_holiTerm2').prop("readOnly", "readOnly");

                $(document).on("change","#ipt_holiTerm1",function(){
                        $('#ipt_holiTerm2').val($('#ipt_holiTerm1').val());
                });
            }
            dateCalcu();
    });

    /*********************************************************************
    *   연차 시작일 값 변경 시 휴가 일수 계산
    *********************************************************************/
    $(document).on("change","#ipt_holiTerm1",function(){
        if ( $("input[name='ptoKdCd']:checked").val() == '02' ) { /*휴가종류가 반차인 경우, 휴가요청기간을 변경할때 항상 2개 값이 동일하게 동작하도록*/
            $('#ipt_holiTerm2').val($('#ipt_holiTerm1').val());
        } else if ($('#ipt_holiTerm1').val() > $('#ipt_holiTerm2').val()) {
            $('#ipt_holiTerm2').val($('#ipt_holiTerm1').val());
        }
        dateCalcu();
    });


    /*********************************************************************
    *   연차 종료일 값 변경 시 휴가 일수 계산
    *********************************************************************/
    $(document).on("change","#ipt_holiTerm2",function(){
        if ($('#ipt_holiTerm1').val() > $('#ipt_holiTerm2').val()) {
            $('#ipt_holiTerm1').val($('#ipt_holiTerm2').val());
        }
        dateCalcu();
    });


    $(document).on("change","input:radio[name='APVL_REQ_DIVS_CD']",function(){
            console.log("동적컴포넌트::onchange");
            var url = "";
            if($("input[name='APVL_REQ_DIVS_CD']:checked").val() == '01') {
                url = "{% url 'dili_api:apvlReqPop' %}" ;
            } else if($("input[name='APVL_REQ_DIVS_CD']:checked").val() == '02') {
                url = "{% url 'dili_api:yryApvlReq' %}" ;
            } else if($("input[name='APVL_REQ_DIVS_CD']:checked").val() == '03') {
                url = "{% url 'dili_api:wrkApvlReq' %}" ;
            }
            $('#testDi2v').load(url);
    });

    // 비상연락망 유효성 검사 함수
    function telValidator(args) {
        var msg = '유효하지 않은 전화번호 형식입니다.';

        //if (/^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}/.test(args)) {
        if (/^[0-9]{2,3}[0-9]{3,4}[0-9]{4}/.test(args)) {
            return true;
        }
        //alertMsg(msg, function() {
        //    $("#ipt_emerCtpl").focus();
        //});

        return false;
    }

    // focus out 시 비상연락망 유효성 검사
    $('#ipt_emerCtpl').focusout(function() {
        //if($("#ipt_emerCtpl").val() == "") {
        //    return;
        //}
        //telValidator($("#ipt_emerCtpl").val());
    });

    function btnReqEvt2() {
        var msgText = $('#btn_apvlYryReq').text();
        n_dialog.confirm(msgText+'하시겠습니까?',function(){
            if(this.key == 'ok'){
                var param = {
                    "email"         : sessionStorage.getItem("email"),              // 로그인한 사용자 아이디
                    "apvlDivs"      : "01",                                         // 01: 선결재, 02: 후결재
                    "apvlReqDivs"   : $('input[name="ptoKdCd"]:checked').val()=="01" || $('input[name="ptoKdCd"]:checked').val() == "03" ?"03":"04",    // 01: 야근, 02:휴일, 03: 연차, 04: 반차
                    "ptoKdCd"       : $('input[name="ptoKdCd"]:checked').val(),     // 01: 연차, 02:반차, 03:기타
                    "hdoKdCd"       : $('input[name="hdoKdCd"]:checked').val(),     // 01: 오전반차, 02:오후반차
                    "jobStrtTm"     : $('input[name="ptoKdCd"]:checked').val() == "01" || $('input[name="ptoKdCd"]:checked').val() == "03" ? "090000" : $('input[name="hdoKdCd"]:checked').val() == "01" ?  "090000" : "140000",
                    "jobEndTm"      : $('input[name="ptoKdCd"]:checked').val() == "01" || $('input[name="ptoKdCd"]:checked').val() == "03" ? "180000" : $('input[name="hdoKdCd"]:checked').val() == "01" ?  "130000" : "180000",
                    "holiTerm1"     : $("#ipt_holiTerm1").val(),                    // 연차시작일
                    "holiTerm2"     : $("#ipt_holiTerm2").val(),                    // 연차 종료일
                    "wrkDt"         : $("#ipt_holiTerm1").val(),                    // 근무일 환산
                    "wrkSeq"        : $("#ipt_wrkSeq").val(),                       // 결재요청Seq
                    "wrkTme"        : $('input[name="ptoKdCd"]:checked').val() == "01" || $('input[name="ptoKdCd"]:checked').val() == "03" ? "080000" : "040000",   // 근무시간 환산
                    "wrkReqRsn"     : $("#txa_holiRsn").val().trim(),               // 연차요청사유
                    "th1AprvStus"   : $("#ipt_yryApvlReqEmail").val()==$("#ipt_yry1ApvlLnSearchEmailPop").val()?"02":"01", // 01: 미승인, 기안자와 1차 결재자가 같은경우 승인으로 처리
                    "th1AprvNm"     : $("#ipt_yry1ApvlLnSearchEmailPop").val(),     // 1차 결재자
                    "th2AprvStus"   : "01",                                         // 01: 미승인
                    "th2AprvNm"     : $("#ipt_yry2ApvlLnSearchEmailPop").val(),     // 2차 결재자
                    "refNm"         : $('#ipt_yry1RefSearchEmailPop').val(),        // 참조자1
                    "ref2Nm"        : $('#ipt_yry2RefSearchEmailPop').val(),        // 참조자2
                    "holiDays"      : calcWrkDate() + "",
                    "emerCtpl"      : $("#ipt_emerCtpl").val(),
                }

                $.ajaxCall( param, {
                     method : 'POST',
                     'url' : '/dili/saveYryApvlReq/post',
                     'dataType' : 'json',
                     'data' : JSON.stringify(param),
                     'async' : false,
                     'callbackFn' : function(data){

                        // 리턴
                        g_toast.push(msgText+" 되었습니다.");
                        $('#exitYryReqModalBtn').click();
                        $("#apvlHistSearchBtn").click();
                     }
                });
            }
        });

    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // 요청 버튼 선택 시, 유효성 검증 및 데이터 저장
    $('#btn_apvlYryReq').click(function() {
        //공란 여부 검증
        if($("input[name='ptoKdCd']:checked").val() == "") {
            alertMsg("휴가종류를 선택해주세요.");
            return;
        }

        if($("input[name='ptoKdCd']:checked").val() == "02" && $("input[name='hdoKdCd']:checked").val() == "") {
            alertMsg("반차유형을 선택해주세요.");
            return;
        }

        if($("#ipt_holiTerm1").val() == "") {
            alertMsg("휴가요청기간을 선택해주세요.", function() {
                $('#ipt_holiTerm1').focus();
            });
            return;
        }

        if($("#ipt_holiTerm2").val() == "") {
            alertMsg("휴가요청기간을 선택해주세요.", function() {
                $('#ipt_holiTerm2').focus();
            });
            return;
        }

        if($("#txa_holiRsn").val() == "") {
            alertMsg("휴가요청사유를 입력해주세요.", function() {
                $('#txa_holiRsn').focus();
            });
            return;
        }

        /*
        if($("#ipt_emerCtpl").val() == "") {
            alertMsg("비상연락망을 입력해주세요.", function() {
                $('#ipt_emerCtpl').focus();
            });
            return;
        }
        if (!telValidator($("#ipt_emerCtpl").val())) {
            alertMsg("유효하지 않은 전화번호 형식입니다.", function() {
                $('#ipt_emerCtpl').focus();
            });
            return;
        }
        */

        if($("#ipt_yry1ApvlLnSearchNamePop").val().trim() == "" || $("#ipt_yry1ApvlLnSearchEmailPop").val().trim() == "") {
            alertMsg("결재자를 선택해주세요.", function() {
                $('#ipt_yry1ApvlLnSearchNamePop').focus();
            });
            return;
        }

        if(Number($('#txt_rmnAnhoDays').val()) == 0){
            alertMsg("남은연차가 없습니다.");
            return;
        }
        if(Number($('#txt_rmnAnhoDays').val()) < Number(calcWrkDate())){
            alertMsg("남은연차일수 보다 등록하실 연차일수가 더 큽니다.");
            return;
        }

        //신규 저장시, 입력받은 데이터 유효성 검증
        if($('#currYryPopStts').val() == "register") {
            //동일 일자 결재 진행건 유효성 검증
            var param = {
                "email"         : sessionStorage.getItem("email"),      //로그인한 사용자 아이디
                "wrkDt"         : $('#ipt_holiTerm1').val(),            //근무일자
                "wrkSeq"        : $('#ipt_wrkSeq').val(),               //결재요청Seq
                "holiTerm2"     : $('#ipt_holiTerm2').val(),            //근무일자(휴가종료일자)
            }
            //console.log("###########param::", param);

            var url = "{% url 'dili_api:getDuplApvlYryReqCnt' %}";
            submissionCallList( param, 'GET', url, function(data) {
                if(data.length > 0 && data[0].APVL_REQ_CNT > 0) {
                    //동일 날짜에 결재요청건이 있는 경우
                    var msg = '휴가요청기간 중\n' + data[0].APVL_DIVS + ' 결재요청건이 ' + data[0].APVL_REQ_CNT + '건 있습니다! \n결재 수정하십시오.';
                    alertMsg(msg);
                    return;
                } else {
                    btnReqEvt2();   //임시 저장 로직 처리
                }
            });
        } else {
            btnReqEvt2();   //임시 저장 로직 처리
        }
        return;
    });

    // 취소 버튼 선택 시, 결재요청 데이터 취소
    $('#btn_apvlYryCncl').click(function() {
        n_dialog.confirm('연차를 취소하시겠습니까?',function(){
            if(this.key == 'ok'){
                var param = {
                    "email"         : sessionStorage.getItem("email"),              // 로그인한 사용자 아이디
                    "apvlReqDivs"   : "99",    // 01: 야근, 02:휴일, 03: 연차, 04: 반차, 99:취소
                    "wrkDt"         : $("#ipt_holiTerm1").val(),                    // 근무일 환산
                    "wrkSeq"        : $("#ipt_wrkSeq").val(),                       // 근무요청Seq
                    "holiDays"      : calcWrkDate()+"",      // 휴가일수
                }
                $.ajaxCall( param, {
                     method : 'POST',
                     'url' : '/dili/saveYryApvlCncl/post',
                     'dataType' : 'json',
                     'data' : JSON.stringify(param),
                     'async' : false,
                     'callbackFn' : function(data){
                        // 리턴
                        g_toast.push("취소완료 되었습니다.");
                        $('#exitYryReqModalBtn').click();
                        $("#apvlHistSearchBtn").click();
                     }
                });
            }
        });
    });


    </script>

<input id="yryType" type="radio" name="APVL_REQ_DIVS_CD" value="00" style="display : none;">
<div style="width :600px;">
    <div class="mb-4" role="alert">
            <h5 id="h5_apvlYryTit">>
                <b>연차결재요청 등록</b>
            </h5>
        <div role="alert">
            <h6 style="text-align: right">
                <span id="sp_yryReq" class="requiredText"><b>* 는 필수 입력 항목입니다.</b></span>
            </h6>
        </div>
    </div>
    <table>
        <tr>
            <td>
                <div class="accordion mb-4" id="grp_yryApvlReq">
                    <div class="p-0" id="head_yryApvlReq">
                        <!-- Body -->
                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-5" style="font-weight:bold"><span class="requiredTag mr-1">*</span>휴가종류</div>
                            <div class="align-self-center mr-5">
                                <label class="mr-5"><input type="radio" name="ptoKdCd" value="01" checked> 연차 </label>
                                <label class="mr-5"><input type="radio" name="ptoKdCd" value="02"        > 반차 </label>
                                <label class="mr-5"><input type="radio" name="ptoKdCd" value="03"        > 기타 </label>
                            </div>
                        </div>

                        <div class="d-none" id="hdoKdCdDiv">
                            <div class="align-self-start align-self-center mr-5" style="font-weight:bold"><span class="requiredTag mr-1">*</span>반차유형</div>
                            <div class="align-self-center mr-5">
                                <label class="mr-3"><input type="radio" name="hdoKdCd" value="01" checked> 오전반차 </label>
                                <label class="mr-3"><input type="radio" name="hdoKdCd" value="02"        > 오후반차 </label>
                            </div>
                        </div>

                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold"><span class="requiredTag mr-1">*</span>휴가요청기간</div>
                                <div class="align-self-center mr-1">
                                    <div style="float: left;">
                                       <input type="date" class="align-self-start align-self-center form-control"        id="ipt_holiTerm1"  style="width:150px;" name="ipt_holiTerm1" />
                                       <input type="text" class="form-control" id="ipt_wrkSeq" name="ipt_wrkSeq" style="width:70px;display:none;" readOnly/>
                                    </div>
                                    <div style="float: left;">
                                        <span class="align-self-start align-self-center">&nbsp;~&nbsp;</span>
                                    </div>
                                    <div style="float: left;">
                                        <input type="date" class="align-self-start align-self-center mr-1 form-control"  id="ipt_holiTerm2"   style="width:150px;"  name="ipt_holiTerm2" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold; margin-right:4rem!important">휴가일수</div>
                            <div class="align-self-center mr-3">
                                <div class="align-self-center mr-3">
                                    <input type="text" class="form-control" id="ipt_holiDays" name="" maxlength="4" value="1" style="width:70px;display:none;" readOnly/>
                                    <span id="sp_holiDays" >1</span>&nbsp;&nbsp;일&nbsp;&nbsp;
                                    <input type="checkbox" id="chkbox" name="chkbox" value="1" class="ml-3">&nbsp;&nbsp;공휴일 포함하여 계산
                                </div>
                            </div>
                        </div>

                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold; margin-right:2rem!important">잔여휴가일수</div>
                            <div class="align-self-center mr-1">
                                <div class="align-self-center mr-1">
                                    <span id="sp_yryDays">1</span>&nbsp;&nbsp;일
                                </div>
                            </div>
                        </div>

                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3" style="font-weight:bold"><span class="requiredTag mr-1">*</span>휴가요청사유</div>
                            <div class="align-self-center mr-7">
                                <textarea id="txa_holiRsn" class="form-control" name="txa_holiRsn" maxlength="210" style="resize: none; width:440px; height:70px;" placeholder="사유를 입력해주세요.(200자 이하)" onkeyup="chkLength(this, 200)"></textarea>
                            </div>
                        </div>

<!--                        <div class="flex-height d-flex m-0 p-2">-->
<!--                            <div class="align-self-start align-self-center" style="font-weight:bold;margin-right: 2rem!important;"><span class="requiredTag mr-1">*</span>비상연락망</div>-->
<!--                            <div class="align-self-center mr-7">-->
<!--                                <input type="text" class="form-control" id="ipt_emerCtpl" name="ipt_emerCtpl" placeholder="01012345678" maxlength="11" />-->
<!--                            </div>-->
<!--                        </div>-->

                        <!-- 결재선 지정 영역 -->
                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 1차 결재자 -->
                            <div class="align-self-center mr-3 " style="font-weight:bold">
                                <span class="mr-3"><span class="requiredTag mr-1">*</span>1차 결재자</span>
                            </div>

                            <div class="align-self-center mr-1">
                                <div class="align-self-center mr-1">
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_yry1ApvlLnSearchNamePop" name="ipt_yry1ApvlLnSearchNamePop" placeholder="이름을 입력해주세요." maxlength="10" readOnly/>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_yry1ApvlLnSearchEmailPop" name="ipt_yry1ApvlLnSearchEmailPop" style="width:235px; display:none;" readOnly/>
                                </div>
                            </div>
                        </div>

                        <!-- 결재선 지정 영역 -->
                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 2차 결재자 -->
                            <div class="align-self-center mr-3 " style="font-weight:bold">
                                <span class="mr-3"><span class="requiredTag mr-1">*</span>2차 결재자</span>
                            </div>

                            <div class="align-self-center mr-1">
                                <div class="align-self-center mr-1">
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_yry2ApvlLnSearchNamePop" name="ipt_yry2ApvlLnSearchNamePop" placeholder="이름을 입력해주세요." maxlength="10" readOnly/>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_yry2ApvlLnSearchEmailPop" name="ipt_yry2ApvlLnSearchEmailPop" style="width:235px; display:none;" readOnly/>
                                </div>
                            </div>
                        </div>


                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 참조자1 -->
                            <div class="align-self-center mr-3 " style="font-weight:bold">
                                <span class="mr-5">참조자1</span>
                            </div>

                            <div class="align-self-center mr-1">
                                <div class="align-self-center mr-1">
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_yry1RefSearchNamePop" name="ipt_yry1RefSearchNamePop" placeholder="이름을 입력해주세요." maxlength="10" readOnly/>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_yry1RefSearchEmailPop" name="ipt_yry1RefSearchEmailPop" style="width:235px; display:none;" readOnly/>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 참조자2 -->
                            <div class="align-self-center mr-3 " style="font-weight:bold">
                                <span class="mr-5">참조자2</span>
                            </div>

                            <div class="align-self-center mr-1">
                                <div class="align-self-center mr-1">
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_yry2RefSearchNamePop" name="ipt_yry2RefSearchNamePop" placeholder="이름을 입력해주세요." maxlength="10" readOnly/>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_yry2RefSearchEmailPop" name="ipt_yry2RefSearchEmailPop" style="width:235px; display:none;" readOnly/>
                                </div>
                            </div>
                        </div>

                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 기안자 -->
                            <div class="align-self-center mr-4 " style="font-weight:bold">
                                <span class="mr-5">기안자</span>
                            </div>

                            <div class="align-self-center mr-3">
                                <div class="align-self-center mr-3">
                                    <span id="sp_yryReqName"></span>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_yryApvlReqEmail" 	name="ipt_yryApvlReqEmail" style="width:235px; display:none;" readOnly/>
                                    <input type="text" class="align-self-start align-self-center mr-1 form-control" id="ipt_reqEmail" 		    name="ipt_reqEmail" style="width:235px; display:none;" readOnly/>
                                </div>
                            </div>

                        </div>

                        <div class="card-body flex-height d-flex m-0 p-2">
                            <!-- 기안일 -->
                            <div class="align-self-center mr-4 " style="font-weight:bold">
                                <span class="mr-5">기안일</span>
                            </div>

                            <div class="align-self-center mr-3">
                                <div class="align-self-center mr-3">
                                    <span id="sp_yryReqDt"></span>
                                </div>
                            </div>

                        </div>

                        <div id="apvlYryUpdDtDiv">
                            <div class="card-body flex-height d-flex m-0 p-2">
                                <!-- 수정일 -->
                                <div class="align-self-center mr-5 " style="font-weight:bold">
                                    <span class="mr-3">수정일&nbsp;&nbsp;</span>
                                </div>

                                <div class="align-self-center mr-3">
                                    <div class="align-self-center mr-3">
                                        <span id="sp_yryUpdDt"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="apvlYryAcptDiv">
                            <hr/>
                             <div class="card-body flex-height d-flex m-0 p-2">
                                <!-- 결재상태 -->
                                <div class="align-self-center mr-2 " style="font-weight:bold">
                                    <span class="mr-5">결재상태</span>
                                </div>

                                <div class="align-self-center mr-3">
                                    <div class="align-self-center mr-3">
                                        <span id="sp_apvlYryStts"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- 승인/반려사유 -->
                            <div class="flex-height d-flex m-0 p-2">
                                <div id="yryAcptRsnTit" class="align-self-start align-self-center mr-4" style="font-weight:bold">승인/반려사유</div>
                                <div class="align-self-center mr-7">
                                    <textarea id="txa_yryAcptRsnR" class="form-control" name="txa_yryAcptRsnR" maxlength="210" style="resize: none; width:440px;height:70px;" readOnly></textarea>
                                </div>
                            </div>
                            <div class="card-body flex-height d-flex m-0 p-2">
                                <!-- 승인/반려일 -->
                                <div class="align-self-center mr-5 " style="font-weight:bold">
                                    <span id="yryAcptDtTit" class="mr-3">승인/반려일</span>
                                </div>

                                <div class="align-self-center mr-3">
                                    <div class="align-self-center mr-3">
                                        <span id="sp_yryAcptDt"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--전체연차일수/ 남은연차일수 표기-->
<!--                        <div class="card-body flex-height d-flex">-->
<!--                            <span> 남은 연차 일수 : </span>-->
                            <input type="hidden" id="txt_rmnAnhoDays" value="0">
<!--                            <span> 일 / 총 연차 일수 : </span>-->
                            <input type="hidden" id="txt_allAnhoDays" value="0">
<!--                            <span> 일</span>-->
<!--                        </div>-->

                        <!-- 결재 요청 버튼 영역 -->
                        <div class="flex-height d-flex m-0 p-2">
                            <div class="align-self-start align-self-center mr-3"></div>
                            <div class="align-self-center mr-7">
                                <button class="button" id="btn_apvlYryReq">저장</button>
                                <button class="button" id="btn_apvlYryCncl">취소</button>
                            </div>
                        </div>

                </div>
            </td>
        </tr>
    </table>

</div>
