{% extends 'common/base.html' %}

{% block content %}
    <div class="container">
        <script type="text/javascript">
        $(document).ready(function(){
            /**
            * 아이디 체크
            */
            var idChecking = false;
            var pwChecking = false;
            $('#idCheck').click(function(){

                console.log("idcheck");
                if( isNullChk("id1") ) return false;
                var id_text = $("#id1").val();

                var data = "id1="+$("#id1").val();
                $.ajax({
                    url : '/emp/idCheck/get',
                    type : 'GET',
                    data: data,
                    success: function(data){

                        if(data.result == 'True'){
                            alert("아이디가 중복되었습니다.")
                            idChecking = false;
                        }else{
                            alert("사용가능한 아이디입니다.")
                            idChecking = true;
                        }
                   }
                });
            });
            /**
            * 비밀번호 체크
            */
            $('#inputPassword2').blur(function(){
                var passWord = $("#inputPassword").val();
                var passWordRe = $("#inputPassword2").val();

                if(passWord != passWordRe){
                    alert("비밀번호가 다릅니다 확인해주세요.")
                    $("#pwCheck").text("비밀번호가 다릅니다.").css("color","red")
                }else{
                    $("#pwCheck").text("")
                    pwChecking = true;
                }
            });
            /**
            * 이메일 체크
            */
            $('#inputEmail').on("change keyup focusout",function(){
               var email= $("#inputEmail").val();
               var regEmail = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

               if( typeof email == "undefined" || email == null || email == "" ){
                   //alert('이메일 주소을(를) 입력하세요.');
                   //$('#inputEmail').focus();
                   return false;
               }
               else if(!regEmail.test(email)) {
                   //alert('이메일 주소가 유효하지 않습니다');
                   $("#emailCheck").text("이메일 주소가 유효하지 않습니다.").css("color","red")
                   //$('#inputEmail').focus();
                   return false;
               }else{
                    $("#emailCheck").text("")
                    $("#emailCheck").text("사용가능한 이메일 입니다.").css("color","green")
               }
            });
            /**
            * 전화번호 체크
            */
            $('#inputPhoneNumber').on("change keyup focusout ",function(){
               var phone= $("#inputPhoneNumber").val();
               var regPhone = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;

               phone = phone.replace(/[^0-9]/g,'')
               phone = phone.replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/,"$1-$2-$3");

               if( typeof phone == "undefined" || phone == null || phone == "" ){
                    //alert('전화번호을(를) 입력하세요.');
                    //$('#inputPhoneNumber').focus();
                    return false;
               }
               //else if(!regPhone.test(phone)) {
                  //alert('전화번호가 유효하지 않습니다');
                  //$('#inputPhoneNumber').focus();
                  //return false;
               //}
               $("#inputPhoneNumber").val(phone);
            });


            /* 등록 버튼 */
            $('#submitBtn').click(function(){
                console.log('등록');
                /* validate  st */
                if( isNullChk("id1") ) return false;
                if( isNullChk("inputPassword") ) return false;
                if( isNullChk("inputEmail") ) return false;
                if( isNullChk("inputPhoneNumber") ) return false;

                if(idChecking == false){
                    alert("아이디 중복체크를 해주세요.");
                    $('#id1').focus();
                    return false;
                }
                if(pwChecking == false){
                    alert("비밀번호를 확인해주세요.")
                    return false;
                }

                alert("valid 종료");
                /* validate  ed */

                $('#formDiv').ajaxCall({
                    method : 'POST',
                    url : '/emp/insert_ajax_new/post',
                    callbackFn : function(data){
                        var html = '';
                        html += '<dl class="row">';
                        html += '<dt class="col-sm-3">Status</dt>';
                        html += '<dd class="col-sm-9">' + data.status + '</dd>';
                        html += '<dt class="col-sm-3">Msg</dt>';
                        html += '<dd class="col-sm-9">' + data.msg + '</dd>';
                        html += '</dl>';

                        $('#ajaxResult').html(html);
                    }
                });

            });
            /* 조회 버튼 */
            $('#searchBtn').click(function(){
            console.log("???");
                $('#formSearchDiv').ajaxCall({
                    method : 'GET',
                    url : '/emp/newSearch/get',
                    callbackFn : function(data){
                        var gridList = $.parseJSON(data); /* 그리드에 세팅할 데이터는 JSON 배열 형태 */

                        var gridOptions = {
                            columns: [              /* columns : 그리드 헤더 및 매핑 시킬 컬럼 및 컬럼 속성 설정 항목(필수) */
                                {
                                    key: "EMP_ID",
                                    label: "EMAIL",
                                    width: 100,
                                    styleClass: function () {       /* column style css class */
                                        return "font-weight-bolder";
                                    },
                                    enableFilter: true,
                                    align: "center",
                                    editor: {type: "text"}          /* 컬럼값 수정 모드 시 표시할 타입. text는 input box */
                                },
                                {
                                    key: "id",
                                    label: "ID1",
                                    align: "left",
                                    editor: {type: "text"}
                                },
                                {
                                    key: "password",
                                    label: "PASSWORD",
                                    width: 80,
                                    align: "center",
                                    editor: {type: "password"}
                                },
                                {
                                    key: "phone",
                                    label: "PHONE",
                                    width: 80,
                                    align: "center",
                                    editor: {type: "tel"}
                                },

                            ]
                        };
                        firstGrid = $('[data-ax5grid="first-grid"]');
                        firstGrid = firstGrid.initGrid(gridOptions);
                        firstGrid.setData(gridList);
                    }
                });
            });
        });


        function fncNm(name,value){
            $("input[type=checkbox][name="+name+"]").prop("checked",false);
            $("input[name=chk][value="+value+"]").prop("checked",true);
        }

        /**
        * 문자열이 빈 문자열인지 체크하여 결과값을 리턴한다.
        * @param str       : 체크할 문자열
        */
        function isEmpty(str){
            if(typeof str == "undefined" || str == null || str == "")
                return true;
            else
                return false;
        }

        function isNullChk( objId ) {
            var objVal = document.getElementById( objId ).value;
            if( typeof objVal == "undefined" || objVal == null || objVal == "" ){
                 alert($("label[for="+objId+"]").text()+"을(를) 입력하세요.");
                 document.getElementById( objId ).focus();
                 return true;
            }else{
                return false;
            }
        }



    </script>
        <div class="form-group">
            <div class="col-sm-12">
                <div id="formDiv">
                     <div class="form-row">
                        <div class="form-group col-md-1">
                             <label for="id1">아이디</label>
                         </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="id1" name="id1" maxlength="100">
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-primary" id="idCheck">아이디 중복확인</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <label for="inputEmail">Email</label>
                        </div>
                        <div class="form-group col-md-7">
                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="....@.....com">
                        </div>
                        <div class="form-group col-md-3">
                             <label id="emailCheck"></label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <label for="inputPassword">비밀번호</label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="password" class="form-control" id="inputPassword" name="password" maxlength="20">
                        </div>
                        <div class="form-group col-md-1.5">
                            <label for="inputPassword2">비밀번호 확인</label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="password" class="form-control" id="inputPassword2" name="password2" maxlength="20">
                        </div>
                        <div class="form-group col-md-2">
                             <label id="pwCheck"></label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <label for="inputPhoneNumber">전화번호</label>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="tel" class="form-control" id="inputPhoneNumber" name="phone" maxlength="20">
                        </div>
                        <div class="form-group col-md-2">
                             <label id="phone"></label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" id="submitBtn">Sign in</button>
                <div id="ajaxResult">

                </div>
            </div>
            <div class="col-sm-12">

            </div>
            <div class="col-sm-12">
                <div id="formSearchDiv">
                    <div class="form-row">
                        <div class="form-group col-md-1">
                             <label for="id1">아이디</label>
                         </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="inputSearchId" name="inputId" maxlength="100">
                        </div>
                        <div class="form-group col-md-1">
                             <label for="inputSearchEmail">이메일</label>
                         </div>
                        <div class="form-group col-md-2">
                            <input type="email" class="form-control" id="inputSearchEmail" name="searchemail" placeholder="example@example.com" maxlength="70"/>
                        </div>
                        <div class="form-group col-md-1">
                             <label for="inputSearchPassword">비밀번호</label>
                         </div>
                        <div class="form-group col-md-2">
                            <input type="password" class="form-control" id="inputSearchPassword" name="inputSearchPw"  maxlength="70"/>
                        </div>
                        <div class="form-group col-md-2">
                            <button class="btn btn-primary" id="searchBtn">Search</button>
                        </div>
                    </div>
                </div>
                <h3>Grid <a href="http://ax5.io/ax5ui-grid/api/index.html" class="badge badge-info">Info</a></h3>
                <div style="position: relative;height:400px;" id="grid-parent">
                    <div data-ax5grid="first-grid" style="height: 100%;"></div>
                </div>
                <div>

                </div>
                <div id="ajaxUpdateResult">

                </div>
            </div>
        </div>
    </div>

{% endblock %}